<nav class="navbar navbar-expand-sm bg-dark navbar-dark mb-md-2">
    <div class="container mx-auto">
        <a class="navbar-brand" [routerLink]="['']">BE-ON-TOP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">liens à venir...</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Admin</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" [routerLink]="['evaluators']">Gestion des évaluateurs</a></li>
                        <li><a class="dropdown-item" href="#">Gestion des apprenants</a></li>
                        <li><a class="dropdown-item" href="#">Gestion des formateurs</a></li>
                        <li>
                            <hr>
                        </li>
                        <li><a class="dropdown-item" [routerLink]="['priorForm']">Saisie des questions d'accroche</a>
                        </li>
                        <li><a class="dropdown-item" [routerLink]="['socialForm']">Saisie des questions sociales</a>
                        </li>
                        <li><a class="dropdown-item" [routerLink]="['fullForm']">Saisie des questions de
                                positionnement</a></li>
                        <li>
                            <hr>
                        </li>
                        <li><a class="dropdown-item" [routerLink]="['questions']">Liste des questions d'accroche</a>
                        </li>
                        <li><a class="dropdown-item" [routerLink]="['socials']">Liste des questions sociales</a></li>
                        <li><a class="dropdown-item" [routerLink]="['fullList']">Liste des questions de
                                positionnement</a></li>
                    </ul>
                </li>
                <!-- ajout login global (on aura ultérieurement un public et privé réservé aux contributeurs et évaluateurs...) -->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                        data-bs-toggle="dropdown">Authentification</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" [routerLink]="['login']">Login</a></li>
                        <li><a class="dropdown-item" (click)="logOut()">Logout</a></li>
                        <li><a class="dropdown-item" [routerLink]="['register']">Inscription</a></li>
                    </ul>
                </li>

                <li class="nav-item">


                </li>
            </ul>
        </div>
    </div>
</nav>