.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}


.navbar-collapse {
    transition: all 0.3s ease;
    /* Ajoutez une transition pour la propriété "height" */
}

/* Pour masquer l'icône "hamburger" par défaut de Bootstrap */
.navbar-toggler-icon {
    background-image: none;
    border-color: #82BC00;
}

.navbar-toggler {
    background-image: none;
}

/* Pour afficher votre propre icône */
.navbar-toggler-icon::before {
    content: '\2630';
    font-size: 1.6rem;
    width: 60px;
    height: 4px;
}

/* Ajouter une classe spécifique pour l'icône "croix" lorsque le menu est fermé */
.navbar-toggler-icon.closed-menu::before {
    display: inline-block;
    content: "\2715";
    font-size: 1.5rem;
    /* color: #82BC00; */
    width: 30px;
    height: 4px;
}


.logo {
    /* width: 100%; */
    /* height: 100%; */
    max-height: 50px;
    margin-right: 15px;
}

li.nav-item.social>a::before {
    content: "";
    position: absolute;
    bottom: 0rem;
    height: 2px;
    /* background-color: #B2BC00 !important; */
}

li.nav-item.social a {
    opacity: 1 !important;

    /* Opacité complète pour le texte */
}

li.nav-item.social {
    /* background-color: #82BC00; */
    position: relative;
    /* Opacité complète pour le texte */
}

li.nav-item.social a::before {
    width: 95%;
    background-color: #82BC00;
    opacity: 1;
    /* Opacité complète pour le soulignement */
}
/* 
li.submenu{border: none;}

li.submenu a[role="button"]::before {
    display: none;
}
li.submenu a[role="button"]::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0;
    content: "";
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
} */





@media screen and (max-width:750px) {

    /* .logo {
        max-height: 8vw;
        margin-right: 8px;
    } */

    .dropdown-submenu .dropdown-menu{
        border: 0;
    
    }
}

@media screen and (max-width:400px) {


    .dropdown-submenu .dropdown-menu .dropdown-item{
        font-size: 0.8rem;    
    }


}