<nav class="navbar navbar-expand-md bg-dark navbar-dark mb-md-2 sticky-top">
    <div class="container mx-auto">
        <!-- <a class="navbar-brand" [routerLink]="['home', userRole || '']">BE-ON-TOP</a> -->
        <!-- pour éviter les erreurs d'interprétation des segments de chemin -->
        <!-- <a class="navbar-brand" [routerLink]="['home']" [queryParams]="{ userRole: userRole }">BE-ON-TOP</a> -->
        <a class="navbar-brand" [routerLink]="['']" [queryParams]="{ userRole: userRole }">BE-ON-TOP</a>

        <!-- <p class="text-light">{{userRole}} Authentification</p> -->
        <!-- <a class="navbar-brand" [routerLink]="['']">BE-ON-TOP</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <!-- <li class="nav-item">
                    <a class="nav-link" [routerLink]="['socialregistration']">Pré-inscription Formation</a>
                </li> -->

                <li class="nav-item dropdown" [routerLinkActive]="['active']"
                    *ngIf="userUid!==undefined && userUid!=='' && userRole!=='student' && userRole!=='editor'">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        *ngIf="userRole.includes('admin') || userRole.includes('trainer') || userRole.includes('tutor') || userRole.includes('external')">Admin</a>
                    <!-- <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Admin</a> -->
                    <ul class="dropdown-menu">
                        <li *ngIf="userRole.includes('admin')"><a class="dropdown-item"
                                [routerLink]="['/admin/settings']">Paramètres</a>
                        </li>

                        <li *ngIf="userRole.includes('admin')">
                            <hr>
                        </li>
                        <li *ngIf="userRole.includes('admin')"><a class="dropdown-item"
                                [routerLink]="['/admin/evaluators']">Gestion des évaluateurs</a>
                        </li>
                        <li><a class="dropdown-item" [routerLink]="['/admin/trainers']"
                                *ngIf="userRole.includes('admin')">Gestion des formateurs</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/admin/tutors']"
                                *ngIf="userRole.includes('admin')">Gestion des tuteurs</a></li>
                        <!-- pour mémo, pour l'instant on utilise le simple contributeur comme utilisateur générique -->
                        <li><a class="dropdown-item" [routerLink]="['/admin/users']"
                                *ngIf="userRole.includes('admin')">Gestion des contributeurs</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/admin/externals']"
                                *ngIf="userRole.includes('admin')">Gestion des observateurs</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/admin/students']"
                                *ngIf="userRole.includes('admin')">Gestion des candidats</a></li>
                        <!-- liste étudiants  pour observateurs -->
                        <li><a class="dropdown-item" [routerLink]="['/admin/externalStudentsList']"
                                *ngIf="userRole.includes('external')">Annuaire candidats</a></li>

                        <li *ngIf="userRole.includes('admin') || userRole.includes('evaluators')">
                            <hr>
                        </li>
                        <li><a class="dropdown-item" [routerLink]="['/admin/priorForm']"
                                *ngIf="userRole.includes('evaluator') || userRole.includes('admin')">Saisie des
                                questions d'accroche</a>
                        </li>
                        <li>
                            <!-- <a class="dropdown-item" [routerLink]="['/admin/socialForm']"[ngClass]="{'d-none':userRole!=='evaluator' && userRole!=='admin'}">Saisie des questions sociales</a> -->
                        <li>
                            <!-- puisque evaluator est aussi susceptiblle d'etre trainer l'attribution des roles est maintenant enregistrée dans un array -->
                            <!-- <a class="dropdown-item" [routerLink]="['/admin/socialForm']" *ngIf="userRole==='evaluator' || userRole==='admin' ">Saisie des questions sociales</a> -->
                            <a class="dropdown-item" [routerLink]="['/admin/socialForm']"
                                *ngIf="userRole.includes('evaluator') || userRole.includes('admin')">Saisie des
                                questions sociales</a>
                        </li>
                        <li><a class="dropdown-item" [routerLink]="['/admin/fullForm']"
                                *ngIf="userRole.includes('evaluator') || userRole.includes('admin')">Saisie des
                                questions de
                                positionnement</a></li>
                        <li *ngIf="userRole.includes('evaluator') || userRole.includes('admin')">
                            <hr>
                        </li>
                        <li><a class="dropdown-item" [routerLink]="['/admin/questions']"
                                *ngIf="userRole.includes('evaluator') || userRole.includes('admin')">Liste des questions
                                d'accroche</a>
                        </li>
                        <li><a class="dropdown-item" [routerLink]="['/admin/socials']"
                                *ngIf="userRole.includes('evaluator') || userRole.includes('admin')">Liste des questions
                                sociales</a>
                        </li>

                        <!-- ici, on peut d'ailleurs remarquer que l'ont a déjà affaire à  -->
                        <li><a class="dropdown-item" [routerLink]="['/admin/fullList']"
                                *ngIf="userRole.includes('evaluator') || userRole.includes('admin')">Liste des questions
                                de
                                positionnement</a></li>
                        <li *ngIf="userRole.includes('admin')">
                            <hr>
                        </li>
                        <li><a class="dropdown-item" [routerLink]="['/admin/myStudents']"
                                *ngIf="userRole.includes('trainer') || userRole.includes('admin')">Suivi pédagogique</a>
                        </li>
                        <li><a class="dropdown-item" [routerLink]="['/admin/tutor/myStudents']"
                                *ngIf="userRole.includes('tutor') || userRole.includes('admin')">Suivi tutorial</a>
                        </li>
                    </ul>
                </li>
                <!-- ajout login global (on aura ultérieurement un public et privé réservé aux contributeurs et évaluateurs...) -->

                <li class="nav-item dropdown" [routerLinkActive]="['active']">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                        data-bs-toggle="dropdown">Authentification</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" [routerLink]="['login']">Login</a></li>
                        <!-- <li><a class="dropdown-item" (click)="logOut()" [routerLink]="['']">Logout</a></li> -->
                        <li><a class="dropdown-item" (click)="logOut()">Logout</a></li>
                        <li><a class="dropdown-item" [routerLink]="['account']">Mon compte</a></li>
                        <li><a class="dropdown-item" [routerLink]="['register']">Inscription</a></li>
                    </ul>
                </li>

                <!-- pour les accès aux métiers en base -->
                <!-- <li class="nav-item dropdown" *ngIf="trades">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Nos métiers</a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let trade of trades">
                            <a class="dropdown-item" [routerLink]="['/trade', trade.sigle]" routerLinkActive="active">{{trade.denomination}}</a>
                        </li>
                    </ul>
                </li> -->

                <li class="nav-item dropdown" *ngIf="trades" [routerLinkActive]="['active']">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Nos métiers</a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let trade of trades">
                            <a class="dropdown-item" [routerLink]="['/trade', trade.sigle]">{{trade.denomination}}</a>
                        </li>
                    </ul>
                </li>

                <!-- Inscription lien externe -->
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['socialregistration']" role="button">Inscription Formation</a>
                </li>

            </ul>
        </div>
    </div>
</nav>