<div class="container py-5">

    <h3>Gestion des Centres de Formation</h3>
    <hr>
    <div *ngIf="(!allCenters)">
        ...loading
    </div>

    <div *ngIf="allCenters">
        <div class="mb-3">
            <!-- <label class="form-label">Filtrer par type :</label> -->
            <div class="form-check form-check-inline mb-3" *ngFor="let type of centerTypes">
                <input class="form-check-input" type="radio" name="centerTypeFilter" [value]="type.value"
                    [(ngModel)]="selectedType" (change)="applyFilter()" />
                <label class="form-check-label">{{ type.label }}</label>
            </div>
        </div>


        <!-- on introduit un champ de recherche -->
        <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
        <!-- <div class="row mt-5"> -->

        <!-- <div *ngFor="let center of allCenters"> -->
        <div *ngFor="let center of filteredCenters">

            <div class="row mt-4 ps-5 ps-sm-0"
                *ngIf="searchText==='' || center.name.includes(searchText) || center.name.toLowerCase().includes(searchText) || center.cp.toLowerCase().includes(searchText) || center.id.includes(searchText) ">

                <div class="col-md-3 col-4">{{center.name}}</div>

                <!-- <div class="col-sm-3 col-6 order-perso2">{{center.cp}}</div> -->
                <div class="col-md-3 col-8">{{center.cp}}</div>

                <!-- <div class="col-sm-3 col-6 order-perso2">{{center.id}}</div> -->

                <div *ngIf="userRouterLinks.user=='admin' && center.status" class="col-md-2 col-4"><button
                        class="btn btn-secondary" (click)="disableCenter(center.id)">{{"Désactiver"}}</button></div>

                <div *ngIf="userRouterLinks.user=='admin' && !center.status" class="col-md-2 col-4">
                    <button *ngIf="!center.status || center.status===false" (click)="enableCenter(center.id)"
                        class="btn btn-light">Réactiver</button>
                </div>



                <div *ngIf="userRouterLinks.user=='admin'" class="col-md-2 col-4"><button class="btn btn-danger"
                        (click)="deleteCenter(center.id)"><i class="bi bi-trash-fill rwd"></i>Suppression</button></div>

                <!-- <div class="col-sm-2 col-4 order-perso4"><button class="btn btn-primary"> -->
                <div class="col-md-2 col-4"><button class="btn btn-primary">

                        <a *ngIf="userRouterLinks.user=='admin'" [routerLink]="['/admin/center', center.id]"
                            class="text-white"><i class="bi bi-eye-fill rwd"></i>Détails</a>

                        <a *ngIf="userRouterLinks.user!=='admin'" [routerLink]="['/center', center.id]"
                            class="text-white"><i class="bi bi-eye-fill"></i>Détails</a>
                    </button></div>
            </div>

        </div>


        <div class="row my-5 justify-content-end ps-5 ps-sm-0" *ngIf="userRouterLinks.user=='admin'">
            <div class="col-sm-3"><button class="btn btn-primary"><a [routerLink]="['/admin/addCenters']"
                        class="text-white"><i class="bi bi-plus-circle-fill"></i>Ajouter</a></button></div>
        </div>
    </div>
    <hr>
    <label for="csvUpload" class="mb-3">
        Si vous ne l'avez encore jamais fait, et que vous avez ajouté déjà de nombreux centres, cet export vous
        permettra de récupérer les identifiants associés à chaque centre afin de pouvoir faire des mises à jour en
        nombre.
    </label>
    <button (click)="exportCentersToCSV()" class="btn btn-primary">
        📁 Exporter la liste en CSV
    </button>
    <hr>

    <!-- <label for="csvUpload" class="mb-3">
  📤 Importer CSV (pour mise à jour sigles)
</label>
<input 
  id="csvUpload"
  type="file"
  accept=".csv"
  class="form-control"
  (change)="updateNewTradeForCenter($event)" /> -->
    <label for="csvUpload" class="mb-3">
        📤 Importer CSV (pour mise à jour sigles)
    </label>
    <input id="csvUpload" type="file" accept=".csv" class="form-control" (change)="onCsvSelected($event)" />

    <button class="btn btn-success mt-2" [disabled]="!selectedCsvFile" (click)="updateNewTradeForCenter()">
        Valider l'import
    </button>



</div>