<div class="container py-5">

    <app-feedback-messages [feedbackMessages]="feedbackMessages"
        [isSuccessMessage]="isSuccessMessage"></app-feedback-messages>


    <h3>Ajouter un évaluateur existant comme formateur</h3>

    <form #reg="ngForm" (submit)="addEvaluatorAsTrainer(reg)" class="form">
        <div class="form-group">
            <select class="form-select" name="idEval" ngModel #idEval="ngModel"
                (change)="onEvaluatorSelected(idEval.value)">
                <option value="">Sélectionner un évaluateur</option>
                <option *ngFor="let evaluator of registryEvaluators" [value]="evaluator.id">
                   {{evaluator.firstName}}-{{ evaluator.email }}
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">  {{ selectedEvaluator ? 'Choix validé' : 'Valider le choix' }}</button>
    </form>

    <!-- Mise à jour des métiers pour l’évaluateur existant (inscrits en dur pour tests,  qui seront requêtés plus tard) -->
    <div *ngIf="isExistingEvaluatorSelected">
        <!-- <h4>Affectation métier :</h4> -->
        <form #expertiseForm="ngForm" (submit)="addEvaluatorAsTrainer(expertiseForm)">
            <label for="sigle" class="form-label mt-3">Affectation métier :</label>
            <select class="form-select" name="sigle" ngModel multiple required>
                <option value="prepa_cdes">PREPA CDES</option>
                <option value="poseur_ite">POSEUR ITE</option>
                <option value="macon_vrd">MACON VRD</option>
                <option value="cl_vul">CL VUL</option>
            </select>
            <button type="submit" class="btn btn-primary mt-3">Ajouter</button>
        </form>
    </div>

    <hr>

    <h3>Ajouter un formateur à la liste des formateurs</h3>

    <!-- pour les messages de retour/validation des champs du formulaire ou form validation, on utilisera BOOTSTRAP plutôt que des directives structurelles -->
    <form class="form" #f="ngForm" (submit)="addTrainer(f)" class="was-validated">

        <!-- attention à virer les fonctions pour l'exercice sur (change) et (input) !!!!!! -->
        <div class="row">
            <div class="form-group col-md-6">
                <label for="firstName" class="form-label mt-3">Prénom *</label>
                <input type="text" id="firstName" ngModel name="firstName" class="form-control" placeholder="Prénom"
                    required>
                <div class="valid-feedback" *ngIf="lastName.valid">Champ correctement renseigné</div>
                <div class="invalid-feedback" *ngIf="lastName.invalid">Merci de renseigner le champ nom.</div>
            </div>
            <div class="form-group  col-md-6">
                <label for="lastName" class="form-label mt-3">Nom *</label>
                <input type="text" id="lastName" ngModel name="lastName" class="form-control" #lastName="ngModel"
                    placeholder="Nom" required>
                <div class="valid-feedback" *ngIf="lastName.valid">Champ correctement renseigné</div>
                <div class="invalid-feedback" *ngIf="lastName.invalid">Merci de renseigner le champ nom.</div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label for="email" class="form-label mt-3">Email *</label>
                <div class="input-group">
                    <span class="input-group-text" id="inputGroupPrepend2">@</span>
                    <input type="email" id="email" ngModel name="email" class="form-control" #email="ngModel"
                        placeholder="Email" required>
                    <div class="valid-feedback" *ngIf="email.valid">Email Valide </div>
                    <div class="invalid-feedback" *ngIf="email.invalid">Merci de renseigner le champ email.</div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="cp" class="form-label mt-3">CP</label>
                <input type="text" id="cp" ngModel name="cp" class="form-control"
                    placeholder="Code Postal Optionnel...">
            </div>
        </div>

        <!-- affectation métier -->
        <label for="sigle" class="form-label mt-3">Affectation métier :</label>
        <!-- <select class="form-select" name="sigle" id="sigle" ngModel required #sigle="ngModel"
            (change)="checkIfSelected(sigle.value)" multiple>
            <option value>Selectionner le métier</option>
            <option value="prepa_cdes">PREPA CDES</option>
            <option value="poseur_ite">POSEUR ITE</option>
            <option value="macon_vrd">MACON VRD</option>
            <option value="cl_vul">CLVUL</option>
        </select> -->
        <select class="form-select" name="sigle" id="sigle" ngModel required #sigle="ngModel"
            (change)="checkIfSelected(sigle.value)" multiple>
            <option value>Selectionner le métier</option>
            <option *ngFor="let trade of tradesData" value="{{trade}}">{{trade}}</option>
        </select>

        <!-- <label for="details" class="form-label mt-3">Commentaires optionnels</label> -->
        <textarea name="details" id="details" ngModel name="details" cols="100" rows="10" class="form-control mt-3"
            #details="ngModel" [ngClass]="{'.is-valid':details.value && details.touched}"
            placeholder="Commentaires optionnels...">Détails / Remarques & Objectifs...</textarea>
        <button type="submit" class="btn btn-primary mt-3" [ngClass]="{'disabled':f.invalid}">Ajouter</button>
    </form>

    <hr>



    <h3 class="mt-3">Importer plusieurs formateurs</h3>
    <div class="form-group">
        <label for="csvFile" class="form-label">Choisissez un fichier CSV</label>
        <input type="file" id="csvFile" (change)="onFileSelected($event)" accept=".csv" class="form-control">
    </div>
    <button type="submit" class="btn btn-secondary mt-4" (click)="uploadCSV()"
        [disabled]="!selectedFile">Importer</button>


</div>