.formation {
    font-weight: bold;
    position: relative;
    padding-left: 20px;
    /* max-width: 100%; */

}  

.formation::before {
    content: '\2192';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  }

  .btn:hover {
    transform: none;
}


/* .read-only-form {
  pointer-events: none;
  opacity: 0.7; 
} */


.read-only-form input, .read-only-form textarea, .read-only-form.form-control{
  color: #666; /* Couleur de texte gris pour indiquer que le champ est en lecture seule */
  pointer-events: none;
  
}
.read-only-form{
  opacity: 0.85;   
}

.read-only-form button{
  opacity: 0.6;   
}

.ng-valid[required], .ng-valid.required  {
  border: 1px solid #42A948; /* green */
}

.valid{
  color: #42A948; /* green */
  border: 0;
  font-size: smaller;
}

.ng-invalid:not(form)  {
  border: 1px solid #a94442; /* red */
}
.invalid  {
  border: 0;
  color: #a94442; /* red */
  font-size: smaller;
}



/* @media only screen and (max-width: 600px) {
  option select span.rwd {
    background-color: lightblue;
    color: red!important;
  }
} */

select option {
  white-space: nowrap; /* Empêche le retour à la ligne */
  overflow: hidden;    /* Cache le texte qui dépasse */
  text-overflow: ellipsis; /* Ajoute "..." pour le texte trop long */
}

.main-city {
  color: #555;
  font-style: italic;
}



@media only screen and (max-width: 430px) {
  ::ng-deep select option span {
    background-color: lightblue;
    color: red!important;
  }

  select option{
    font-size: smaller;
  }
}


  


