<div class="container py-5">

  <h3 class="mb-3">Paramètres de l'application</h3>
  <app-feedback-messages [feedbackMessages]="feedbackMessages"
    [isSuccessMessage]="isSuccessMessage"></app-feedback-messages>

  <h4>Ajout des métiers (sigles) et leurs compétences (AT)</h4>
  <form #settingsForm="ngForm" class="mt-4" (submit)="addSigles(settingsForm)" class="was-validated">

    <div class="form-group">
      <label for="sigle" class="form-label mt-3">Sigle</label>
      <input type="text" name="sigle" ngModel #sigle="ngModel" class="form-control" required minlength="3">
      <div *ngIf="sigle.dirty || (sigle.touched && sigle.invalid)" class="invalid-feedback">
        Veuillez fournir un sigle valide.
      </div>
      <label for="denomination" class="form-label mt-3">Dénomination</label>
      <input type="text" name="denomination" ngModel #denomination="ngModel" class="form-control" required
        minlength="3">
      <div *ngIf="denomination.dirty || (denomination.touched && denomination.invalid)" class="invalid-feedback">
        Veuillez fournir une dénomination valide.
      </div>
      <div *ngIf="sigle.valid" class="valid-feedback">
        Nom valide.
      </div>
      <!-- pour arrêter le nombre de compétences par métier -->
      <label for="totalCP" class="form-label mt-3">Nombre de compétences au référenciel métier</label>
      <input type="number" name="totalCP" ngModel #totalCP="ngModel" class="form-control mb-1" required
        (change)="getTotal(totalCP)">
      <div *ngIf="totalCP.touched && totalCP.invalid" class="invalid-feedback">Veuillez fournir un nombre minimum de
        compétences.
      </div>
      <div *ngIf="totalCP.valid" class="valid-feedback">
        Champ OK.
      </div>

      <div *ngIf="total?.length!=0">
        <div *ngFor="let nb of total">
          <label for="CP{{nb}}" class="form-label mt-3">CP{{nb}}</label>
          <input type="text" name="CP{{nb}}" ngModel class="form-control" required minlength="7">
          <label for="cost_CP{{nb}}" class="form-label mt-3">Coût horaire de CP{{nb}}</label>
          <input type="number" name="cost_CP{{nb}}" ngModel class="form-control"
            placeholder="renseigner le prix horaire en entier">
          <hr>
          <label class="form-label mt-3">Estimation du nombre d'heures pour CP{{nb}}</label>
          <div class="form-group w-75">
            <input type="number" name="level1_CP{{nb}}" ngModel class="form-control" minlength="1"
              placeholder="durée courte en heures">
            <input type="number" name="level2_CP{{nb}}" ngModel class="form-control" minlength="1"
              placeholder="durée moyenne en heures">
            <input type="number" name="level3_CP{{nb}}" ngModel class="form-control" minlength="1"
              placeholder="durée longue en heures">
          </div>
        </div>
      </div>

      <!-- essai boutons additionnels pour ajouter des compétences à l'unité -->
      <!-- <button (click)="addField('CP')">+</button> -->
    </div>

    <button id="settingsForm" type="submit" class="btn btn-primary mt-4"
      [disabled]=settingsForm.invalid>Ajouter</button>
  </form>

  <hr>

  <h3>Ajout de curseurs personnalisés pour le calcul des 3 niveaux de résultat au terme du positionnement des
    candidats
  </h3>

  <!-- pour les curseurs -->
  <hr>
  <form #setCursorsForm="ngForm" class="mt-4" (submit)="addLevelCursors(setCursorsForm)" class="was-validated">

    <div class="form-group">

      <label for="firstCursor" class="form-label mt-3">Curseur 1</label>
      <input type="number" name="firstCursor" ngModel #firstCursor="ngModel" class="form-control" required>
      <div *ngIf="firstCursor.touched && firstCursor.invalid" class="invalid-feedback">
        Veuillez fournir un sigle valide.
      </div>
      <div *ngIf="secondCursor.valid" class="valid-feedback">
        Ok. Curseur pris en compte
      </div>
      <label for="secondCursor" class="form-label mt-3">Curseur 2</label>
      <input type="number" name="secondCursor" ngModel #secondCursor="ngModel" class="form-control" required>
      <div *ngIf="secondCursor.touched && secondCursor.invalid" class="invalid-feedback">
        Veuillez fournir un nombre
      </div>
      <div *ngIf="secondCursor.valid" class="valid-feedback">
        Ok. Curseur pris en compte
      </div>

    </div>

    <button id="settingsForm" type="submit" class="btn btn-primary mt-4"
      [disabled]=setCursorsForm.invalid>Ajouter</button>
  </form>



</div>

<hr>

<h3>Nombre de questions néccessaires à la finalisation d'un QCM de positionnement
</h3>


<form #setMaxForm="ngForm" class="mt-4" (submit)="addMaxIndexQuestion(setMaxForm)" class="was-validated">

  <div class="form-group">

    <label for="maxIndexQuestion" class="form-label mt-3">Nombre de questions</label>
    <input type="number" name="maxIndexQuestion" ngModel #maxIndexQuestion="ngModel" class="form-control" required
      min="40">
    <div *ngIf="maxIndexQuestion.touched && maxIndexQuestion.invalid" class="invalid-feedback">
      Veuillez indiquer un nombre supérieur à 40
    </div>
    <div *ngIf="secondCursor.valid" class="valid-feedback">
      Ok. Maxium pris en compte
    </div>

  </div>

  <button id="settingsForm" type="submit" class="btn btn-primary mt-4"
    [disabled]=setMaxForm.invalid>Ajouter</button>
</form>