<div class="container py-5">

    <h3>Formulaire de saisie des questions préalables</h3>
    <p class="border-dark bg-light rounded p-2" role="alert">Numéros de questions déjà enregistrées :
        {{registryNumbers}}</p>

    <!-- pour les messages de retour/validation des champs du formulaire ou form validation, on utilisera BOOTSTRAP plutôt que des directives structurelles -->
    <form class="form" #f="ngForm" class="was-validated" (submit)="submitForm(f)">
        <div class="form-group row justify-content-between">
            <div class="col-sm-3">
                <select class="form-select" name="sigle" id="sigle" ngModel required #sigle="ngModel"
                    (change)="checkIfSelected(sigle.value)">
                    <option value>Selectionner le métier</option>
                    <option value="prepa_cdes">PREPA CDES</option>
                    <option value="poser_ite">POSEUR ITE</option>
                    <option value="macon_vrd">MACON VRD</option>
                    <option value="cl_vul">CLVUL</option>
                </select>
                <!-- <div class="valid-feedback" *ngIf="comment1.valid">Champ correctement renseigné</div> -->
            </div>
            <div class="col-sm-3">
                <select class="form-select" name="competence" id="competence" ngModel required #competence="ngModel">
                    <option value>Competence ciblée en fonction du métier</option>
                    <!-- <option value=competences_ite.CP1 [disabled]="selectedSigle != 'poser_ite'">CP1 {{competences_ite.CP1}}</option> -->
                    <option value="p_ite_CP1" [ngClass]="{'d-none': selectedSigle != 'poser_ite'}">CP1
                        {{competences_ite.CP1}}</option>
                    <option value="p_ite_CP2" [ngClass]="{'d-none': selectedSigle != 'poser_ite'}">CP2
                        {{competences_ite.CP2}}</option>
                    <option value="p_ite_CP3" [ngClass]="{'d-none': selectedSigle != 'poser_ite'}">CP3
                        {{competences_ite.CP3}}</option>
                    <option value="p_ite_CP4" [ngClass]="{'d-none': selectedSigle != 'poser_ite'}">CP4
                        {{competences_ite.CP4}}</option>
                    <option value="p_ite_CP5" [ngClass]="{'d-none': selectedSigle != 'poser_ite'}">CP5
                        {{competences_ite.CP5}}</option>
                    <option value="p_ite_CP6" [ngClass]="{'d-none': selectedSigle != 'poser_ite'}">CP6
                        {{competences_ite.CP6}}</option>
                    <option value="p_ite_CP7" [ngClass]="{'d-none': selectedSigle != 'poser_ite'}">CP7
                        {{competences_ite.CP7}}</option>
                    <option value="p_ite_CP8" [ngClass]="{'d-none': selectedSigle != 'poser_ite'}">CP8
                        {{competences_ite.CP8}}</option>
                    <option value="p_ite_CP9" [ngClass]="{'d-none': selectedSigle != 'poser_ite'}">CP9
                        {{competences_ite.CP9}}</option>
                    <option value="p_ite_CP10" [ngClass]="{'d-none': selectedSigle != 'poser_ite'}">CP10
                        {{competences_ite.CP10}}</option>

                    <option value="p_cdes_CP1" [ngClass]="{'d-none': selectedSigle != 'prepa_cdes'}">CP1
                        {{competences_cdes.CP1}}</option>
                    <option value="p_cdes_CP2" [ngClass]="{'d-none': selectedSigle != 'prepa_cdes'}">CP2
                        {{competences_cdes.CP2}}</option>
                    <option value="p_cdes_CP3" [ngClass]="{'d-none': selectedSigle != 'prepa_cdes'}">CP3
                        {{competences_cdes.CP3}}</option>
                    <option value="p_cdes_CP4" [ngClass]="{'d-none': selectedSigle != 'prepa_cdes'}">CP4
                        {{competences_cdes.CP4}}</option>

                    <option value="m_vrd_CP1" [ngClass]="{'d-none': selectedSigle != 'macon_vrd'}">CP1
                        {{competences_vrd.CP1}}</option>
                    <option value="m_vrd_CP2" [ngClass]="{'d-none': selectedSigle != 'macon_vrd'}">CP2
                        {{competences_vrd.CP2}}</option>
                    <option value="m_vrd_CP3" [ngClass]="{'d-none': selectedSigle != 'macon_vrd'}">CP3
                        {{competences_vrd.CP3}}</option>
                    <option value="m_vrd_CP4" [ngClass]="{'d-none': selectedSigle != 'macon_vrd'}">CP4
                        {{competences_vrd.CP4}}</option>
                    <option value="m_vrd_CP5" [ngClass]="{'d-none': selectedSigle != 'macon_vrd'}">CP5
                        {{competences_vrd.CP5}}</option>
                    <option value="m_vrd_CP6" [ngClass]="{'d-none': selectedSigle != 'macon_vrd'}">CP6
                        {{competences_vrd.CP6}}</option>
                    <option value="m_vrd_CP7" [ngClass]="{'d-none': selectedSigle != 'macon_vrd'}">CP7
                        {{competences_vrd.CP7}}</option>
                    <option value="m_vrd_P8" [ngClass]="{'d-none': selectedSigle != 'macon_vrd'}">CP8
                        {{competences_vrd.CP8}}</option>
                    <option value="m_vrd_CP9" [ngClass]="{'d-none': selectedSigle != 'macon_vrd'}">CP9
                        {{competences_vrd.CP9}}</option>
                    <option value="m_vrd_CP10" [ngClass]="{'d-none': selectedSigle != 'macon_vrd'}">CP10
                        {{competences_vrd.CP10}}</option>

                    <option value="cl_vul_CP1" [ngClass]="{'d-none': selectedSigle != 'cl_vul'}">CP1
                        {{competences_vul.CP1}}</option>
                    <option value="cl_vul_CP2" [ngClass]="{'d-none': selectedSigle != 'cl_vul'}">CP2
                        {{competences_vul.CP2}}</option>
                    <option value="cl_vul_CP3" [ngClass]="{'d-none': selectedSigle != 'cl_vul'}">CP3
                        {{competences_vul.CP3}}</option>
                    <option value="cl_vul_CP4" [ngClass]="{'d-none': selectedSigle != 'cl_vul'}">CP4
                        {{competences_vul.CP4}}</option>
                    <option value="cl_vul_CP5" [ngClass]="{'d-none': selectedSigle != 'cl_vul'}">CP5
                        {{competences_vul.CP5}}</option>
                    <option value="cl_vul_CP6" [ngClass]="{'d-none': selectedSigle != 'cl_vul'}">CP6
                        {{competences_vul.CP6}}</option>
                    <option value="cl_vul_CP7" [ngClass]="{'d-none': selectedSigle != 'cl_vul'}">CP7
                        {{competences_vul.CP7}}</option>
                    <option value="cl_vul_CP8" [ngClass]="{'d-none': selectedSigle != 'cl_vul'}">CP8
                        {{competences_vul.CP8}}</option>

                </select>
            </div>
            <div class="col-sm-3">
                <select class="form-select" name="notation" id="notation" ngModel required #notation="ngModel">
                    <option value>Points attribués à la question</option>
                    <option *ngFor="let notation of notations" value="{{notation}}">{{notation}}</option>
                </select>
                <!-- <div class="valid-feedback" *ngIf="comment1.valid">Champ correctement renseigné</div> -->
            </div>
            <!-- ajout du nombre des questions -->
            <div class="col-sm-3">
                <select class="form-select" id="number" name="number" ngModel required #number="ngModel">
                    <option value>Numéro de question</option>
                    <option *ngFor="let element of numbers" value="{{element}}">{{element}}</option>
                </select>

                <!-- 

                <select class="language-selector" [(ngModel)]="selectedLanguage">
                    <option *ngFor="let language of outputLanguageList" 
                    value="{{language.shortName}}" >{{language.languageName}}</option>
                  </select> -->


                <!-- <div class="valid-feedback" *ngIf="comment1.valid">Champ correctement renseigné</div> -->
            </div>
        </div>

        <label for="question" class="form-label mt-3">Question *</label>
        <input type="text" id="question" ngModel name="question" class="form-control"
            placeholder="Saisir la question..." required #question="ngModel">
        <div class="valid-feedback" *ngIf="question.valid">Champ correctement renseigné</div>
        <div class="invalid-feedback" *ngIf="question.invalid">Merci de renseigner le libellé obligatoire de la question
        </div>
        <input type="file" accept="image/*, video/*" id="mediaQuestion" ngModel name="mediaQuestion"
            class="form-control" #mediaQuestion="ngModel" placeholder="Fichier média de votre choix"
            onchange="console.log(event.target.files)" (change)="detectFiles($event, mediaQuestion )">
        <hr>
        <p class="bg-light rounded p-3 fst-italic">Un minimum de 2 options de réponse* est nécessaire à la validation du
            formulaire. Vous pouvez, si vous le souhaitez, ajouter des fichiers média (image, vidéo...) ou commentaires
            spécifiques
            pour chaque élémenet de réponse </p>
        <label for="option1" class="form-label mt-3">Réponse 1 * </label>
        <input type="text" id="option1" ngModel name="option1" class="form-control" #option1="ngModel"
            placeholder="Option de réponse 1" required>
        <div class="valid-feedback" *ngIf="option1.valid">Champ correctement renseigné</div>
        <div class="invalid-feedback" *ngIf="option1.invalid">Merci de renseigner le champ réponse 1.</div>
        <label for="mediaOption1" class="form-label mt-3">Pièce jointe si besoin</label>
        <input type="file" id="mediaOption1" name="mediaOption1" class="form-control" #mediaOption1
            placeholder="Fichier média de votre choix" (change)="detectFiles($event, mediaOption1)">
        <label for="comment1" class="form-label mt-3">Commentaire</label>
        <textarea id="comment1" ngModel name="comment1" class="form-control" #comment1="ngModel"
            placeholder="Commentaire si besoin" cols="30" rows="5"></textarea>
        <!-- <div class="valid-feedback" *ngIf="comment1.valid">Champ correctement renseigné</div> -->
        <!-- valeur de la réponse -->
        <div class="form-group d-flex gap-5 mt-3">
            <div class="form-check">
                <input type="radio" class="form-check-input" name="optScoring1" value="true" ngModel
                    [checked]="optScoring1" required>Vraie
                <label class="form-check-label" for="radio1"></label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" name="optScoring1" value="false" ngModel
                    [checked]="optScoring1" required>Fausse
                <!-- <label class="form-check-label" for="radio2"></label> -->
            </div>
        </div>
        <!-- fin valeur de la réponse -->
        <hr>
        <label for="option2" class="form-label mt-3">Réponse 2 * </label>
        <input type="text" ngModel name="option2" class="form-control" #option2="ngModel"
            placeholder="Option de réponse 2" required>
        <div class="valid-feedback" *ngIf="option2.valid">Champ correctement renseigné</div>
        <div class="invalid-feedback" *ngIf="option2.invalid">Merci de renseigner le champ réponse 2.</div>
        <label for="mediaOption2" class="form-label mt-3">Pièce jointe si besoin</label>
        <input type="file" id="mediaOption2" name="mediaOption2" class="form-control" #mediaOption2
            placeholder="Fichier média de votre choix" (change)="detectFiles($event, mediaOption2)">
        <label for="comment2" class="form-label mt-3">Commentaire</label>
        <textarea id="comment2" ngModel name="comment2" class="form-control" #comment2="ngModel"
            placeholder="Commentaire si besoin" cols="30" rows="5"></textarea>
        <!-- <div class="valid-feedback" *ngIf="comment1.valid">Champ correctement renseigné</div> -->
        <!-- valeur de la réponse -->
        <div class="form-group d-flex gap-5 mt-3">
            <div class="form-check">
                <input type="radio" class="form-check-input" name="optScoring2" value="true" ngModel
                    [checked]="optScoring2" required>Vraie
                <label class="form-check-label" for="radio1"></label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" name="optScoring2" value="false" ngModel
                    [checked]="optScoring1" required>Fausse
                <!-- <label class="form-check-label" for="radio2"></label> -->
            </div>
        </div>
        <!-- fin valeur de la réponse -->
        <hr>
        <label for="option2" class="form-label mt-3">Réponse 3</label>
        <input type="text" ngModel name="option3" class="form-control" #option3="ngModel"
            placeholder="Option de réponse 3">
        <div class="valid-feedback" *ngIf="option3.valid">Champ correctement renseigné</div>
        <!-- <div class="invalid-feedback" *ngIf="option3.invalid">Merci de renseigner le champ nom.</div> -->
        <label for="mediaOption3" class="form-label mt-3">Pièce jointe si besoin</label>
        <input type="file" id="mediaOption3" name="mediaOption3" class="form-control" #mediaOption3
            placeholder="Fichier média de votre choix" (change)="detectFiles($event, mediaOption3)">
        <label for="comment3" class="form-label mt-3">Commentaire</label>
        <textarea id="comment3" ngModel name="comment3" class="form-control" #comment3="ngModel"
            placeholder="Commentaire si besoin" cols="30" rows="5"></textarea>
        <!-- <div class="valid-feedback" *ngIf="comment1.valid">Champ correctement renseigné</div> -->
        <!-- valeur de la réponse -->
        <div class="form-group d-flex gap-5 mt-3">
            <div class="form-check">
                <input type="radio" class="form-check-input" name="optScoring3" value="true" ngModel
                    [checked]="optScoring3" [required]="f.value.option3!=''">Vraie
                <!-- <label class="form-check-label" for="radio1"></label> -->
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" name="optScoring3" value="false" ngModel
                    [checked]="optScoring3" [required]="f.value.option3!=''">Fausse
                <!-- <label class="form-check-label" for="radio2"></label> -->
            </div>
        </div>
        <!-- fin valeur de la réponse -->
        <hr>
        <label for="option4" class="form-label mt-3">Réponse 4 </label>
        <input type="text" ngModel name="option4" class="form-control" #option4="ngModel"
            placeholder="Option de réponse 4">
        <div class="valid-feedback" *ngIf="option4.valid">Champ correctement renseigné</div>
        <!-- <div class="invalid-feedback" *ngIf="option4.invalid">Merci de renseigner le champ nom.</div> -->
        <label for="mediaOption4" class="form-label mt-3">Pièce jointe si besoin</label>
        <input type="file" id="mediaOption4" name="mediaOption4" class="form-control" #mediaOption4
            placeholder="Fichier média de votre choix" (change)="detectFiles($event, mediaOption4)">
        <label for="comment1" class="form-label mt-3">Commentaire</label>
        <textarea id="comment4" ngModel name="comment4" class="form-control" #comment4="ngModel"
            placeholder="Commentaire si besoin" cols="30" rows="5"></textarea>
        <!-- <div class="valid-feedback" *ngIf="comment1.valid">Champ correctement renseigné</div> -->
        <!-- valeur de la réponse -->
        <div class="form-group d-flex gap-5 mt-3">
            <div class="form-check">
                <input type="radio" class="form-check-input" name="optScoring4" value="true" ngModel
                    [checked]="optScoring4" [required]="f.value.option4!=''">Vraie
                <!-- <label class="form-check-label" for="radio1"></label> -->
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" name="optScoring4" value="false" ngModel
                    [checked]="optScoring4" [required]="f.value.option4!=''">Fausse
                <!-- <label class="form-check-label" for="radio2"></label> -->
            </div>
        </div>
        <!-- fin valeur de la réponse -->

        <hr>

        <!-- <textarea name="details" id="details" ngModel name="details" cols="100" rows="10" class="form-control mt-3"
            #details="ngModel" [ngClass]="{'.is-valid':details.value && details.touched}"
            placeholder="Commentaires optionnels...">Difficultés / Remaques...</textarea> -->

        <button type="submit" id="submit" class="btn btn-primary mt-3"
            [ngClass]="{'disabled':f.invalid}">Ajouter</button>
    </form>

</div>