<div class="container py-5">

    <h3 class="mb-3"><i class="bi bi-person-fill fs-4 me-5 m-sm-e3"></i>Détails du compte candidat</h3>

    <div *ngIf="student">

        <div class="card my-5">
            <div class="card-header text-muted">id : {{student.id}}</div>
            <div class="card-body">
                <!-- <h4 class="card-title">id : {{student.id}}</h4> -->
                <p class="card-text"><span class="fw-bold">Nom</span> : {{student.lastName}}<br>
                    <span class="fw-bold">Prénom</span> : {{student.firstName}}<br>
                    <span class="fw-bold">Email</span> : <a href="#" class="card-link">{{student.email}}</a><br>
                    <span *ngIf="student.cp" class="d-block"><span class="fw-bold">CP</span> : {{student.cp}}</span>
                    <span *ngIf="student.details" class="d-block"><span class="fw-bold">Détails</span> :
                        {{student.details}}</span>
                    <span *ngIf="student.trainer" class="d-block"><span class="fw-bold">Formateur</span> :
                        {{student.trainer}}</span>
                </p>
                <hr>
                <p> <span *ngIf="student.status; else checkbox">Status : actif</span>
                    <ng-template #checkbox> Status : inactif</ng-template>
                </p>
                <ng-template #checkbox> Status : inactif</ng-template>
            </div>
            <div class="card-footer text-muted">
                <span *ngIf="student.created">Date de création : {{student.created | date:'dd/MM/yyyy' }}</span><br>
            </div>
        </div>

        <!-- zone dédiée à l'administrateur en charge de la gestion des comptes - à désactiver si role trainer -->
        <div class="d-flex my-5 justify-content-end gap-5" *ngIf="userRouterLinks.user!=='trainer'">
            <a class="btn btn-primary text-white retourList" routerLink="/admin/students">Retour à la liste</a>
            <button class="btn btn-warning">
                <a class="text-white" routerLink="/admin/updateStudent/{{student.id}}">Modifier</a>
            </button>
            <button class="btn btn-danger">
                <a class="text-white" (click)="delete(student)">Supprimer</a>
            </button>
        </div>
        <!-- fin de la zone dédiée spécifiquement à l'administration des comptes -->

        <!-- {{tradesEvaluated}} -->

        <!-- zone dédiée au suivi des QCM et estimations chiffrées si elles existent -->
        <h3 class="mt-3"><i class="bi bi-card-list fs-3 me-3 me-sm-5"></i>QCM(s) et positionnement</h3>
        <!-- <div class="card my-5" *ngIf="userRouterLinks.user!=='trainer' && tradesEvaluated"> -->
        <div class="card my-5" *ngIf="tradesEvaluated">
            <div class="card-body">

                <!-- {{tradesEvaluated}} -->
                <!-- nouveauté pour multi quizz VERSION 2 -->

                <div *ngIf="student && tradesEvaluated; else none">
                    <!-- {{tradesEvaluated | json}}
                  {{student | json}} -->
                    <!-- <div *ngIf="student && tradesEvaluated; else none"> -->
                    <!-- comme on ne questionnera plus tradeEvaluated mais tradesEvaluated [], on va devoir, avant d'inspecter la suite des ngIf, avoir une boucle ngFor pour voir métier après métier...  -->
                    <!-- attention, compte tenu de la manière dont tradesEvaluated a été généré, trade ici, c'est une chaine de caractère type quizz_sigle -->
                    <div *ngFor="let trade of tradesEvaluated, let last=last">

                        <!-- {{student[trade].fullResults | json}} -->

                        <!-- on peut tenter de remplacer toute cette partie par le composant enfant qui modularise la logique d'affichage et de récupération précédente -->
                        <!-- <p class="card-text">
                            <span class="bi fw-bold trade-link">
                                Métier concerné :
                                <span class="trade-hover"                                
                                    [title]="tradeName"
                                    (mouseenter)="hoveredTrade = trade; getTradeName(trade)"
                                    (mouseleave)="hoveredTrade = null; resetTradeName()">
                                    {{ trade }}
                                </span>
                            </span>
                        </p> -->

                        <span class="bi fw-bold trade-link">
                            Métier concerné :
                            <app-tooltip [text]="trade" [info]="moreInfo"
                                (mouseenter)="getMoreInfo(trade)"></app-tooltip>
                        </span>


                        <!-- Partie 1 si QCM en cours -->
                        <!-- <div *ngIf="student.lastIndexQuestions[trade]<2, else done"> -->
                        <div *ngIf="getTradeDetails(trade) as quizDetails">
                            <ng-container *ngIf="!quizDetails.fullResults, else done">
                                <p class="card-text">A déjà répondu à
                                    <span class="fw-bold">{{quizDetails.lastIndexQuestion +1 | number}}
                                        Questions</span>,
                                    mais n'a pas terminé
                                </p>
                            </ng-container>
                        </div>

                        <!-- Partie 2 si QCM terminé -->
                        <!-- Il semble que la directive keyvalue provoque des problèmes lorsqu'elle est utilisée dans une boucle *ngFor. 
                            Pour contourner ce problème, on peut utiliser la fonction créée Object.entries() pour obtenir les clés et valeurs de result.value. -->
                        <ng-template #done class="mb-3">
                            <p class="alert bg-success text-light mt-2 d-flex justify-content-between py-2">QCM de positionnement terminé pour {{ trade }} <i class="bi bi-arrow-down-square-fill ms-auto"></i></p>

                            <!-- on peut les mettre en vis à vis pour les grands écrans -->
                            <div class="row">

                                <div class="col-md-6">
                                    <!-- pour afficher les lignes du devis (contenu de fullResults) si et seulement si le QCM est terminé -->
                                    <p class="card-text fw-bold mb-0">Estimation personnalisée<i class="bi bi-currency-euro ms-3"></i></p>
                                    <p class="card-text mb-0 d-flex align-items-center"
                                        *ngFor="let result of getTradeDetails(trade)?.fullResults | keyvalue">
                                        <ng-container *ngFor="let item of objectEntries(result.value)">
                                            <span class="fw-bold">{{ item[0] }}</span>
                                            <i class="bi fs-4 bi-arrow-right-short"></i>
                                            <span>{{ item[1].duration }} heures - Coût : {{ item[1].cost }}€</span>
                                        </ng-container>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p class="card-text fw-bold mb-0">Résultats obtenus<i class="bi bi-pie-chart-fill ms-3"></i></p>
                                    <!-- pour afficher les lignes du devis (contenu de fullResults) si et seulement si le QCM est terminé -->
                                    <p class="card-text mb-0 d-flex align-items-center"
                                        *ngFor="let result of getTradeDetails(trade)?.fullResults | keyvalue">
                                        <ng-container *ngFor="let item of objectEntries(result.value)">
                                            <span class="fw-bold">{{ item[0] }} : </span>
                                            <i class="bi fs-4 bi-arrow-right-short"></i>
                                            <span>{{ item[1].notation | json| number:'1.1-1' }}/20</span>
                                        </ng-container>
                                    </p>
                                </div>

                            </div>

                        </ng-template>

                        <!-- Affichez le hr sauf dans la dernière itération -->
                        <hr *ngIf="!last">
                    </div>
                    <!-- fin boucle supplémentaire pour ngFor avec les options de multi-quizz -->
                </div>

                <ng-template #none> <span>Aucun QCM en cours</span>
                </ng-template>
            </div>
        </div>


        <!-- affichage des évaluations -->

        <h3 class="mt-3"><i class="bi bi-clipboard-data-fill fs-3 me-3 me-sm-5"></i>Ses évaluations de suivi pédagogique
        </h3>
        <ng-container *ngIf="student && evaluations">
            <div *ngFor="let evaluation of evaluations | keyvalue">
                <div class="card my-5">
                    <div class="card-body">
                        <p class="card-text"><span class="fw-bold">Sujet</span>: {{ evaluation.value.subject }}</p>
                        <!-- version sans recours à TinyMCE donc sans balise html enregistrées en base -->
                        <!-- <p class="card-text"><span class="fw-bold">Détails</span>: {{ evaluation.value.details }}</p> -->
                        <!-- version avec filtre de rendu de balises HTML enregistrées en base -->
                        <div class="card-text" [innerHTML]="sanitizer.bypassSecurityTrustHtml(evaluation.value.details)"></div>

                        <button class="btn btn-danger mt-3"
                            [routerLink]="['/admin/updateEvaluation', studentId, evaluation.key]">Modifier
                            l'évaluation</button>
                    </div>
                    <div class="card-footer text-muted">
                        <span *ngIf="student.created">Date de création : {{evaluation.value.date | date:'dd/MM/yyyy'
                            }}</span>
                    </div>
                </div>
            </div>
        </ng-container>



    </div>

</div>