<div class="container py-5">
    <!-- <h3>Détails utilisateur ({{title}})</h3> -->
    <h3>Détails utilisateur</h3>

    <!-- <app-collapses-alert></app-collapses-alert> -->
    <!-- {{userRouterLinks.user}} -->

    <div *ngIf="userRouterLinks.user==='trainer'" class="alert alert-light"><i
            class="bi bi-info-square-fill me-1"></i>Dès que vous aurez saisi au minimum une évaluation, un onglet
        additionnel dédié aux évaluations de suivi pédagogique apparait dans la vue de détail, et dans le compte
        personnel du candidat apprenant. C'est à partir de cet onglet que vous et vous seul pourrez modifier
        l'évaluation si besoin.
    </div>


    <div id="accordion" class="mb-5">

        <div class="card" *ngIf="student">
            <div class="card-header bg-primary">
                <a class="btn text-light d-flex justify-content-between p-0" data-bs-toggle="collapse"
                    href="#collapseOne" aria-expanded="true">
                    <div class="d-flex align-items-center gap-2 justify-content-between">
                        <span class="text-nowrap">Données personnelles</span>
                        <i class="bi toggle-arrow fs-7"
                            [ngClass]="{'bi-caret-down-fill': !isEvaluationsOpen, 'bi-caret-up-fill': isEvaluationsOpen}">
                        </i>
                    </div>
                    <i class="bi bi-person-fill fs-4 text-light d-none d-sm-inline"></i>
                </a>
            </div>
            <div class="collapse" data-bs-parent="#accordion" id="collapseOne"
                [ngClass]="{'show': userRouterLinks.user != 'trainer'}">
                <div class="card-body">
                    <!-- <h4 class="card-title">id : {{student.id}}</h4> -->
                    <p class="card-text">
                        <span class="fw-bold">ID</span> : {{student.id}}<br>
                        <span class="fw-bold">Nom</span> : {{student.lastName}}<br>
                        <span class="fw-bold">Prénom</span> : {{student.firstName}}<br>
                        <span class="fw-bold">Email</span> : <a href="#" class="card-link">{{student.email}}</a><br>
                        <ng-container *ngIf="student.referent"><span class="fw-bold">Candidat interne de
                                {{referentName}}</span><br></ng-container>
                        <ng-container *ngIf="student.isSocialFormSent"><span class="fw-bold">Centre choisi</span>:
                            {{centerPriorName}}<br></ng-container>

                        <!-- <span *ngIf="student.cp" class="d-block"><span class="fw-bold">CP</span> :
                            {{student.cp}}</span> -->
                        <span class="fw-bold">Date de création</span> : {{student.created | date:'dd/MM/yyyy'}}<br>
                        <span *ngIf="student.details" class="d-block"><span class="fw-bold">Détails</span> :
                            {{student.details}}</span>
                        <!-- Ancien champ trainer affiché uniquement s'il est différent de "Attribué ultérieurement" -->
                        <!-- <span *ngIf="student.trainer && student.trainer !== 'Attribué ultérieurement'" class="d-block">
                            <span class="fw-bold">Formateur</span> : {{student.trainer}}
                        </span> -->

                        <!-- Nouveau champ trainers (tableau) -->
                        <span *ngIf="student.trainers && student.trainers.length > 0" class="d-block">
                            <span class="fw-bold">Formateur(s)</span> :
                            <span *ngFor="let t of student.trainers; let isLast = last">
                                {{ t }}<span *ngIf="!isLast">, </span>
                            </span>
                        </span>

                        <span *ngIf="student.tutor" class="d-block"><span class="fw-bold">Tuteur</span> :
                            {{student.tutor}}</span>
                    </p>
                    <hr>
                    <p *ngIf="student.status"><span class="fw-bold">Status</span> : activé</p>
                    <p *ngIf="!student.status"><span class="fw-bold">Status</span> : désactivé</p>
                </div>

                <!-- zone dédiée à l'administrateur en charge de la gestion des comptes - à désactiver si role trainer -->
                <div class="d-flex mb-5 justify-content-end gap-5 me-3">
                    <button type="button" class="btn btn-warning"
                        *ngIf="userRouterLinks.user!=='trainer' && userRouterLinks.user!=='external'&& userRouterLinks.user!=='tutor'&& userRouterLinks.user!=='editor'&& userRouterLinks.user!=='referentsContacts'">
                        <a *ngIf="userRouterLinks.user=='admin'" class="text-white"
                            routerLink="/admin/updateStudent/{{student.id}}">Modifier</a>
                        <a *ngIf="userRouterLinks.user=='referent'" class="text-white"
                            routerLink="/admin/referent/updateStudent/{{student.id}}">Modifier (inscriptions)</a>
                    </button>
                    <button type="button" class="btn btn-danger"
                        [ngClass]="{'disabled':userRouterLinks.user=='referent' || userRouterLinks.user=='editor'|| userRouterLinks.user=='external'|| userRouterLinks.user=='referentsContacts'|| userRouterLinks.user=='trainer'}">
                        <a class="text-white" (click)="delete(student)">Supprimer</a>
                    </button>
                </div>
                <!-- fin de la zone dédiée spécifiquement à l'administration des comptes -->
            </div>
        </div>


        <!-- {{tradesEvaluated}} -->

        <!-- zone dédiée au suivi des QCM et estimations chiffrées si elles existent -->
        <!-- Hypothèse à revoir selon le statut de external !!!! -->
        <div class="card" *ngIf="nonVide(tradesEvaluated) && userRouterLinks.user!=='external'">
            <div class="card-header bg-primary">
                <a class="btn text-light d-flex justify-content-between px-0" data-bs-toggle="collapse"
                    href="#collapseTwo">
                    <div class="d-flex align-items-center gap-2 justify-content-between">
                        <span class="text-nowrap">Questionnaire initial & Positionnement</span>
                        <i class="bi bi-caret-down-fill toggle-arrow fs-7"></i>
                    </div>
                    <i class="bi bi-card-list fs-4 text-light d-none d-sm-inline"></i>
                </a>
            </div>
            <div class="collapse" data-bs-parent="#accordion" id="collapseTwo">
                <div class="card-body">

                    <!-- {{tradesEvaluated}} -->
                    <!-- nouveauté pour multi quizz VERSION 2 -->

                    <div *ngIf="student && tradesEvaluated; else none">
                                          <!-- comme on ne questionnera plus tradeEvaluated mais tradesEvaluated [], on va devoir, avant d'inspecter la suite des ngIf, avoir une boucle ngFor pour voir métier après métier...  -->
                        <!-- attention, compte tenu de la manière dont tradesEvaluated a été généré, trade ici, c'est une chaine de caractère type quizz_sigle -->
                        <div *ngFor="let trade of tradesEvaluated, let last=last">

                            <!-- {{student[trade].fullResults | json}} -->



                            <!-- Partie 1 si QCM en cours -->
                            <!-- <div *ngIf="student.lastIndexQuestions[trade]<2, else done"> -->

                            <div *ngIf="getPartialDetails(trade) as partialDetails">
                                <!-- cas 1 -->
                                <!-- <ng-container *ngIf="!quizDetails.fullResults, else done"> -->



                                <p class="card-text bg-light fst-italic my-5"><i class="bi bi-info-square-fill me-2"></i>A déjà répondu à
                                    <span class="fw-bold me-1">{{partialDetails.lastIndexQuestion +1 | number}}
                                        questions</span>pour {{ getDenomination(trade) | async }} - Ref. {{trade}},
                                    mais n'a pas terminé
                                </p>

                                <!-- </ng-container> -->
                            </div>

                            <!-- Partie 2 si QCM terminé -->
                            <!-- Il semble que la directive keyvalue provoque des problèmes lorsqu'elle est utilisée dans une boucle *ngFor. 
                            Pour contourner ce problème, on peut utiliser la fonction créée Object.entries() pour obtenir les clés et valeurs de result.value. -->
                            <!-- <ng-template #done class="mb-3"> -->
                            <div *ngIf="getTradeDetails(trade) as quizDetails">
                                <h4 class="text-left mb-3 mt-5">
                                    Questionnaire de positionnement terminé pour {{ getDenomination(trade) | async }} <i
                                        class="bi bi-check-lg ms-2 text-success fs-4"></i>
                                    <!-- <i class="bi bi-arrow-down-square-fill ms-auto text-light"></i> -->
                                </h4>


                                <div>
                                    <p class="card-text mb-3" *ngIf="quizDetails.createdAt">
                                        Date de l'évaluation : <span class="fw-bold">
                                            {{ quizDetails.createdAt?.toDate() | date:'dd/MM/yyyy HH:mm' }}
                                        </span>
                                    </p>
                                </div>


                                <!-- on peut les mettre en vis à vis pour les grands écrans -->

                                <!-- pour afficher les lignes du devis (contenu de fullResults) si et seulement si le QCM est terminé -->
                                <div class="card-text mb-0 align-items-center"
                                    *ngFor="let result of getSortedResults(trade); let lastResult=last; let i = index">
                                    <ng-container *ngFor="let item of objectEntries(result)">
                                        <div><span class="fw-bold">{{item[0] }}:</span> <span
                                                *ngIf="trades[trade]">{{trades[trade][i]}}</span></div>
                                        <div class="mb-2">
                                            <div class="d-sm-inline">
                                                <span class="fw-bold">Note: </span>
                                                <span>{{ item[1].notation | json| number:'1.1-1' }}/20 </span>
                                            </div>
                                            <div class="d-sm-inline">
                                                <!-- on réintègre la deuxième colonne -->
                                                <span class="fw-bold">Durée: </span>
                                                {{ item[1].duration }} heures <span
                                                    class="fw-bold cost">Coût</span><span class="cost"> : {{
                                                    item[1].cost }}€ </span>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>

                                <hr>

                                <p *ngIf="tradesData?.length > 0"><span class="fw-bold">Total</span> : {{totalTime}}/{{
                                    calculateTotalTime(trade) | json }} heures de formation pour <span class="cost">
                                        {{totalCost}}/{{
                                        calculateTotalCost(trade) }}€</span>

                                    <!-- pour les arrondis multiples de 7 -->
                                    <!-- Si l'arrondi dépasse le total, on force l'arrondi inférieur -->
                                    <span *ngIf="totalTime % 7 !== 0 && isTrainingTimeMultiple7 " class="text-danger">
                                        <br>La formation la plus proche suggérée au candidat est donc de
                                        {{ getAdjustedTrainingTime(totalTime, totalCost) }}h
                                        car vos journées de formation sont de 7 heures.
                                    </span>
                                </p>

                            </div>
                            <!-- </ng-template> -->

                            <!-- Affichez le hr sauf dans la dernière itération -->
                            <!-- <hr *ngIf="!last"> -->
                        </div>
                        <!-- fin boucle supplémentaire pour ngFor avec les options de multi-quizz -->
                    </div>

                    <ng-template #none> <span>Aucun questionnaire en cours</span>
                    </ng-template>
                </div>
            </div>
        </div>

        <!-- son inscription -->
        <div class="card"
            *ngIf="(userRouterLinks.user=='admin' || userRouterLinks.user=='trainer' || userRouterLinks.user=='tutor' || userRouterLinks.user=='external' || userRouterLinks.user=='referent' || userRouterLinks.user=='editor') && student && student.subscriptions">
            <div class="card-header bg-primary">
                <a class="btn text-light text-capitalize d-flex justify-content-between px-0" data-bs-toggle="collapse"
                    href="#collapseThree">
                    <div class="d-flex align-items-center gap-2 justify-content-between">
                        <span class="text-nowrap">Inscription</span>
                        <i class="bi bi-caret-down-fill toggle-arrow fs-7"></i>
                    </div>
                    <i class="bi bi-info-square-fill fs-4 text-light d-none d-sm-inline"></i>
                </a>
            </div>

            <div class="collapse pt-5" data-bs-parent="#accordion" id="collapseThree">

                <!-- Exemple -->
                <ng-container *ngIf="student.subscriptions">
                    <h3 *ngIf="student.subscriptions">Inscription Formation du Candidat</h3>
                    <div class="text-center mb-5" [ngClass]="{'mb-5':last}"
                        *ngFor="let subscription of subscriptions, let last=last"><span class="fw-bold">Ref.:</span> {{
                        subscription }}.
                        <span class="fw-bold">Dénomination :</span>{{ getDenomination(subscription) | async }}
                    </div>
                </ng-container>
                <!-- test intégration comme composant enfant du formulaire désormais déclaré dans admin.module -->
                <!-- ça fonctionne mais les collapses interfèrent et pas indispensable sauf en update -->
                <!-- <div *ngIf="student && userRouterLinks.user=='admin'">
                    <app-student-form [studentData]="student"></app-student-form>
                </div> -->
                <ng-container *ngIf="student.endedSubscriptions && student.endedSubscriptions.length!==0">
                    <!-- {{achievedTrainings | json}} -->
                    <h3 *ngIf="student.endedSubscriptions">Fin de Formation du Candidat pour :</h3>
                    <!-- <div class="text-center mb-5"><span class="fw-bold">Ref.:</span>
                        {{achievedTrainings.sigle}} - <span class="fw-bold">Métier :</span>{{
                        getDenomination(achievedTrainings.sigle)
                        | async }} - <span class="fw-bold">Date de sortie de formation :</span>{{ achievedTrainings.date
                        | date:'dd/MM/yyyy'}}
                    </div>                     -->
                    <!-- entre temps, endedSubscriptions a changé de type
                      -->
                    <div *ngIf="student?.endedSubscriptions">
                        <div *ngFor="let training of student.endedSubscriptions" class="text-center mb-5">
                            <span class="fw-bold">Ref.:</span> {{training?.sigle}}
                            - <span class="fw-bold">Métier :</span>
                            {{getDenomination(training.sigle) | async}}
                            - <span class="fw-bold">Date de sortie de formation :</span>
                            {{training.date | date:'dd/MM/yyyy'}}
                        </div>
                    </div>

                </ng-container>



            </div>
        </div>

        <!-- affichage des évaluations -->
        <!-- <ng-container *ngIf="student && evaluations"> -->
        <div class="card" *ngIf="student && (evaluationsNotEmpty() || userRouterLinks.user==='trainer') ">
            <div class="card-header bg-primary">
                <a class="btn text-light d-flex justify-content-between p-0" data-bs-toggle="collapse"
                    href="#collapseEvaluations" (click)="toggleEvaluations()">

                    <div class="d-flex align-items-center gap-2 justify-content-between">
                        <span class="text-nowrap">Ses évaluations de suivi pédagogique</span>
                        <!-- flèche qui suit l'état -->
                        <i class="bi toggle-arrow fs-7"
                            [ngClass]="{'bi-caret-down-fill': !isEvaluationsOpen, 'bi-caret-up-fill': isEvaluationsOpen}">
                        </i>
                    </div>

                    <i class="bi bi-clipboard-data-fill fs-4 text-light d-none d-sm-inline"></i>
                </a>
            </div>

            <div class="collapse p-2" id="collapseEvaluations" data-bs-parent="#accordion"
                [ngClass]="{'show': isEvaluationsOpen}">
                <!-- si on a plusieurs inscriptions potentielles, pour bien faire, va falloir boucler sur l'ensemble -->
                <ng-container *ngIf="student.subscriptions">
                    <div *ngFor="let subscription of student.subscriptions, let m=index" class="px-2">
                        <!-- {{ getFilteredEvaluationsForSubscription(subscription) | json}} -->
                        <div *ngIf="getFilteredEvaluationsForSubscription(subscription).length!==0"
                            class="alert bg-light alert-light d-flex justify-content-between my-2 gap-5">
                            Formation au métier de {{ getDenomination(subscription) | async }}
                            <span>{{m+1}}</span>
                        </div>
                        <!-- si y a déjà des enregistrements datés des évaluations de suivi pédagogique, on bouclera dessus -->
                        <ng-container *ngIf="evaluations; else noEvaluation">
                            <div id="eval">
                                <ng-container
                                    *ngFor="let evaluation of getFilteredEvaluationsForSubscription(subscription); let e = index">
                                    <!-- <div class="card my-5" *ngIf="evaluation.value.sigle==subscription"> -->
                                    <div class="card mb-2">
                                        <ng-container *ngIf="evaluation.value.competence && evaluation.value.level">
                                            <div class="card-header fs-5 d-flex align-items-center">
                                                <div class="form-check form-check-inline ms-0 ms-xs-2">
                                                    <input class="form-check-input"
                                                        [ngClass]="{'level1':evaluation.value.level=='beginner'}"
                                                        type="checkbox" id="inlineCheckbox1" value="option1" disabled>
                                                    <label class="form-check-label" for="inlineCheckbox1">1</label>
                                                </div>
                                                <div class="form-check form-check-inline ms-0 ms-xs-2">
                                                    <input class="form-check-input"
                                                        [ngClass]="{'level2':evaluation.value.level=='intermediate'}"
                                                        type="checkbox" id="inlineCheckbox2" value="option2" disabled>
                                                    <label class="form-check-label" for="inlineCheckbox2">2</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input"
                                                        [ngClass]="{'level3':evaluation.value.level=='advance'}"
                                                        type="checkbox" id="inlineCheckbox3" value="option3" disabled>
                                                    <label class="form-check-label" for="inlineCheckbox3">3</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input"
                                                        [ngClass]="{'level4':evaluation.value.level=='pro'}"
                                                        type="checkbox" id="inlineCheckbox3" value="option4" disabled>
                                                    <label class="form-check-label" for="inlineCheckbox3">4</label>
                                                </div>
                                                <!-- pour le moment, on n'affiche la légende dans le header QUE pour external -->
                                                <div class="form-check p-0 text-secundary"
                                                    *ngIf="userRouterLinks.user=='external'">
                                                    <ng-container *ngIf="evaluation.value.level === 'beginner'">
                                                        Débutant
                                                    </ng-container>
                                                    <ng-container *ngIf="evaluation.value.level === 'intermediate'">
                                                        Intermédiaire
                                                    </ng-container>
                                                    <ng-container *ngIf="evaluation.value.level === 'advance'"> Avancé
                                                    </ng-container>
                                                    <ng-container *ngIf="evaluation.value.level === 'pro'"> Acquise
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <div class="card-body">
                                            <!-- {{trades | json}} -->
                                            <ng-container *ngIf="evaluation.value.competence">
                                                <!-- puisqu'on a un tableau qui restitue les compétences ici avec quizz_macompétence -->
                                                <p class="fw-bold d-flex justify-content-between gap-2"
                                                    *ngIf="trades['quizz_'+evaluation.value.sigle] && evaluation.value.competence">
                                                    {{trades['quizz_'+evaluation.value.sigle][getCpIndex(evaluation.value.competence)]}}
                                                    ({{ evaluation.value.competence }}) <span
                                                        (click)="toggleCollapse(e)"
                                                        *ngIf="(evaluation.value.subject || evaluation.value.details ) && userRouterLinks.user!=='external'">
                                                        <a aria-label="Ouvrir ou fermer l'évaluation"
                                                            href='#collapseEvaluation{{e}}' data-bs-toggle="collapse"><i
                                                                [ngClass]="{'bi bi-caret-down-fill': !evaluationsState[e], 'bi bi-caret-up-fill': evaluationsState[e]}"></i></a></span>
                                                </p>
                                            </ng-container>
                                            <!-- pour toute la sous partie qui doit être masquée -->
                                            <div id="collapseEvaluation{{e}}"
                                                [ngClass]="{'collapse':evaluation.value.competence && !evaluationsState[e]}"
                                                data-bs-parent="#eval">
                                                <p class="card-text" *ngIf="evaluation.value.subject"><span
                                                        class="fw-bold">Sujet</span>: {{
                                                    evaluation.value.subject }}</p>
                                                <div class="card-text"
                                                    [innerHTML]="sanitizer.bypassSecurityTrustHtml(evaluation.value.details)">
                                                </div>

                                                <!-- <div class="d-flex align-items-center">
                                                    <i class="bi"
                                                        [ngClass]="evaluation.value.readen ? 'bi-check-square-fill text-success' : 'bi-x-square-fill text-danger'">
                                                    </i>
                                                    <span class="ms-2">
                                                        {{ evaluation.value.readen ? "Lue" : "Non lue" }}
                                                    </span>
                                                </div> -->

                                            </div>
                                            <!-- fin de la sous partie censée être cachée -->

                                            <button class="btn btn-danger mt-3" *ngIf="userRouterLinks.user=='trainer'"
                                                [routerLink]="['/admin/updateEvaluation', studentId, evaluation.key]">Modifier
                                                l'évaluation</button>

                                            <button class="btn btn-danger mt-3" *ngIf="userRouterLinks.user=='admin'"
                                                [routerLink]="['/admin/updateEvaluation', studentId, evaluation.key]">Modifier
                                                l'évaluation</button>
                                        </div>

                                        <!-- fin  partie censée être cachée -->
                                        <div *ngIf="userRouterLinks.user!=='external'"
                                            class="card-footer d-flex justify-content-between align-items-center">
                                            <p class="fs-5"><span class="fw-bold">Date :
                                                </span>{{evaluation.value.date | date:'dd/MM/yyyy'}}</p>
                                            <p class="fs-5" [ngClass]="{
                                'level1': evaluation.value.level === 'beginner',
                                'level2': evaluation.value.level === 'intermediate',
                                'level3': evaluation.value.level === 'advance',
                                'level4': evaluation.value.level === 'pro'
                              }">
                                                <ng-container *ngIf="evaluation.value.level === 'beginner'">
                                                    Débutant
                                                </ng-container>
                                                <ng-container *ngIf="evaluation.value.level === 'intermediate'">
                                                    Intermédiaire
                                                </ng-container>
                                                <ng-container *ngIf="evaluation.value.level === 'advance'"> Avancé
                                                </ng-container>
                                                <ng-container *ngIf="evaluation.value.level === 'pro'"> Acquise
                                                </ng-container>
                                            </p>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>

                            <!-- fin de la boucle additionnelle si inscriptions multiples -->
                        </ng-container>
                        <!-- si aucune évaluation de suivi jusqu'ici, on le mentionne -->
                        <ng-template #noEvaluation>
                            <p class="list-group-item">
                                <span class="fw-bolder">Pas de suivi consultable pour le moment</span>
                            </p>
                        </ng-template>
                    </div>
                    <!-- bouton additionnel pour ajouter une évaluation depuis la vue -->
                    <button class="btn btn-primary my-3 mx-2" *ngIf="userRouterLinks.user=='trainer'"
                        [routerLink]="['/admin/addStudentEvaluation', studentId]"><i class="bi bi-pen"></i>Ajouter une
                        évaluation <ng-container *ngIf="evaluationsNotEmpty()">
                            pour une nouvelle compétence
                        </ng-container>
                    </button>
                </ng-container>
            </div>


        </div>

        <!-- affichage du  suivi entreprise (tutorials) -->
        <div class="card" *ngIf="student && tutorialsNotEmpty()">
            <div class="card-header bg-primary">
                <a class="btn text-light d-flex justify-content-between p-0" data-bs-toggle="collapse"
                    href="#collapseFive" [attr.aria-expanded]="userRouterLinks.user === 'trainer' ? 'true' : 'false'">

                    <div class="d-flex align-items-center gap-2 justify-content-between">
                        <span class="text-nowrap">Ses évaluations de suivi en entreprise</span>
                        <!-- Flèche principale -->
                        <i class="bi toggle-arrow fs-7" [ngClass]="{'bi-caret-up-fill': userRouterLinks.user === 'trainer', 
                       'bi-caret-down-fill': userRouterLinks.user !== 'trainer'}">
                        </i>
                    </div>

                    <i class="bi bi-activity fs-4 text-light d-none d-sm-inline"></i>
                </a>
            </div>

            <div class="collapse p-2" id="collapseFive" data-bs-parent="#accordion"
                [ngClass]="{'show': userRouterLinks.user === 'trainer'}">
                <!-- si on a plusieurs inscriptions potentielles, pour bien faire, va falloir boucler sur l'ensemble -->
                <ng-container *ngFor="let subscription of student.subscriptions, let m=index">
                    <div *ngIf="getFilteredTutorialsForSubscription(subscription).length!==0"
                        class="alert bg-light alert-light d-flex justify-content-between mb-2">
                        Formation au métier de {{ getDenomination(subscription) | async }}
                        <span>{{m+1}}</span>
                    </div>

                    <!-- si y a déjà des enregistrements datés des évaluations de suivi pédagogique, on bouclera dessus -->
                    <ng-container *ngIf="evaluations; else noTutorial">
                        <div id="tuto">

                            <!-- <div *ngFor="let tutorial of tutorials | keyvalue"> -->
                            <ng-container
                                *ngFor="let tutorial of getFilteredTutorialsForSubscription(subscription); let t = index">
                                <!-- <div class="card my-5" *ngIf="tutorial.value.sigle==subscription else noTutorial"> -->
                                <!-- <div class="card my-5" *ngIf="tutorial.value.sigle==subscription"> -->
                                <div class="card mb-2">
                                    <!-- hypothèse où competence évaluée -->
                                    <ng-container *ngIf="tutorial.value.competence && tutorial.value.level">
                                        <div class="card-header fs-5 d-flex align-items-center"
                                            *ngIf="tutorial.value.competence && tutorial.value.level">

                                            <div class="form-check form-check-inline ms-2">
                                                <input class="form-check-input"
                                                    [ngClass]="{'level1':tutorial.value.level=='beginner'}"
                                                    type="checkbox" id="inlineCheckbox1" value="option1" disabled>
                                                <label class="form-check-label" for="inlineCheckbox1">1</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input"
                                                    [ngClass]="{'level2':tutorial.value.level=='intermediate'}"
                                                    type="checkbox" id="inlineCheckbox2" value="option2" disabled>
                                                <label class="form-check-label" for="inlineCheckbox2">2</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input"
                                                    [ngClass]="{'level3':tutorial.value.level=='advance'}"
                                                    type="checkbox" id="inlineCheckbox3" value="option3" disabled>
                                                <label class="form-check-label" for="inlineCheckbox3">3</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input"
                                                    [ngClass]="{'level4':tutorial.value.level=='pro'}" type="checkbox"
                                                    id="inlineCheckbox3" value="option4" disabled>
                                                <label class="form-check-label" for="inlineCheckbox3">4</label>
                                            </div>
                                            <!-- pour le moment, on n'affiche la légende dans le header QUE pour external -->
                                            <div class="form-check p-0 text-secundary"
                                                *ngIf="userRouterLinks.user=='external'">
                                                <ng-container *ngIf="tutorial.value.level === 'beginner'">
                                                    Débutant
                                                </ng-container>
                                                <ng-container *ngIf="tutorial.value.level === 'intermediate'">
                                                    Intermédiaire
                                                </ng-container>
                                                <ng-container *ngIf="tutorial.value.level === 'advance'"> Avancé
                                                </ng-container>
                                                <ng-container *ngIf="tutorial.value.level === 'pro'"> Acquise
                                                </ng-container>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <div class="card-body">
                                        <!-- dans l'hypothèse où competence est évaluée -->
                                        <!-- {{trades | json}} -->
                                        <ng-container *ngIf="tutorial.value.competence">
                                            <!-- puisqu'on a un tableau qui restitue les compétences ici avec quizz_macompétence -->
                                            <!-- <p class="fw-bold">{{trades['quizz_'+evaluation.value.sigle][getCpIndex(evaluation.value.competence)]}} ({{
                                                                evaluation.value.competence }})</p> -->
                                            <p class="fw-bold d-flex justify-content-between gap-2"
                                                *ngIf="trades['quizz_'+tutorial.value.sigle] && tutorial.value.competence">
                                                {{trades['quizz_'+tutorial.value.sigle][getCpIndex(tutorial.value.competence)]}}
                                                ({{ tutorial.value.competence }})
                                                <span (click)="toggleCollapse(t)"
                                                    *ngIf="(tutorial.value.subject || tutorial.value.details) && userRouterLinks.user!=='external'">
                                                    <a aria-label="Ouvrir ou fermer l'évaluation"
                                                        href='#collapseEvaluation{{t}}' data-bs-toggle="collapse"><i
                                                            [ngClass]="{'bi bi-caret-down-fill': !evaluationsState[t], 'bi bi-caret-up-fill': evaluationsState[t]}"></i></a></span>

                                            </p>
                                        </ng-container>
                                        <!-- pour toute la sous partie qui doit être masquée -->
                                        <div id="collapseEvaluation{{t}}"
                                            [ngClass]="{'collapse':tutorial.value.competence && !evaluationsState[t]}"
                                            data-bs-parent="#eval">
                                            <p class="card-text"><span class="fw-bold">Sujet</span>: {{
                                                tutorial.value.subject
                                                }}
                                            </p>
                                            <!-- version sans recours à TinyMCE donc sans balise html enregistrées en base -->
                                            <!-- <p class="card-text"><span class="fw-bold">Détails</span>: {{ evaluation.value.details }}</p> -->
                                            <!-- version avec filtre de rendu de balises HTML enregistrées en base -->
                                            <div class="card-text"
                                                [innerHTML]="sanitizer.bypassSecurityTrustHtml(tutorial.value.details)">
                                            </div>
                                        </div>
                                        <!-- fin de la partie censée être masquée -->

                                        <button class="btn btn-danger mt-3" *ngIf="userRouterLinks.user=='tutor'"
                                            [routerLink]="['/admin/updateTutorial', studentId, tutorial.key]">Modifier
                                            le suivi</button>

                                        <button class="btn btn-danger mt-3" *ngIf="userRouterLinks.user=='admin'"
                                            [routerLink]="['/admin/updateStudent', studentId, tutorial.key]">Modifier
                                            le suivi</button>
                                    </div>
                                    <!-- on l'exclu  pour l'observateur externe qui s'en moque -->
                                    <div *ngIf="userRouterLinks.user!=='external'"
                                        class="card-footer d-flex justify-content-between align-items-center">
                                        <p><span class="fw-bold">Date : </span>{{tutorial.value.date}}</p>
                                        <p [ngClass]="{
                            'level1': tutorial.value.level === 'beginner',
                            'level2': tutorial.value.level === 'intermediate',
                            'level3': tutorial.value.level === 'advance',
                            'level4': tutorial.value.level === 'pro'
                          }">
                                            <ng-container *ngIf="tutorial.value.level === 'beginner'">
                                                Débutant
                                            </ng-container>
                                            <ng-container *ngIf="tutorial.value.level === 'intermediate'">
                                                Intermédiaire
                                            </ng-container>
                                            <ng-container *ngIf="tutorial.value.level === 'advance'"> Avancé
                                            </ng-container>
                                            <ng-container *ngIf="tutorial.value.level === 'pro'"> Acquise
                                            </ng-container>
                                        </p>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                    <!-- si rien aucune évaluation pour le métier -->
                    <ng-template #noTutorial>
                        <div class="alert bg-light text-warning">
                            Aucune évaluation n'a encore été saisie
                        </div>
                    </ng-template>
                </ng-container>
                <!-- bouton additionnel pour ajouter une évaluation depuis la vue -->
                <button class="btn btn-primary my-3" *ngIf="userRouterLinks.user=='tutor'"
                    [routerLink]="['/admin/addStudentTutorial', studentId]"><i class="bi bi-pen"></i>Ajouter un suivi
                    tutorial</button>
                <!-- fin de la boucle additionnelle si inscriptions multiples -->
            </div>
        </div>
    </div>

    <button type="button" (click)="print()" id="printFullProposal" class="btn btn-light me-3">Imprimer</button>
    <button type="button" *ngIf="userRouterLinks.user=='referent'" (click)="hideAndPrint()" id="printSimpleProposal"
        class="btn btn-warning me-3">Imprimer sans les coûts</button>


    <a class="btn btn-primary text-white retourList" [routerLink]="['/admin/myStudents']"
        *ngIf="userRouterLinks.user=='trainer'">Retour à la liste</a>
    <a class="btn btn-primary text-white retourList" [routerLink]="['/admin/tutor/myStudents']"
        *ngIf="userRouterLinks.user=='tutor'">Retour à la liste</a>
    <a class="btn btn-primary text-white retourList" [routerLink]="['/admin/students']"
        *ngIf="userRouterLinks.user=='admin'">Retour à la liste</a>
    <a class="btn btn-primary text-white retourList" [routerLink]="['/admin/referentStudentsList']"
        *ngIf="userRouterLinks.user=='referent'">Retour à la liste</a>
    <a class="btn btn-primary text-white retourList" [routerLink]="['/admin/externalStudentsList']"
        *ngIf="userRouterLinks.user=='external'">Retour à la liste</a>
    <a class="btn btn-primary text-white retourList" [routerLink]="['/admin/leads']"
        *ngIf="userRouterLinks.user=='editor'">Retour à la liste</a>
    <a class="btn btn-primary text-white retourList" [routerLink]="['/admin/contactStudentsList']"
        *ngIf="userRouterLinks.user=='referentsContacts'">Retour à la liste</a>