/* Style de l'info-bulle */
.trade-hover {
  position: relative;
  cursor: pointer;
}

.trade-hover::before {
  content: "";
  position: absolute;
  bottom: 100%;
  /* Positionne le triangle */
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}

.trade-hover::after {
  content: attr(title);
  position: absolute;
  bottom: calc(100% + 10px);
  /* Positionne l'info-bulle au-dessus du texte */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}

.trade-hover:hover::before,
.trade-hover:hover::after {
  opacity: 1;
  visibility: visible;
}

/* .card-footer {
font-size: x-small;
} */

.card-footer p {
  margin-bottom: 0;
}



.form-check-input.level1 {
  background-color: #E21937;
}

.form-check-input.level2 {
  background-color: #fcb311;
}

.form-check-input.level3 {
  background-color: #82BC00;
}

.form-check-input.level4 {
  background-color: #0062fe;
}

.form-check-input:disabled {
  opacity: 80;
}

.level1,
.level2,
.level3,
.level4 {
  font-weight: 500 !important;
  /* font-size: smaller; */
  text-transform: capitalize;
}

.level1 {
  border-bottom: 2px solid #E21937;

}

.level2 {
  border-bottom: 2px solid #fcb311;
}

.level3 {
  border-bottom: 2px solid #82BC00;

}

.level4 {
  border-bottom: 2px solid #0062fe;
}

.toggle-arrow {
  margin-top: 2px;
  /* margin-left:0; */
  margin-right:0;
  transition: transform 0.3s ease; /* Animation fluide */
}

/* Tourner la flèche de l'onglet cliqué */
a[aria-expanded="true"] .toggle-arrow {
  transform: rotate(180deg);
  /* display: none; */
}

@media screen and (max-width:575px) {

  .d-flex.align-items-center.gap-2.justify-content-between{
    width: 100%;
  }
  
}

/* @media screen and (max-width:420px) {
  .justify-content-between{
    justify-content:center!important;

  }  
} */

