<div class="container py-5">

    <article *ngIf="center">

        <header>
            <h1 class="h3 mb-3">{{center.name}}</h1>
        </header>

        <div class="card mt-4">
            <div class="card-header text-muted">id : {{center.id}}</div>

            <div class="card-body">
                <address class="card-text mb-3">
                    <span class="fw-bold">Nom</span> : {{center.name}}<br>
                    <span class="fw-bold">Adresse</span> : {{center.address}}<br>
                    <span class="fw-bold">CP</span> : {{center.cp}}<br>
                    <span class="fw-bold">Ville</span> : {{center.city}}
                    <span
                        *ngIf="center.mainCity && center.city.trim().toLowerCase() !== center.mainCity?.trim()?.toLowerCase()">
                        (Proche de {{ center.mainCity }})
                    </span><br>
                    <span class="fw-bold" *ngIf="center.tel && center.tel.length > 0">Tel : {{center.tel}}</span>
                </address>

                <hr>

                <section aria-label="Informations administratives">
                    <p *ngIf="userRouterLinks.user === 'admin'">
                        Status : {{ center.status ? 'actif' : 'inactif' }}
                    </p>

                    <p>
                        <ng-container *ngIf="userRouterLinks.user==='admin'">
                            <span *ngIf="center.partner">Partenaire : oui </span>
                            <span *ngIf="center.member">Adhérant : oui </span>
                            <span *ngIf="center.subsidiary">Affilié : oui </span>
                            <span *ngIf="center.independent">Indépendant : oui</span>
                        </ng-container>

                        <ng-container *ngIf="userRouterLinks.user!=='admin'">
                            <span *ngIf="center.partner; else checkbox">Partenaire : oui</span>
                            <ng-template #checkbox>Membre du réseau principal</ng-template>
                        </ng-container>
                    </p>
                </section>

                <section *ngIf="center.sigles" aria-label="Formations proposées">
                    <p>Formations métiers :
                        <span *ngFor="let s of center.sigles" class="badge bg-secondary me-2">
                            <a class="text-white text-decoration-none" [routerLink]="[('/formation'),s]"
                                *ngIf="activeTrades.includes(s)">{{s}}</a>
                        </span>
                    </p>
                </section>
            </div>
        </div>

        <section class="card mt-4" aria-labelledby="map-title">
            <div class="card-header text-muted" id="map-title">Coordonnées de localisation</div>
            <div class="card-body">
                <div id="map"></div>
            </div>
        </section>

        <footer class="d-flex my-4 justify-content-end gap-5">
            <a *ngIf="userRouterLinks.user==='admin'" [routerLink]="['/admin/updateCenter', center.id]"
                class="btn btn-warning text-white text-decoration-none" role="button"
                aria-label="Modifier les informations du centre">
                Modifier
            </a>

            <a *ngIf="userRouterLinks.user==='admin'" [routerLink]="['/admin/centers']"
                class="btn btn-primary text-white text-decoration-none" role="button"
                aria-label="Retourner à la liste des centres">
                Retour à la liste
            </a>

            <button *ngIf="userRouterLinks.user !== 'admin'" type="button" class="btn btn-primary"
                (click)="backToPrevious()" aria-label="Retourner à la page précédente">
                Retour
            </button>

        </footer>

    </article>


</div>