<div class="container py-5">

    <h3 class="mb-3">{{center?.name}}</h3>


    <div *ngIf="center">

        <div class="card mt-4">
            <div class="card-header text-muted">id : {{center.id}}</div>
            <div class="card-body">
                <!-- <h4 class="card-title">id : {{evaluator.id}}</h4> -->
                <p class="card-text"><span class="fw-bold">Nom</span> : {{center.name}}<br>
                    <span class="fw-bold">Adresse</span> : {{center.address}}<br>
                    <span class="fw-bold">CP</span> : {{center.cp}}<br>
                    <span class="fw-bold">Ville</span> : {{center.city}}
                    <span *ngIf="center.mainCity && center.mainCity!=='center.city'"> (Proche de : {{center.mainCity}})</span></p>
                <hr>
                <!-- puisque cette vue est partagée entre admin et utilisateur final -->
                     <p *ngIf="userRouterLinks.user && userRouterLinks.user==='admin'"> <span *ngIf="center.status; else checkbox">Status : actif</span>
                         <ng-template #checkbox> Status : inactif</ng-template>
                     </p>

                <!-- affectation métiers -->
                <p *ngIf="center.sigles">Formations métiers ({{center.sigles.length}}) : 
                    <span *ngFor="let s of center.sigles" class="badge bg-secondary me-2"><a class="text-white text-decoration-none" [routerLink]="[('/formation'),s]" >{{s}}</a></span>
                </p>
            </div>
  
        </div>
        <div class="card mt-4">
            <div class="card-header text-muted">Coordonnées de localisation</div>
            <div class="card-body">
                <div id="map"></div> <!-- Conteneur de la carte -->
            </div>
        </div>

        <div class="d-flex my-4 justify-content-end gap-5">

            <button *ngIf="userRouterLinks.user==='admin'" class="btn btn-warning">
                <a class="text-white" [routerLink]="['/admin/updateCenter', center.id]">Modifier</a>
            </button>

            <button *ngIf="userRouterLinks.user==='admin'" class="btn btn-primary">
                <a class="text-white" [routerLink]="['/admin/centers']">Retour à la liste</a>
            </button>

            <button *ngIf="userRouterLinks.user!=='admin'" class="btn btn-primary">
                <a class="text-white" (click)="backToPrevious()">Retour</a>
            </button>

        </div>
    </div>

</div>