#map {
    height: 400px; /* Définir une hauteur fixe pour le conteneur */
    width: 100%;   /* Utiliser toute la largeur disponible */
    border: 1px solid #ccc; /* Ajout d'une bordure pour la visibilité (optionnel) */
    border-radius: 5px;     /* Arrondir les coins pour l'apparence (optionnel) */
}

/* Personnalise la bulle du popup (taille, couleur, etc.) */
.leaflet-popup-content-wrapper {
    background-color: #3498db; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border-radius: 10px; /* Coins arrondis */
    padding: 10px;
  }
  
  .leaflet-popup-tip {
    background: #3498db; /* Couleur de la pointe de la bulle */
  }
  

