<div class="container py-5">

    <h3>Liste des questions de positionnement pour aperçu</h3>
    <!-- {{sigleIds | json}} -->

    <div *ngIf="sigleIds" class="mx-auto my-5">
        <select name="sigle" class="form-control" (change)="onChange($event)">
            <option *ngFor="let s of sigleIds" [value]="s">{{s}}</option>
        </select>        
    </div>
    

    <div *ngIf="questions">

        <!-- pour recracher autant de vues de détails qu'il y a de questions -->
        <div *ngFor="let q of questions">
            <!-- {{q | json}} -->
            <app-full-details [q]="q"></app-full-details>
            <!-- début de la question -->
        </div>
    </div>
</div>