<div class="container py-5">

    <h3 *ngIf="userRouterLinks.user==='!referent'" class="mb-3">Détails de l'utilisateur ({{title}})</h3>
    <h3 *ngIf="userRouterLinks.user==='referent'" class="mb-3">Mon compte professionnel</h3>
<!-- title {{title}} -->

    <div *ngIf="user">

        <div class="card mt-4">
            <div class="card-header text-muted">id : {{user.id}}</div>
            <div class="card-body">
                <!-- <h4 class="card-title">id : {{user.id}}</h4> -->
                <p class="card-text"><span class="fw-bold">Nom</span> : {{user.lastName}}<br>
                    <span class="fw-bold">Prénom</span> : {{user.firstName}}<br>
                    <span class="fw-bold">Email</span> : <a href="#" class="card-link">{{user.email}}</a><br>
                    <span *ngIf="user.cp"><span class="fw-bold">CP</span> : {{user.cp}}</span>
                </p>
                <hr>
                <p> <span *ngIf="user.status; else checkbox"><strong>Status</strong> : actif</span>
                    <ng-template #checkbox> <strong>Status</strong> : inactif</ng-template>
                </p>
                <ng-template #checkbox> <strong>Status</strong> : inactif</ng-template>
                <!-- affectation métiers -->
                <!-- <p *ngIf="user.sigle">Métiers d'affectation ({{user.sigle.length}}) :
                    <span *ngFor="let s of user.sigle">{{s}} </span>
                </p> -->
                <p><strong>Enregistré en tant que</strong> : {{ user.isPrivate ? 'Privé' : 'Public' }}</p>
                <p *ngIf="user.geographicScope"><strong>Son périmètre</strong> : {{permimeter}}</p>
                <span *ngIf="user.structure"><strong>Organisme</strong>: {{user.structure}}</span><br>
                <hr>
                <p *ngIf="user.structure"><strong>Détails</strong> : Nulla facilisi. Duis faucibus nisi ut arcu rhoncus venenatis. 
                    Aenean vehicula dui tincidunt, rutrum metus sed, ultrices risus. 
                    Maecenas semper, ante at volutpat sodales, felis ipsum tempor urna, ac fringilla ex felis sit amet ex. 
                    Praesent suscipit metus nulla, ac tristique sapien sodales ut.</p>
            

            </div>
            <div class="card-footer text-muted">
                <span *ngIf="user.created">Date de création : {{user.created | date:'dd/MM/yyyy' }}</span><br>
            </div>
        </div>
        {{userRouterLinks.user}} - {{userRouterLinks.data}} 
        <!-- il n'y a pas de risque qu'un referent demande à accéder à la liste de ceux dont la gestion est mutualisée donc -->
        <div *ngIf="userRouterLinks.user==='admin'" class="d-flex my-4 justify-content-end gap-5">
            <button type="button" class="btn btn-primary text-white" [routerLink]="[linkBackToList]">Retour à la liste !!!! </button>
            <button type="button" class="btn btn-warning text-white"
                [routerLink]="['/admin/updateUser', user.id]">
                Modifier
            </button>
            <button type="button" class="btn btn-danger text-white" (click)="deleteUser(user.id)">Supprimer </button>
        </div>
    </div>

</div>