<div class="container py-5">

    <h3>Mise à jour d'un tuteur</h3>
    <!-- {{user | json}} -->

    <div class="alert bg-warning p-4 alert-dismissible mb-4 fade show pe-5 animate">
        <button type="button" class="btn-close mt-2" data-bs-dismiss="alert"
            aria-label="Fermer le message be-on-top"></button>
        <!-- <span> Vos résultats et estimations sont disponibles ci-dessous. L'<a
                class="text-decoration-none" [routerLink]="['/socialregistration']">incription en formation</a> peut
            maintenant commencer.</span> -->
        <!-- <span> <i class="bi bi-info-square-fill pe-2"></i>Pour <span class="fw-bold">être accompagné dans votre
                projet de formation</span> et <span class="fw-bold">vous rapprocher du centre de votre choix</span> -->
        <i class="bi bi-info-square-fill pe-2"></i>Rappel <span class="fw-bold"> : n'oubliez pas de valider votre formulaire à la fin de cette étape !</span> 
    </div>

    <form class="form" #f="ngForm" (submit)="updateUser(f)" class="was-validated">

        <input type="text" id="created" [(ngModel)]="user.created" name="created" class="form-control invisible"
            placeholder="Date de création : non modifiable">
        <input type="text" id="id" [(ngModel)]="user.id" name="id" class="form-control"
            placeholder="id d'authentification : non modifiable" class="form-control text-white" disabled>

        <label for="firstName" class="form-label mt-3">Prénom</label>
        <input type="text" id="firstName" [(ngModel)]="user.firstName" name="firstName" class="form-control"
            placeholder="Prénom">

        <label for="lastName" class="form-label mt-3">Nom *</label>
        <input type="text" id="lastName" [(ngModel)]="user.lastName" name="lastName" class="form-control"
            #lastName="ngModel" placeholder="Nom" required>
        <div class="valid-feedback" *ngIf="lastName.valid">Champ correctement renseigné</div>
        <div class="invalid-feedback" *ngIf="lastName.invalid">Merci de renseigner le champ nom.</div>

        <label for="email" class="form-label mt-3">Email *</label>
        <div class="input-group disabled">
            <span class="input-group-text" id="inputGroupPrepend2">&#64;</span>
            <input type="email" id="email" [(ngModel)]="user.email" name="email" class="form-control" #email="ngModel"
                placeholder="Email" required disabled>
        </div>
        <div class="valid-feedback" *ngIf="email.valid">Email Valide </div>
        <div class="invalid-feedback" *ngIf="email.invalid">Merci de renseigner le champ email.</div>

        <label for="cp" class="form-label mt-3">CP (optionnel)</label>
        <input type="text" id="cp" [(ngModel)]="user.cp" name="cp" class="form-control"
            placeholder="Code Postal Optionnel...">

        <!-- Tooggle Swith for user status -->
        <div class="form-check form-switch my-3">
            <input class="form-check-input" type="checkbox" id="status" name="status" value="true"
                [(checked)]="user.status" [(ngModel)]="user.status">
            <label class="form-check-label" for="status">Status de l'utilisateur :
                <span *ngIf="user.status; else elseBlock" class="fw-bold">Actif</span>
                <ng-template #elseBlock> <span class="fw-bold">Inactif</span></ng-template>
            </label>
        </div>

        <!-- pas d'affectation métier pour le tuteur externe -->

        <label for="students" class="form-label">📌 Affectation étudiants :</label>
        <div class="d-flex border-start ps-3 text-muted small mb-2">
            Maintenez Ctrl (ou Cmd sur Mac) pour ajouter ou retirer des étudiants à sa liste de suivi.
        </div>
    
        <!-- Liste visuelle des étudiants déjà sélectionnés, avec bouton de suppression -->
        <ng-container *ngFor="let student of studentsList">
            <span *ngIf="selectedStudent.includes(student.id)">
                {{student.lastName}} {{student.firstName}}
                <button type="button" class="btn" title="remove student" (click)="delete(student.id)">
                    <i class="bi bi-x-square-fill mx-0"></i>
                </button>
            </span>
        </ng-container>

        <select #studentSelect class="form-select" name="students" id="students" [(ngModel)]="selectedStudent" multiple>
            <option value>Selectionner l'étudiant</option>
            <option *ngFor="let student of studentsList" [value]="student.id" [id]="student.id" #[student.id]
                [ngClass]="{'text-light bg-primary fst-italic': searchText && student.lastName.toLowerCase().includes(searchText.toLowerCase())}">
                {{student.lastName}} {{student.firstName}}
            </option>
        </select>

        <!-- <label for="email" class="form-label mt-3">Commentaires optionnels</label> -->
        <textarea name="details" id="details" [(ngModel)]="user.details" name="details" cols="100" rows="10"
            class="form-control mt-3" #details="ngModel" [ngClass]="{'.is-valid':details.value && details.touched}"
            placeholder="Commentaires optionnels...">Détails / Remarques & Objectifs...</textarea>
        <button type="submit" id="submit" class="btn btn-primary mt-3"
            [ngClass]="{'disabled':f.invalid}">Valider</button>
    </form>


</div>