<div class="container py-5">

    <!-- {{userRouterLinks.user}} -->

    <!-- myCp : {{myCp}} - FilteredTrainers : {{filteredTrainers  | json}} -->

    <h3 *ngIf="userRouterLinks.user=='admin'">Gestion des candidats<span
            class="badge bg-primary ms-2">{{collectionStudents.length}}</span></h3>
    <!-- pour vérifier userUid du référent et le comparer au champ student.referent facilement -->
    <!-- <h3 *ngIf="userRouterLinks.user=='referent'">Suivi administratif des candidats ({{userUid}})</h3> -->
    <h3 *ngIf="userRouterLinks.user=='referent'">Suivi administratif des candidats</h3>
    <p *ngIf="userRouterLinks.user=='referent'" class="small primary text-center mt-0">Pour rappel, vous sont associés :
        {{cpArray}}</p>
    <h3 *ngIf="userRouterLinks.user=='external'">Annuaire étudiants</h3>
    <!-- <hr> -->
    <div *ngIf="(!allStudents)">
        ...loading
    </div>

    <div *ngIf="allStudents">

        <!-- Tests préalables à l'activation du nouveau filtre, maintenant inutiles -->
        <!-- <div *ngFor="let dedicated of filteredStudents" >
            <p>{{dedicated.firstName}} {{dedicated.lastName}} {{dedicated.id}}</p>
        </div> -->

        <!-- on introduit un champ de recherche -->
        <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
        <!-- ajoute un bouton d'ajout en haut du composant j'aime  pas sur petits écrans !!!! -->
        <button class="btn btn-primary mt-5 w-auto" *ngIf="userRouterLinks.user!=='external'"><a
                [routerLink]="['/admin/addStudent']" class="text-white"><i
                    class="bi bi-person-fill-add me-2"></i>Ajouter</a></button>

        <div class="row mt-3 text-secondary justify-content-between">

            <div class="col-md-6">Activer un filtre OU un autre > <br>
                <p class="small" *ngIf="userRouterLinks.user==='referent'">
                    Ont expressément choisi votre centre pour le suivi de leur
                    dossier d'inscription&nbsp;*</p>
            </div>

            <div class="col-md-6">
                <!-- <div class="form-check" *ngIf="userRouterLinks.user!=='external' || userRouterLinks.user!=='admin'"> -->
                <div class="form-check" *ngIf="userRouterLinks.user==='referent'">
                    <label class="form-check-label" for="priorCheckbox">Qui ont choisi mon centre*</label>
                    <input type="checkbox" (change)="onCheckboxChangePrior($event)" class="form-check-input"
                        id="priorCheckbox">
                </div>
                <div class="form-check" *ngIf="userRouterLinks.user==='referent'">
                    <label class="form-check-label" for="myCenterStudents">Que j'ai ajouté(s)</label>
                    <input type="checkbox" (change)="onCheckboxChangeMyInitialStudents($event)" class="form-check-input"
                        id="myCenterStudents">
                </div>
                <div class="form-check" *ngIf="userRouterLinks.user==='admin'">
                    <label class="form-check-label" for="socialCheckbox">Formulaire administratif renseigné</label>
                    <input type="checkbox" (change)="onCheckboxChangeSocial($event)" class="form-check-input"
                        id="socialCheckbox">
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="subscriptionsCheckbox">Inscription finalisée</label>
                    <input type="checkbox" (change)="onCheckboxChangeSubscriptions($event)" class="form-check-input"
                        id="subscriptionsCheckbox">
                </div>

                <!-- puisqu'il faut compliquer -->
                <!-- ici, pour restreindre la liste des filtres additionnels au seul admin -->
                <ng-container *ngIf="userRouterLinks.user==='admin'">

                    <div *ngFor="let trade of trades">
                        <div class="form-check">
                            <label class="form-check-label" for="tradeCheckbox">Questionnaire en cours {{trade}}</label>
                            <input type="checkbox" (change)="onCheckboxChangeTradesForStartedQCM($event, trade)"
                                class="form-check-input">
                        </div>
                    </div>
                    <div *ngFor="let trade of trades">
                        <div class="form-check">
                            <label class="form-check-label" for="tradeCheckbox">Questionnaire terminé {{trade}}</label>
                            <input type="checkbox" (change)="onCheckboxChangeTradesForFullQCM($event, trade)"
                                class="form-check-input">
                        </div>
                    </div>

                    <!-- fin filtres additionnels pour compliquer -->
                    <!-- <ng-container *ngIf="tradesActivated"> -->
                    <div *ngFor="let trade of trades">
                        <div class="form-check">
                            <label class="form-check-label" for="tradeCheckbox">Formation {{trade}}</label>
                            <input type="checkbox" (change)="onCheckboxChangeTrades($event, trade)"
                                class="form-check-input">
                        </div>
                    </div>
                    <!-- </ng-container> -->

                </ng-container>

                <div class="form-check">
                    <label class="form-check-label" for="endedCheckbox">A terminé sa formation</label>
                    <input type="checkbox" (change)="onCheckboxChangeEndedTraining($event)" class="form-check-input"
                        id="endedCheckbox">
                </div>

                <hr class="border-secondary">

                <div><button *ngIf="userRouterLinks=='admin'" class="btn btn-primary" (click)="toggleOrder()">
                        {{ ascending ? 'Afficher les plus récents' : 'Afficher les plus anciens' }}
                    </button></div>

                <!-- <hr class="border-secondary" *ngIf="userRouterLinks.user==='admin'"> -->
                <!-- si il faut relancer (l'admin décidera à qui l'honneur) -->
                <button button class="btn btn-primary position-relative me-sm-2" *ngIf="userRouterLinks.user==='admin'"
                    (click)="getStudentsWithNoInterest()">{{showNoInterestStudents ? 'Masquer les prospects à relancer'
                    : 'Afficher les prospects à relancer' }}
                    <span *ngIf="showNoInterestStudents"
                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{studentsWithNoInterest.length}}

                    </span>
                </button>
                <!-- pour exporter la liste à relancer -->
                <button *ngIf="showNoInterestStudents" type="button" class="btn btn-danger mt-sm-2 mt-xl-0"
                    (click)="exportInactifsCSV()">
                    Exporter au format csv
                </button>


            </div>

        </div>

        <!-- userRouterLinks.user {{userRouterLinks.user}} -->

        <!-- pourquoi d-xs-none ???? -->
        <!-- <div class="row mt-4 d-xs-none ps-2" *ngIf="userRouterLinks.user=='admin' || userRouterLinks.user=='referent'"> -->
        <div class="row mt-4 ps-2" *ngIf="userRouterLinks.user=='admin' || userRouterLinks.user=='referent'">

            <div class="col-sm-3 h5 d-none d-md-inline">Nom</div>
            <div class="col-sm-3 h5 d-none d-md-inline">Prénom</div>
            <div class="col-sm-3 h5 d-none d-md-inline" [ngClass]="{disabled:userRouterLinks.user=='referent'}">Suppression</div>
            <div class="col-sm-3 h5 d-none d-md-inline">Détails</div>
            <!-- Liste conditionnelle qui doit être désactivée dès l'application d'un filtre pour plus de lisibilité -->
            <div *ngIf="showNoInterestStudents">
                <div class="alert alert-warning mx-0 fw-regular fs-auto">Prospects inscrits mais inactifs<span
                        class="badge bg-danger ms-2">{{studentsWithNoInterest.length}}</span> </div>
                <div *ngFor="let student of studentsWithNoInterest">
                    <div *ngIf="userRouterLinks.user=='admin'">
                        <div class="row mt-4 ps-sm-0"
                            *ngIf="searchText==='' || student.lastName.includes(searchText) || student.lastName.toLowerCase().includes(searchText) 
                                                  || student.firstName.includes(searchText) || student.firstName.toLowerCase().includes(searchText)
                                                  || student.email.includes(searchText) || student.email.toLowerCase().includes(searchText)">

                            <div class="col-sm-3 col-6">{{student.lastName}}</div>
                            <div class="col-sm-3 col-6 order-perso2">{{student.firstName}}</div>
                            <div class="col-sm-3 col-6"><button class="btn btn-danger text-white"
                                    [ngClass]="{'disabled':userRouterLinks.user=='referent'}"
                                    (click)="deleteStudent(student)"><i
                                        class="bi bi-person-dash-fill"></i><span class="d-md-none">Sup.</span><span class="d-none d-md-inline">Suppression</span></button>
                            </div>
                            <div class="col-sm-3 col-6 order-perso4"><button class="btn btn-primary">
                                    <a *ngIf="userRouterLinks.user=='admin'"
                                        [routerLink]="['/admin/student', student.id]" class="text-white"><i
                                            class="bi bi-person-lines-fill"></i>Détails</a>
                                    <a *ngIf="userRouterLinks.user=='referent'"
                                        [routerLink]="['/admin/referent/studentDetails', student.id]"
                                        class="text-white"><i class="bi bi-person-lines-fill"></i>Détails</a>
                                </button></div>
                        </div>
                    </div>
                    <ng-template #external>
                        <div class="row mt-4 justify-content-start"
                            *ngIf="searchText==='' || student.lastName.includes(searchText) || student.lastName.toLowerCase().includes(searchText)
                                                  || student.firstName.includes(searchText) || student.firstName.toLowerCase().includes(searchText)
                                                  || student.email.includes(searchText) || student.email.toLowerCase().includes(searchText)">
                            <div class="col-sm-3 col-6">{{student.lastName}}</div>
                            <div class="col-sm-3 col-6">{{student.firstName}}</div>
                            <div class="col-sm-3 col-6 mt-3 m-sm-0"><button class="btn btn-primary"><a
                                        [routerLink]="['/admin/externalStudentDetails', student.id]"
                                        class="text-white"><i class="bi bi-person-lines-fill"></i>Détails</a></button>
                            </div>
                        </div>
                    </ng-template>

                </div>

                <!-- fin des prospects à relancer -->
                <hr>
            </div>


            <!-- <div class="alert alert-info mx-0 fw-regular fs-auto">Prospects inscrits et actifs<span
                    class="badge bg-dark ms-2">{{allStudents.length}}</span> </div> -->
            <!-- parce que isTradeFilter initialement était réservé aux formations métiers -->
            <div class="alert alert-info mx-0 fw-regular fs-auto">
                {{isSubscriptionFilter || isTradeFilter ? "Inscriptions formation finalisées":isTradeQCMStarted ||
                isTradeFullQCM ? "Prospects concernés":"Prospects inscrits et actifs"}}
                <span class="badge bg-dark ms-2">{{allStudents.length}}</span>
            </div>

        </div>



        <div class="row mt-4 d-xs-none justify-content-start" *ngIf="userRouterLinks.user=='external'">
            <div class="col-sm-3 col-6 h5">Nom</div>
            <div class="col-sm-3 col-6 h5">Prénom</div>
            <div class="col-sm-3 col-6 h5">Détails</div>
        </div>

        <div *ngFor="let student of allStudents">

            <div *ngIf="userRouterLinks.user=='admin' || userRouterLinks.user=='referent', else external">

                <div class="row mt-4 ps-5 ps-sm-0" *ngIf="searchText==='' || student.lastName.includes(searchText) || student.lastName.toLowerCase().includes(searchText) 
                    || student.firstName.includes(searchText) || student.firstName.toLowerCase().includes(searchText)
                    || student.email.includes(searchText) || student.email.toLowerCase().includes(searchText)">


                    <div class="col-sm-3 col-6">{{student.lastName}}</div>
                    <div class="col-sm-3 col-6 order-perso2">{{student.firstName}}</div>
                    <div class="col-sm-3 col-6"><button class="btn btn-danger text-white"
                            [ngClass]="{'disabled':userRouterLinks.user=='referent'}"
                            (click)="deleteStudent(student)"><i class="bi bi-person-dash-fill"></i><span class="d-md-none">Sup.</span><span class="d-none d-md-inline">Suppression</span></button>
                    </div>
                    <div class="col-sm-3 col-6 order-perso4"><button class="btn btn-primary">
                            <a *ngIf="userRouterLinks.user=='admin'" [routerLink]="['/admin/student', student.id]"
                                class="text-white"><i class="bi bi-person-lines-fill"></i>Détails</a>
                            <a *ngIf="userRouterLinks.user=='referent'"
                                [routerLink]="['/admin/referent/studentDetails', student.id]" class="text-white"><i
                                    class="bi bi-person-lines-fill"></i>Détails</a>
                        </button></div>
                </div>
            </div>
            <ng-template #external>
                <div class="row mt-4 justify-content-start" *ngIf="searchText==='' || student.lastName.includes(searchText) || student.lastName.toLowerCase().includes(searchText)
                    || student.firstName.includes(searchText) || student.firstName.toLowerCase().includes(searchText)
                    || student.email.includes(searchText) || student.email.toLowerCase().includes(searchText)">
                    <div class="col-sm-3 col-6">{{student.lastName}}</div>
                    <div class="col-sm-3 col-6">{{student.firstName}}</div>
                    <div class="col-sm-3 col-6 mt-3 m-sm-0"><button class="btn btn-primary"><a
                                [routerLink]="['/admin/externalStudentDetails', student.id]" class="text-white"><i
                                    class="bi bi-person-lines-fill"></i>Détails</a></button></div>
                </div>
            </ng-template>

        </div>
        <!-- {{userRouterLinks.user}} -->
        <button class="btn btn-primary mt-5" *ngIf="userRouterLinks.user!=='external'"><a
                [routerLink]="['/admin/addStudent']" class="text-white"><i
                    class="bi bi-person-fill-add me-2"></i>Ajouter</a></button>


        <div class="row gap-3" *ngIf="userRouterLinks.user!=='external'">
            <button class="btn btn-primary mt-5 col-10 col-md-5" (click)="exportStudentsCollection()"><i
                    class="bi bi-box-arrow-down me-3"></i>Export au format JSON de la collection</button>
            <button class="btn btn-primary mt-5 col-10 col-md-5" (click)="exportCollectionAsCSV()"><i
                    class="bi bi-box-arrow-down me-3"></i>Export au format csv de la collection</button>
        </div>



    </div>
</div>