<div class="container py-5">

    <h3 *ngIf="userRouterLinks.user=='admin' || userRouterLinks.user=='referent'">Gestion des candidats (apprenants)
    </h3>
    <h3 *ngIf="userRouterLinks.user=='external'">Annuaire étudiants</h3>
    <!-- <hr> -->
    <div *ngIf="(!allStudents)">
        ...loading
    </div>

    <div *ngIf="allStudents">
        <!-- on introduit un champ de recherche -->
        <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>

        <div class="row mt-3 text-secondary justify-content-between">
            <p class="col-md-6">Activer un filtre ou un autre</p>
            <div class="col-md-6">
                <div class="form-check" *ngIf="userRouterLinks.user!=='external'">
                    <label class="form-check-label" for="socialCheckbox">Formulaire administratif renseigné</label>
                    <input type="checkbox" (change)="onCheckboxChangeSocial($event)" class="form-check-input"
                        id="socialCheckbox">
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="subscriptionsCheckbox">Inscription finalisée</label>
                    <input type="checkbox" (change)="onCheckboxChangeSubscriptions($event)" class="form-check-input"
                    id="subscriptionsCheckbox">
                </div>
                <!-- <ng-container *ngIf="tradesActivated"> -->
                    <div *ngFor="let trade of trades">
                        <div class="form-check">
                            <label class="form-check-label" for="tradeCheckbox">Formation {{trade}}</label>
                            <input type="checkbox" (change)="onCheckboxChangeTrades($event, trade)" class="form-check-input">
                        </div>
                    </div>
                <!-- </ng-container> -->
                <div class="form-check">
                    <label class="form-check-label" for="endedCheckbox">A terminé sa formation</label>
                    <input type="checkbox" (change)="onCheckboxChangeEndedTraining($event)" class="form-check-input"
                        id="endedCheckbox">
                </div>

                <hr class="border-secondary">
            </div>

        </div>

        <div class="row mt-4 d-xs-none" *ngIf="userRouterLinks.user=='admin'">
            <div class="col-sm-3 h5">Nom</div>
            <div class="col-sm-3 h5">Prénom</div>
            <div class="col-sm-3 h5">Suppression</div>
            <div class="col-sm-3 h5">Détails</div>
        </div>

        <div class="row mt-4 d-xs-none justify-content-around"
            *ngIf="userRouterLinks.user=='external' || userRouterLinks.user=='referent'">
            <div class="col-sm-3 col-6 h5">Nom</div>
            <div class="col-sm-3 col-6 h5">Prénom</div>
            <div class="col-sm-3 col-6 h5">Détails</div>
        </div>

        <div *ngFor="let student of allStudents">
            <div *ngIf="userRouterLinks.user=='admin' || userRouterLinks.user=='referent', else external">
                <div class="row mt-4 ps-5 ps-sm-0"
                    *ngIf="searchText==='' || student.lastName.includes(searchText) || student.lastName.toLowerCase().includes(searchText) || student.firstName.includes(searchText) || student.firstName.toLowerCase().includes(searchText)">

                    <div class="col-sm-3 col-6">{{student.lastName}}</div>
                    <div class="col-sm-3 col-6 order-perso2">{{student.firstName}}</div>
                    <div class="col-sm-3 col-6"><button class="btn btn-danger text-white"
                            [ngClass]="{'disabled':userRouterLinks.user=='referent'}"
                            (click)="deleteStudent(student)"><i class="bi bi-person-dash-fill"></i>Suppression</button>
                    </div>
                    <div class="col-sm-3 col-6 order-perso4"><button class="btn btn-primary">
                            <a *ngIf="userRouterLinks.user=='admin'" [routerLink]="['/admin/student', student.id]"
                                class="text-white"><i class="bi bi-person-lines-fill"></i>Détails</a>
                            <a *ngIf="userRouterLinks.user=='referent'"
                                [routerLink]="['/admin/referent/studentDetails', student.id]" class="text-white"><i
                                    class="bi bi-person-lines-fill"></i>Détails</a>
                        </button></div>
                </div>
            </div>
            <ng-template #external>
                <div class="row mt-4 justify-content-around"
                    *ngIf="searchText==='' || student.lastName.includes(searchText) || student.lastName.toLowerCase().includes(searchText) || student.firstName.includes(searchText) || student.firstName.toLowerCase().includes(searchText)">
                    <div class="col-sm-3 col-6">{{student.lastName}}</div>
                    <div class="col-sm-3 col-6">{{student.firstName}}</div>
                    <div class="col-sm-3 col-6"><button class="btn btn-primary"><a
                                [routerLink]="['/admin/externalStudentDetails', student.id]" class="text-white"><i
                                    class="bi bi-person-lines-fill"></i>Détails</a></button></div>
                </div>
            </ng-template>

        </div>
        <!-- {{userRouterLinks.user}} -->
        <button class="btn btn-primary mt-5" *ngIf="userRouterLinks.user!=='external'"><a
                    [routerLink]="['/admin/addStudent']" class="text-white"><i class="bi bi-person-fill-add me-2"></i>Ajouter</a></button>
        

        <div class="row gap-3" *ngIf="userRouterLinks.user!=='external'">
            <button class="btn btn-primary mt-5 col-10 col-md-5" (click)="exportStudentsCollection()"><i
                    class="bi bi-box-arrow-down me-3"></i>Export au format JSON de la collection</button>
            <button class="btn btn-primary mt-5 col-10 col-md-5" (click)="exportCollectionAsCSV()"><i
                    class="bi bi-box-arrow-down me-3"></i>Export au format csv de la collection</button>
        </div>



    </div>
</div>