<div *ngIf="student">
    <div class="container py-5">

        <h3>Mise à jour du statut de <span class="text-capitalize">{{student.lastName}} {{student.firstName}}</span></h3>

        <form class="form mb-5 was-validated" #f="ngForm" (submit)="updateStudent(f)">

            <input type="text" id="created" [(ngModel)]="student.created" name="created" class="form-control invisible"
                placeholder="Date de création : non modifiable">
            <input type="text" id="id" [(ngModel)]="student.id" name="id" class="form-control"
                placeholder="id d'authentification : non modifiable" class="form-control text-white" disabled>
            <!-- 
            <input type="text" id="trainer" [(ngModel)]="student.trainer" name="trainer" class="form-control"
                placeholder="évaluateur : non modifiable" class="form-control text-white" disabled> -->

            <label for="firstName" class="form-label mt-3">Prénom</label>
            <input type="text" id="firstName" [(ngModel)]="student.firstName" name="firstName" class="form-control"
                placeholder="Prénom" [disabled]="userRouterLinks.user==='trainer'">

            <label for="lastname" class="form-label mt-3">Nom *</label>
            <input type="text" id="lastName" [(ngModel)]="student.lastName" name="lastName" class="form-control"
                #lastName="ngModel" placeholder="Nom" required [disabled]="userRouterLinks.user==='trainer'">
            <div class="valid-feedback" *ngIf="lastName.valid">Champ correctement renseigné</div>
            <div class="invalid-feedback" *ngIf="lastName.invalid">Merci de renseigner le champ nom.</div>

            <label for="email" class="form-label mt-3 disabled text">Email *</label>
            <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend2">@</span>
                <input type="email" id="email" [(ngModel)]="student.email" name="email" class="form-control text-white"
                    #email="ngModel" placeholder="Email" disabled>
            </div>
            <!-- <div class="valid-feedback" *ngIf="email.valid">Email Valide </div>
            <div class="invalid-feedback" *ngIf="email.invalid">Merci de renseigner le champ email.</div> -->

            <label for="cp" class="form-label mt-3">CP</label>
            <input type="text" id="cp" [(ngModel)]="student.cp" name="cp" class="form-control"
                placeholder="Code Postal Optionnel..." [disabled]="userRouterLinks.user==='trainer'">

            <!-- Tooggle Swith for student status -->
            <div class="form-check form-switch my-3">
                <input class="form-check-input" type="checkbox" id="status" name="status" value="true"
                    [(checked)]="student.status" [(ngModel)]="student.status"
                    [disabled]="userRouterLinks.user==='trainer'">
                <label class="form-check-label" for="status">Status de l'utilisateur :
                    <span *ngIf="student.status; else elseBlock" class="fw-bold">Actif</span>
                    <ng-template #elseBlock> <span class="fw-bold">Inactif</span></ng-template>
                </label>
            </div>

            <!-- <label for="email" class="form-label mt-3">Commentaires optionnels</label> -->
            <textarea name="details" id="details" [(ngModel)]="student.details" name="details" cols="100" rows="10"
                class="form-control mt-3" #details="ngModel" [ngClass]="{'.is-valid':details.value && details.touched}"
                placeholder="Commentaires optionnels..."
                [disabled]="userRouterLinks.user==='trainer'">Détails / Remarques & Objectifs...</textarea>
            <button type="submit" id="submit" class="btn btn-primary mt-3"
                [ngClass]="{'disabled':f.invalid || userRouterLinks.user=='trainer'}">Valider</button>
        </form>

        <!-- spécifiquement, pour la validation de son inscription -->
        <ng-container *ngIf="userRouterLinks.user=='admin' || userRouterLinks.user=='referent'">
            <div class="mb-5">
                <!-- test intégration comme composant enfant du formulaire désormais déclaré dans admin.module -->
                <h3>Inscription Formation</h3>
                <p *ngIf="student.subscriptions && student.subscriptions.length!==0">Inscriptions actuelles :
                    {{student.subscriptions}}</p>
                <form class="form mb-5" #subscription="ngForm" (submit)="subscribeStudent(subscription)"
                    class="was-validated">
                    <select class="form-select" name="sigle" [(ngModel)]="student.subscriptions" required
                        #sigle="ngModel" multiple>
                        <option value>Sélectionner l'intitulé métier de la formation :</option>
                        <option *ngFor="let element of sigleIds" value="{{element}}">
                            {{element}}
                        </option>
                    </select>

                    <button type="submit" id="submit" class="btn btn-primary mt-3"
                        [ngClass]="{'disabled':subscription.invalid}">Valider</button>
                </form>

                <h3>Plateform E-learning</h3>

                <form class="form mb-5" #info="ngForm" (submit)="sendElearningInfo(info)" class="was-validated">
                    <!-- <label for="url">Lien vers plateforme e-learning :</label> -->
                    <input type="url" name="elearning" [(ngModel)]="student.elearning" class="form-control mt-3"
                        minlength="15" placeholder="renseigner url pour le e-learning">

                    <button type="submit" id="submit" class="btn btn-primary mt-3">Valider</button>
                </form>

                <app-student-form [studentData]="student"></app-student-form>

                <form class="form mb-5" #endSubscription="ngForm" (submit)="addEndingDate(endSubscription)"
                    class="was-validated">
                    <select class="form-select" name="sigle" ngModel required #sigle="ngModel">
                        <option value>Enregistrer la fin d'inscription pour :</option>
                        <ng-container *ngFor="let element of student.subscriptions">
                            <ng-container
                                *ngIf="!student.endedSubscriptions || student.endedSubscriptions.sigle !== element">
                                <option [value]="element">{{ element }}</option>
                            </ng-container>
                        </ng-container>
                    </select>
                    <button type="submit" id="submit" class="btn btn-primary mt-3"
                        [ngClass]="{'disabled':endSubscription.invalid}">Valider</button>
                </form>
            </div>

        </ng-container>

        <!-- spécifiquement, pour la saisie des évaluations de suivi -->
        <ng-container *ngIf="userRouterLinks.user=='trainer'">
            <h3>Mise à jour de ses évaluations de suivi</h3>
            <p>Compétence : {{evaluationToUpdate.competence}}</p>

            <form class="form" #followUp="ngForm" (submit)="updateStudentEvaluation(followUp)" class="was-validated">
                <!-- ajout pour les niveaux -->
                <div class="form-group col-sm-4">
                    <!-- <label for="level">Niveau</label> -->
                    <select class="form-select" name="level" id="level" [ngModel]="evaluationToUpdate.level" required
                        #level="ngModel">
                         <!-- pour embarquer les traductions -->
                        <!-- <option value>Niveau</option> -->
                        <option *ngFor="let level of levels" value="{{level}}">{{ levelTranslations[level] }}</option>
                    </select>
                </div>
                <!-- ----------------- -->
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="subject" class="form-label mt-3">Sujet *</label>
                        <input type="text" [ngModel]="evaluationToUpdate.subject" name="subject" class="form-control"
                            #subject="ngModel" required>
                        <div class="valid-feedback" *ngIf="subject.valid">Champ correctement renseigné</div>
                        <div class="invalid-feedback" *ngIf="subject.invalid">Merci de renseigner le sujet de
                            l'évaluation.
                        </div>
                    </div>
                    <!-- <div class="form-group  col-md-6 disabled">
                        <label for="date" class="form-label mt-3 desactivated" >Date pour information</label>
                        <input type="date" name="date" [ngModel]="evaluationToUpdate.date" name="date" class="form-control" #date="ngModel" required disabled>
                        <div class="valid-feedback" *ngIf="date.valid">Champ non sommis à modification</div>
                        <div class="invalid-feedback" *ngIf="date.invalid">Merci de renseigner la date</div>
                    </div> -->
                </div>
                <div class="form-group">
                    <label for="details" class="form-label mt-3">Details</label>
                    <!-- Si on utilise TinyCME comme éditeur de texte pour enrichir la propriété details -->
                    <!-- <textarea name="details" id="" cols="50" rows="30" [ngModel]="evaluationToUpdate.details" name="details" class="form-control"
                        #details="ngModel" placeholder="Saisissez l'évaluation reçue en présentiel" required></textarea> -->
                    <editor apiKey="ahl0yg86w69zh9viflcvku8m2k333o942kc9fpttussom153" [init]="{ plugins: 'link image', toolbar: 'undo redo | bold italic | link image' }"
                        [id]="'details'" [ngModel]="evaluationToUpdate.details" name="details"
                        placeholder="Saisissez l'évaluation reçue en présentiel"></editor>
                    <div class="valid-feedback" *ngIf="details.valid">Evaluation correctement renseignée</div>
                    <div class="invalid-feedback" *ngIf="details.invalid">Merci de saisir votre évaluation de suivi </div>
                </div>
                <button type="submit" id="submit" class="btn btn-primary mt-3"
                    [ngClass]="{'disabled':followUp.invalid}">Valider</button>
            </form>

        </ng-container>



        <!-- spécifiquement, pour la saisie du suivi entreprise -->
        <ng-container *ngIf="userRouterLinks.user=='tutor' || userRouterLinks.user=='admin'">
            <h3>Mise à jour du suivi d'entreprise</h3>

            <form class="form" #followUpTutorial="ngForm" (submit)="updateStudentTutorial(followUpTutorial)"
                class="was-validated">

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="subject" class="form-label mt-3">Sujet *</label>
                        <input type="text" [ngModel]="tutorialToUpdate.subject" name="subject" class="form-control"
                            #subject="ngModel" required>
                        <div class="valid-feedback" *ngIf="subject.valid">Champ correctement renseigné</div>
                        <div class="invalid-feedback" *ngIf="subject.invalid">Merci de renseigner le sujet de
                            l'évaluation.
                        </div>
                    </div>
                    <!-- <div class="form-group  col-md-6 disabled">
                        <label for="date" class="form-label mt-3 desactivated" >Date pour information</label>
                        <input type="date" name="date" [ngModel]="evaluationToUpdate.date" name="date" class="form-control" #date="ngModel" required disabled>
                        <div class="valid-feedback" *ngIf="date.valid">Champ non sommis à modification</div>
                        <div class="invalid-feedback" *ngIf="date.invalid">Merci de renseigner la date</div>
                    </div> -->
                </div>
                <div class="form-group">
                    <label for="details" class="form-label mt-3">Details *</label>
                    <!-- Si on utilise TinyCME comme éditeur de texte pour enrichir la propriété details -->
                    <!-- <textarea name="details" id="" cols="50" rows="30" [ngModel]="evaluationToUpdate.details" name="details" class="form-control"
                        #details="ngModel" placeholder="Saisissez l'évaluation reçue en présentiel" required></textarea> -->
                    <editor [init]="{ plugins: 'link image', toolbar: 'undo redo | bold italic | link image' }"
                        [id]="'details'" [ngModel]="tutorialToUpdate.details" name="details"
                        placeholder="Saisissez l'évaluation reçue en entreprise" required></editor>
                    <div class="valid-feedback" *ngIf="details.valid">Evaluation correctement renseignée</div>
                    <div class="invalid-feedback" *ngIf="details.invalid">Merci de saisir votre évaluation de suivi
                    </div>
                </div>
                <button type="submit" id="submit" class="btn btn-primary mt-3"
                    [ngClass]="{'disabled':followUpTutorial.invalid}">Valider</button>
            </form>
        </ng-container>

    </div>
</div>