.was-validated .form-control:valid, .form-control.is-valid, .was-validated .form-select:valid{
    background-image: none;
  }

  .bg-danger{
  color: white !important ;
  }

/* Si le bouton est désactivé */
button[disabled] {
  opacity: 0.6 ! important;
  cursor: not-allowed;
}









