.timeline{
  position: relative;
  padding-left: 60px;
}

/* ligne verticale */
.timeline::before{
  content: "";
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  width: 3px;
  background: #dee2e6;
}

.timeline-item{
  position: relative;
  margin-bottom: 40px;
}

.timeline-item .badge{
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-item .content{
  margin-left: 60px;
}


@media print {

    * {
    /* Propriété préfixée en premier */
    -webkit-print-color-adjust: exact !important;
    /* Propriété standard en dernier pour qu'elle prévale */
    print-color-adjust: exact !important;
  }
}