<div *ngIf="student">
    <div class="container py-5">

        <h3>Mise à jour du candidat ID-{{studentId}}</h3>

        <form class="form" #f="ngForm" (submit)="updateStudent(f)" class="was-validated">

            <input type="text" id="created" [(ngModel)]="student.created" name="created" class="form-control invisible"
                placeholder="Date de création : non modifiable">
            <input type="text" id="id" [(ngModel)]="student.id" name="id" class="form-control"
                placeholder="id d'authentification : non modifiable" class="form-control text-white" disabled>
<!-- 
            <input type="text" id="trainer" [(ngModel)]="student.trainer" name="trainer" class="form-control"
                placeholder="évaluateur : non modifiable" class="form-control text-white" disabled> -->

            <label for="firstname" class="form-label mt-3">Prénom</label>
            <input type="text" id="firstname" [(ngModel)]="student.firstname" name="firstname" class="form-control"
                placeholder="Prénom">

            <label for="lastname" class="form-label mt-3">Nom *</label>
            <input type="text" id="lastname" [(ngModel)]="student.lastname" name="lastname" class="form-control"
                #lastName="ngModel" placeholder="Nom" required>
            <div class="valid-feedback" *ngIf="lastName.valid">Champ correctement renseigné</div>
            <div class="invalid-feedback" *ngIf="lastName.invalid">Merci de renseigner le champ nom.</div>

            <label for="email" class="form-label mt-3 disabled text">Email *</label>
            <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend2">@</span>
                <input type="email" id="email" [(ngModel)]="student.email" name="email" class="form-control text-white"
                    #email="ngModel" placeholder="Email" disabled>
            </div>
            <!-- <div class="valid-feedback" *ngIf="email.valid">Email Valide </div>
            <div class="invalid-feedback" *ngIf="email.invalid">Merci de renseigner le champ email.</div> -->

            <label for="cp" class="form-label mt-3">CP</label>
            <input type="text" id="cp" [(ngModel)]="student.cp" name="cp" class="form-control"
                placeholder="Code Postal Optionnel...">

            <!-- Tooggle Swith for student status -->
            <div class="form-check form-switch my-3">
                <input class="form-check-input" type="checkbox" id="status" name="status" value="true"
                    [(checked)]="student.status" [(ngModel)]="student.status">
                <label class="form-check-label" for="status">Status de l'utilisateur :
                    <span *ngIf="student.status; else elseBlock" class="fw-bold">Actif</span>
                    <ng-template #elseBlock> <span class="fw-bold">Inactif</span></ng-template>
                </label>
            </div>

            <!-- <label for="email" class="form-label mt-3">Commentaires optionnels</label> -->
            <textarea name="details" id="details" [(ngModel)]="student.details" name="details" cols="100" rows="10"
                class="form-control mt-3" #details="ngModel" [ngClass]="{'.is-valid':details.value && details.touched}"
                placeholder="Commentaires optionnels...">Détails / Remarques & Objectifs...</textarea>
            <button type="submit" id="submit" class="btn btn-primary mt-3"
                [ngClass]="{'disabled':f.invalid}">Valider</button>
        </form>


    </div>
</div>