<div class="container py-5">

    <h3>Ajouter un utilisateur</h3>
    <app-feedback-messages [feedbackMessages]="feedbackMessages"
        [isSuccessMessage]="isSuccessMessage"></app-feedback-messages>

    <div class="alert bg-info text-white" *ngIf="userRole?.includes('admin')">Ajout d'utilisateurs autres que
        évaluateurs,
        formateurs et tuteurs...</div>

    <div class="alert w-100 p-4 pe-5 bg-danger alert-dismissible text-white mb-4 fade show fs-5">
        <button type="button" class="btn-close btn-close-white mt-2" data-bs-dismiss="alert"
            aria-label="Fermer le message"></button><span class="fw-bold">ATTENTION : Pensez à vous munir de votre mot
            de passe. </span>
        A l'issue de cette étape votre contact recevra automatiquement par mail un lien pour personnaliser
        (réinitialisation) son mot de passe. Si le lien de
        réinitialisation ne fonctionne plus parce que ces liens ne sont opérationnels qu'une courte durée, invitez le à
        se rendre sur la
        page de <a class="text-light fw-bold" target="_blank" [routerLink]="['/login']">connexion</a> et cliquer sur
        <span class="fw-bold">réinitialiser mon mot de
            passe</span>.
    </div>

    <!-- pour les messages de retour/validation des champs du formulaire ou form validation, on utilisera BOOTSTRAP plutôt que des directives structurelles -->
    <form class="form" #f="ngForm" (submit)="addUser(f)" class="was-validated">

        <!-- attention à virer les fonctions pour l'exercice sur (change) et (input) !!!!!! -->

        <div class="row">
            <div class="form-group col-md-6">
                <label for="firstName" class="form-label mt-3">Prénom *</label>
                <input type="text" id="firstName" ngModel name="firstName" class="form-control" placeholder="Prénom"
                    required>
                <div class="valid-feedback" *ngIf="lastName.valid">Champ correctement renseigné</div>
                <div class="invalid-feedback" *ngIf="lastName.invalid">Merci de renseigner le champ nom.</div>
            </div>
            <div class="form-group  col-md-6">
                <label for="lastName" class="form-label mt-3">Nom *</label>
                <input type="text" id="lastName" ngModel name="lastName" class="form-control" #lastName="ngModel"
                    placeholder="Nom" required>
                <div class="valid-feedback" *ngIf="lastName.valid">Champ correctement renseigné</div>
                <div class="invalid-feedback" *ngIf="lastName.invalid">Merci de renseigner le champ nom.</div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label for="email" class="form-label mt-3">Email *</label>
                <div class="input-group">
                    <span class="input-group-text" id="inputGroupPrepend2">&#64;</span>
                    <!-- <span class="input-group-text" id="inputGroupPrepend2">@</span> -->
                    <input type="email" id="email" ngModel name="email" class="form-control" #email="ngModel"
                        placeholder="Email" required>
                    <div class="valid-feedback" *ngIf="email.valid">Email Valide </div>
                    <div class="invalid-feedback" *ngIf="email.invalid">Merci de renseigner le champ email.</div>
                </div>

            </div>
            <div class="form-group col-md-6">
                <label for="cp" class="form-label mt-3">CP</label>
                <input type="text" id="cp" ngModel name="cp" class="form-control" placeholder="Code Postal Optionnel..."
                    [required]="userRouterLinks.user == 'admin' && userRouterLinks.data == 'referents'">
            </div>
        </div>
        <!-- pour en faire un formulaire générique susceptible d'affecter un rôle ou un autre -->
        <!-- role actif : {{userRole |json}} -->
        <div class="row" *ngIf="userRole?.includes('admin')">
            <div class="form-group">
                <label for="role" class="form-label mt-3">Rôle attribué *</label>
                <select class="form-select text-secundary" name="role" id="role" ngModel required #role="ngModel">
                    <option value>Merci de préciser...</option>
                    <option value="editor">Editeur (marketing)</option>
                    <option value="referent">Conseiller Projet (gestion des inscriptions)</option>
                    <option value="manager">Responsable métiers (optionnel)</option>
                    <option value="external">Observateur externe (droits de consultations)</option>
                </select>
            </div>
        </div>

        <!-- si referent en cours de création ajouter la propriété optionnelle partner (?) -->
        <!-- <div *ngIf="f.value.role==='referent'">dfsrdfdfsesdfe</div> -->

        <!-- option pour spécifier SI partenaire -->
        <div class="form-check form-switch mt-3" *ngIf="f.value.role==='referent'">
            <label for="partner" class="form-check-label">Rattaché à un centre "Partenaire" ?</label>
            <input class="form-check-input" type="checkbox" name="partner" [(ngModel)]="partner"
                aria-label="Est un centre partenaire ou pas ?">
        </div>





        <!-- <hr> -->
        <!-- Optionnel : afficher le statut (Public/Privé) -->
        <!-- {{userRole|json}} -->
        <ng-container *ngIf="f.value.role==='external' && userRole?.includes('admin')">
            <hr>

            <div class="alert alert-danger">Les champs ci-dessous sont réservés à la
                création d'observateurs externes
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" [(ngModel)]="isPrivate"
                    name="isPrivate" (change)="onPrivateToggle()">

                <label class="form-check-label" for="flexSwitchCheckChecked"><span
                        class="text-dark">Propriété:</span><span [ngClass]="{'text-danger':isPrivate}"> {{ isPrivate ?
                        'Privé (accès à la base candidats payant)'
                        :'Public (accès à la base candidat immédiat)' }}</span></label>
            </div>

            <!-- test {{isPrivate}} -->
            <!-- cas typique où la mutualisation bloque l'affichage parce que les *ngIf s’excluent mutuellement dans le flux du DOM. -->
            <ng-container *ngIf="!isPrivate">
                <div class="form-group col-md-6">
                    <label for="structure" class="form-label mt-3">Organisme (réservé à l'observateur externe)</label>
                    <input type="text" id="structure" ngModel name="structure" class="form-control"
                        placeholder="Ex : mission locale, agence locale, centre d'information jeunesse...">
                </div>
                <label for="geographicScopeSelect" class="my-2">🌍 Son périmètre géographique :</label>
                <select id="geographicScopeSelect" class="form-control" ngModel name="geographicScope">
                    <option value>-- Sélectionner un périmètre (pour plus de lisibilité quand vous partagerez le
                        contact)</option>
                    <option value="regional">Régional</option>
                    <option value="departmental">Départemental</option>
                    <option value="local">Local</option>
                </select>
            </ng-container>
            <!-- fin des champs réservés aux observateurs externes -->
        </ng-container>


        <!-- pour le référent qui ne gère que des cas ou isPrivate n'est pas et la gestion du périmètre-->
        <ng-container *ngIf="userRole=='referent'">
            <div class="form-group col-md-6">
                <label for="structure" class="form-label mt-3">Organisme (réservé à l'observateur externe)</label>
                <input type="text" id="structure" ngModel name="structure" class="form-control"
                    placeholder="Ex : mission locale, agence locale, centre d'information jeunesse...">
            </div>
            <label for="geographicScopeSelect" class="my-2">🌍 Son périmètre géographique :</label>
            <select id="geographicScopeSelect" class="form-control" ngModel name="geographicScope">
                <option value>-- Sélectionner un périmètre (pour plus de lisibilité quand vous partagerez le
                    contact)</option>
                <option value="regional">Régional</option>
                <option value="departmental">Départemental</option>
                <option value="local">Local</option>
            </select>
            <!-- fin des champs réservés aux observateurs externes -->
        </ng-container>
        <hr>

        <!-- <label for="details" class="form-label mt-3">Commentaires optionnels</label> -->
        <textarea name="details" id="details" ngModel name="details" cols="100" rows="10" class="form-control mt-3"
            #details="ngModel" [ngClass]="{'.is-valid':details.value && details.touched}"
            placeholder="Commentaires optionnels...">Détails / Remarques & Objectifs...</textarea>
        <button type="submit" id="submit" class="btn btn-primary mt-3"
            [ngClass]="{'disabled':f.invalid}">Ajouter</button>
    </form>

    <hr>

    <!-- Section d'importation CSV -->
    <ng-container *ngIf="userRouterLinks.user == 'admin' && userRouterLinks.data == 'referents'">
        <h3 class="mt-3">Importer plusieurs Conseillers Projets (avec le code postal qui leur sera affecté)</h3>
        <div class="form-group">
            <label for="csvFile" class="form-label">Choisissez un fichier CSV</label>
            <input type="file" id="csvFile" (change)="onFileChange($event)" accept=".csv" class="form-control">
        </div>
        <button type="submit" class="btn btn-secondary mt-4" (click)="importCSV()"
            [disabled]="!csvFile">Importer</button>
    </ng-container>


</div>