#image{
    position: relative;
    /* The background image */
    background-image: url("/assets/employes-entrepot-frappant-mains-ensemble_342744-1462.webp");
    width: 100%;
    /* Largeur relative à l'écran */
    aspect-ratio: 4 / 2;
    /* Maintient un ratio de 4:2 */

    background-size: cover;
    /* Couvre entièrement le conteneur sans changer le ratio */
    background-position: center;
    /* Centre l'image de fond */
    background-repeat: no-repeat;
    /* Évite la répétition de l'image */

}

#image>img{
    position: absolute;
    width: 50px;
    bottom: 10px;
    right: 10px;
    /* opacity: 80%; */
    
}

/* pour les tabs */
/* styles.css */
.nav-item .btn {
    background-color: #6c757d; /* Couleur par défaut */
    color: white;
    border: none;
  }
  
  .nav-item .btn.active,
  .nav-item .btn:focus,
  .nav-item .btn:hover {
    background-color: #007bff; /* Couleur de l'onglet actif */
    color: white;
  }
  

@media only screen and (max-width: 576px)  {
    img{
        visibility: hidden;

        /* opacity: 80%; */
        
    }
    
}












  