<div class="container pt-3">

    <h3>Mission et Avantages</h3>

    <!-- <div *ngIf="!isLoading && !isOneQuizzAchieved && !offline"
            class="alert w-100 p-4 pe-5 bg-primary alert-dismissible text-white mb-4 fade show fs-5">
            <button type="button" class="btn-close btn-close-white mt-2" data-bs-dismiss="alert"
                aria-label="Fermer le message"></button>
            Evaluez vos connaissances et démarrez rapidement une <h1 class="d-inline fs-5">formation
                personnalisée</h1> qui vous hissera aux portes du métier de votre choix
        </div> -->
    <!-- <div lass="alert w-100 p-4 pe-5 bg-primary alert-dismissible text-white mb-4 fade show display-5">
            <button type="button" class="btn-close btn-close-white mt-2" data-bs-dismiss="alert"
                aria-label="Fermer le message"></button>
            Evaluez vos connaissances et démarrez rapidement une <h1 class="d-inline fs-5">formation
                personnalisée</h1> pour être au top des compétences du métier de vôtre choix.
        </div> -->

    <!-- Carousel -->
    <div id="demo" class="carousel slide mx-auto" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner mx-auto">
            <div class="carousel-item active">
                <div class="alert bg-primary text-white display-5 fade show text-center w-100 pb-5">
                    Evaluez vos connaissances facilement
                </div>
            </div>
            <div class="carousel-item">
                <div class="alert bg-primary text-white display-5 fade show text-center w-100 pb-5">
                    Démarrez rapidement une formation personnalisée
                </div>
            </div>
            <div class="carousel-item">
                <div class="alert bg-primary text-white display-5 fade show text-center w-100 pb-5">
                    Pour être au top des compétences du métier de vôtre choix.
                </div>
            </div>
        </div>



        <!-- Left and right controls/icons -->
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button> -->
    </div>

    <div id="image"></div>

    <hr>

    <!-- <div id="accordion">

        <div class="card">
          <div class="card-header">
            <a class="btn text-primary" data-bs-toggle="collapse" href="#collapseOne">
              Un parcours de formation personnalisé #1
            </a>
          </div>
          <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
                Lorem ipsum..
            </div>
          </div>
        </div>
      
        <div class="card">
          <div class="card-header">
            <a class="collapsed text-primary btn" data-bs-toggle="collapse" href="#collapseTwo">
              Des questionnaires métiers ciblés #2
            </a>
          </div>
          <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              Conçus par des professionnels de terrain...
            </div>
          </div>
        </div>
      
        <div class="card">
          <div class="card-header">
            <a class="collapsed text-primary btn" data-bs-toggle="collapse" href="#collapseThree">
              Un suivi pédagogique facilité #3
            </a>
          </div>
          <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              Lorem ipsum..
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <a class="collapsed text-primary btn" data-bs-toggle="collapse" href="#collapseFor">
              Des formations professionnelles #4
            </a>
          </div>
          <div id="collapseFor" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              Dispensées par des professionnels du terrain..
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <a class="collapsed text-primary btn" data-bs-toggle="collapse" href="#collapseFive">
              Des compétences professionnelles recherchées #5
            </a>
          </div>
          <div id="collapseFive" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              Lorem ipsum..
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <a class="collapsed text-primary btn" data-bs-toggle="collapse" href="#collapseSix">
              Une insertion professionnelle facilité  #6
            </a>
          </div>
          <div id="collapseSix" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              Lorem ipsum..
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <a class="collapsed text-primary btn" data-bs-toggle="collapse" href="#collapseSeven">
              Des formations finançables #7
            </a>
          </div>
          <div id="collapseSeven" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              Lorem ipsum..
            </div>
          </div>
        </div>
      
      </div> -->

    <!-- accordion.component.html -->
    <div id="accordion" class="row">
        <div class="col-md-6">
            <div class="card mb-2">
                <div class="card-header">
                    <a class="btn text-primary" data-bs-toggle="collapse" href="#collapseOne">
                        Un parcours de formation personnalisé #1
                    </a>
                </div>
                <div id="collapseOne" class="collapse">
                    <div class="card-body">
                        Lorem ipsum..
                    </div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header">
                    <a class="collapsed text-primary btn" data-bs-toggle="collapse" href="#collapseTwo">
                        Des questionnaires d'évaluation ciblés #2
                    </a>
                </div>
                <div id="collapseTwo" class="collapse">
                    <div class="card-body">
                        Conçus par des professionnels de terrain...
                    </div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header">
                    <a class="collapsed text-primary btn" data-bs-toggle="collapse" href="#collapseThree">
                        Un suivi pédagogique en ligne #3
                    </a>
                </div>
                <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        Suivi facilité depuis votre compte utilisateur..
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6">

            <div class="card mb-2">
                <div class="card-header">
                    <a class="collapsed text-primary btn" data-bs-toggle="collapse" href="#collapseFour">
                        Des formations professionnelles #4
                    </a>
                </div>
                <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        Dispensées par des professionnels du terrain..
                    </div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header">
                    <a class="collapsed text-primary btn" data-bs-toggle="collapse" href="#collapseFive">
                        Des compétences professionnelles recherchées #5
                    </a>
                </div>
                <div id="collapseFive" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        Chaque compétence évaluée en début et en cours de formation correspond à des références exigées par les professionnnels et les recruteurs....
                    </div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header">
                    <a class="collapsed text-primary btn" data-bs-toggle="collapse" href="#collapseSix">
                        Une insertion professionnelle facilitée #6
                    </a>
                </div>
                <div id="collapseSix" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        Lorem ipsum..
                    </div>
                </div>
            </div>


        </div>

        <div>

            <div class="card">
                <div class="card-header">
                    <a class="collapsed text-primary btn" data-bs-toggle="collapse" href="#collapseSeven">
                        Des formations finançables #7
                    </a>
                </div>
                <div id="collapseSeven" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        Lorem ipsum..
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>