<div class="container mb-5 mt-2">

  <h2 class="text-center mb-5 h2">Les étapes clés</h2>

  <div class="row">

  <ul class="timeline list-unstyled col-md-6">

    <li class="mb-5">
      <div class="d-flex align-items-start">
        <div class="badge bg-primary rounded-circle me-3 p-3" >1</div>
        <div>
          <h5>Explorez nos métiers</h5>
          <p class="text-muted">
            Explorez les métiers et identifiez ceux qui vous intéressent.
          </p>
        </div>
      </div>
    </li>

    <li class="mb-5">
      <div class="d-flex align-items-start">
        <div class="badge bg-primary rounded-circle me-3 p-3" aria-hidden="true">2</div>
        <div>
          <h5>Evaluez vos compétences</h5>
          <p class="text-muted">
            Répondez aux questionnaires pour évaluer facilement vos compétences.
          </p>
        </div>
      </div>
    </li>

    <li class="mb-5">
      <div class="d-flex align-items-start">
        <div class="badge bg-primary rounded-circle me-3 p-3" aria-hidden="true">3</div>
        <div>
          <h5>Découvrez vos résultats</h5>
          <p class="text-muted">
            Résultats des questionnaires et durée de formation calculée sur mesure sont disponibles dans votre compte
          </p>
        </div>
      </div>
    </li>
    </ul>
    <ul class="timeline list-unstyled col-md-6">

    <li class="mb-5">
      <div class="d-flex align-items-start">
        <div class="badge bg-success rounded-circle me-3 p-3" aria-hidden="true">4</div>
        <div>
          <h5>Démarrez votre formation personnalisée</h5>
          <p class="text-muted">
            Faites votre demande d'inscription dans le centre de formation de votre choix.
          </p>
        </div>
      </div>
    </li>

    <li class="mb-5">
      <div class="d-flex align-items-start">
        <div class="badge bg-success rounded-circle me-3 p-3" aria-hidden="true">5</div>
        <div>
          <h5>Suivre votre progression</h5>
          <p class="text-muted">
            Retrouvez vos évaluations pédagogiques et tutorales directement dans votre compte.
          </p>
        </div>
      </div>
    </li>

    <li>
      <div class="d-flex align-items-start">
        <div class="badge bg-success rounded-circle me-3 p-3" aria-hidden="true">6</div>
        <div>
          <h5>Accéder à l'emploi</h5>
          <p class="text-muted">
            Votre profil est mis à disposition de recruteurs.
          </p>
        </div>
      </div>
    </li>

  </ul>

  </div>

</div>


<!-- <div class="container py-5">

  <h2 class="text-center mb-5">Comment ça fonctionne</h2>

  <div class="row">

    <div class="col-md-6">

      <div class="mb-5 d-flex align-items-start">
        <div class="badge bg-primary rounded-circle me-3 p-3">1</div>
        <div>
          <h5>Découvrir les métiers</h5>
          <p class="text-muted">
            Explorez les métiers et identifiez ceux qui vous intéressent.
          </p>
        </div>
      </div>

      <div class="mb-5 d-flex align-items-start">
        <div class="badge bg-primary rounded-circle me-3 p-3">2</div>
        <div>
          <h5>Faire les tests</h5>
          <p class="text-muted">
            Répondez à un questionnaire pour évaluer vos compétences.
          </p>
        </div>
      </div>

      <div class="mb-5 d-flex align-items-start">
        <div class="badge bg-primary rounded-circle me-3 p-3">3</div>
        <div>
          <h5>Résultats et parcours personnalisé</h5>
          <p class="text-muted">
            Consultez vos résultats et l’estimation de votre durée de formation dans votre compte.
          </p>
        </div>
      </div>

    </div>

    <div class="col-md-6">

      <div class="mb-5 d-flex align-items-start">
        <div class="badge bg-primary rounded-circle me-3 p-3">4</div>
        <div>
          <h5>Entrer en formation</h5>
          <p class="text-muted">
            Faites votre demande d'inscription dans le centre de formation de votre choix.
          </p>
        </div>
      </div>

      <div class="mb-5 d-flex align-items-start">
        <div class="badge bg-success rounded-circle me-3 p-3">5</div>
        <div>
          <h5>Suivre votre progression</h5>
          <p class="text-muted">
            Retrouvez vos évaluations pédagogiques et tutorales directement dans votre compte.
          </p>
        </div>
      </div>

      <div class="d-flex align-items-start">
        <div class="badge bg-success rounded-circle me-3 p-3">6</div>
        <div>
          <h5>Accéder à l’emploi</h5>
          <p class="text-muted">
            Votre profil est mis à disposition de recruteurs.
          </p>
        </div>
      </div>

    </div>

  </div>

</div> -->