.btn:hover {
    box-shadow: none
}


.bg-test:hover {
    background-color: #B2BC00 !important;
}

.text-choiced {
    position: relative;
    overflow: hidden;
    /* Empêche le débordement de l'élément */
    background-color: transparent;
}

.btn.btn-transparent{
    min-height: 50px;
}

.text-choiced::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color:  #fcb311;
    animation: stretchWidth 0.3s ease forwards;
}

/* .text-choiced i::after {
    display: none;
} */

i.text-choiced{
    color:  #fcb311;
}

i.text-choiced::after {
    display: none;
    /* Annule l'effet de soulignement pour les éléments <i> */
}

@keyframes stretchWidth {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}