.btn:hover {
    box-shadow: none
}


/* .bg-test:hover {
    background-color: #82BC00 !important;
} */

.text-choiced {
    position: relative;
    overflow: hidden;
    /* Empêche le débordement de l'élément */
    background-color: transparent;
}

.btn.btn-transparent{
    min-height: 50px;
}

.text-choiced::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color:  #82BC00;
    animation: stretchWidth 0.3s ease forwards;
}

/* .text-choiced i::after {
    display: none;
} */

i.text-choiced{
    color:#82BC00;
}

i.text-choiced::after {
    display: none;
    /* Annule l'effet de soulignement pour les éléments <i> */
}

@keyframes stretchWidth {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* à tester pour zoom sur image question au touché de l'écran */

/* .image-zoomable {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .zoomed {
    transform: scale(1.5);
  }

  .image-container {
    max-width: 100%;
    overflow: hidden;
    position: relative;
  } */
  

.loading{
    filter: blur(5px);
}

