<div class="px-3 d-flex flex-column justify-content-between align-items-center rounded mb-3">
    <p class="rounded bg-success px-3 py-2 h3 fw-normal text-center">Q{{q.number}} : {{q.question}}
    </p>
    <!-- <p class="fs-5">Cette question peut vous rapporter <i class="bi bi-{{q.notation}}-square-fill fs-5"></i> PNTS</p> -->
    <p class="fs-6 mb-3"><span class="fw-bold">Compétence évaluée :</span>
        {{q.competence}} - <span class="fw-bold"> QUESTION à + {{q.notation}} PNTS</span> - <span class="fw-bold">CUMUL de vos points : {{counter}} PNT(S)</span></p>
    <!-- <p class="fs-6"><span class="fw-bold">Id :</span>{{q.id}}</p> -->

    <!-- questionMedia {{questionsMedias |json}} -->
    <div *ngIf="questionsMedias">
        <div class="bg-light rounded rounded mb-3" *ngFor="let item of questionsMedias">
            <!-- item : {{item}} -->
            <div class="w-100 bg-primary p-2 rounded">
                <!-- {{q.isVideo==true}} -->
                <!-- si fichier de type video / sinon utiliser le template pour l'image  -->
                <video *ngIf="q.isVideo==true; else image" class="video img-fluid" controls>
                    <source [src]="item" type="video/mp4">
                    Your browser does not support HTML video.
                </video>
                <ng-template #image><img class="img-fluid bg-light" [src]="item"></ng-template>
            </div>
        </div>
    </div>
    <!-- fin de la question -->

    <!-- début des réponses -->
    <div class="p-3 row justify-content-between align-items-end mb-3 rounded bg-light w-100">

        <div class="col-sm-6 rounded text-center" >
            <button [ngClass]="{'bg-test':q.optScoring1=='true'}" (click)="choice(q.optScoring1)" class="btn btn-transparent border-0 text-center fs-5">R1 : {{q.option1}} </button>
            <div *ngIf="responsesMedias && responsesMedias.length!==0">
                <div *ngFor="let item of responsesMedias">
                    <img *ngIf="item.includes(q.id) && item.includes('Option1')" class="img-fluid rounded mb-3"
                        [src]="item">
                </div>
            </div>
            <!-- si pas d'images -->
        </div>
        <div class="col-sm-6 rounded text-center">
            <button [ngClass]="{'bg-test':q.optScoring2=='true'}" (click)="choice(q.optScoring2)" class="btn btn-transparent border-0 text-center fs-5">R2 : {{q.option2}} </button>
            <div *ngIf="responsesMedias">
                <div *ngFor="let item of responsesMedias">
                    <img *ngIf="item.includes(q.id) && item.includes('Option2')" class="img-fluid rounded mb-3"
                        [src]="item">
                </div>
            </div>
        </div>
        <!-- à partir d'ici, les options Réponse 3 et Réponse 4 n'étant pas obligatoires, faut qu'on s'assure qu'elles existent -->
        <div class="col-sm-6 rounded text-center">
            <button *ngIf="q.option3" [ngClass]="{'bg-test':q.optScoring3=='true'}" (click)="choice(q.optScoring3)" class="btn btn-transparent text-center fs-5 align-self-center">R3 : {{q.option3}} </button>
            <div *ngIf="responsesMedias">
                <div *ngFor="let item of responsesMedias">
                    <img *ngIf="item.includes(q.id) && item.includes('Option3')" class="img-fluid rounded mb-3"
                        [src]="item">
                </div>
            </div>
        </div>
        <div class="col-sm-6 rounded text-center" *ngIf="q.option4">
            <button  [ngClass]="{'bg-test':q.optScoring4=='true'}" (click)="choice(q.optScoring4)" class="btn btn-transparent text-center fs-5">R4 : {{q.option4}} </button>
            <div *ngIf="responsesMedias">
                <div *ngFor="let item of responsesMedias">
                    <img *ngIf="item.includes(q.id) && item.includes('Option4')" class="img-fluid rounded mb-3"
                        [src]="item">
                </div>
            </div>
        </div>

    </div>
    <!-- fin des réponses -->
</div>

<!-- <button class="btn btn-success" (click)="next()">Suivant</button> -->




