<div class="px-3 d-flex flex-column justify-content-between align-items-center rounded mb-3">
    <p class="rounded bg-primary text-light px-3 py-2 h3 fw-normal text-center">Q{{q.number}} : {{q.question}}
    </p>
    <!-- <h1>total cliqué {{fullAnswersClicked | json}}</h1>
    <h2>total de réponses disponibles{{totalAnswersAvailable | json}}</h2>
    <h3>fullAnswersClicked === this.totalAnswersAvailable : {{fullAnswersClicked === this.totalAnswersAvailable | json}}</h3> -->

    <!-- <p class="fs-5">Cette question peut vous rapporter <i class="bi bi-{{q.notation}}-square-fill fs-5"></i> PNTS</p> -->
    <p class="fs-6 mb-3"><span class="fw-bold">Compétence évaluée :</span>
        {{q.competence}} - <span class="fw-bold"> QUESTION à + {{q.notation}} PNTS</span> - <span class="fw-bold">CUMUL
            de vos points : {{counter}} PNT(S)</span></p>
    <!-- <p class="fs-6"><span class="fw-bold">Id :</span>{{q.id}}</p> -->

    <!-- questionMedia {{questionsMedias |json}} -->
    <div *ngIf="questionsMedias">
        <div class="bg-light rounded rounded mb-3" *ngFor="let item of questionsMedias">
            <!-- item : {{item}} -->
            <div class="w-100 bg-primary p-2 rounded">
                <!-- {{q.isVideo==true}} -->
                <!-- si fichier de type video / sinon utiliser le template pour l'image  -->
                <video *ngIf="q.isVideo==true; else image" class="video img-fluid" controls>
                    <source [src]="item" type="video/mp4">
                    Your browser does not support HTML video.
                </video>
                <ng-template #image><img class="img-fluid bg-light" [src]="item"></ng-template>
            </div>
        </div>
    </div>
    <!-- fin de la question -->

    <!-- début des réponses -->
    <div class="p-3 row justify-content-between align-items-end mb-3 w-100">

        <div class="col-sm-6 rounded text-center choice mb-3" (click)="toggle(q.option1, q.optScoring1)">
            <button [ngClass]="{'bg-test':q.optScoring1==true, 'text-choiced':toggledStates[q.option1]}"
                class="btn btn-transparent border-0 text-center fs-5 bg-light">R1: {{q.option1}}
                <!-- pour illusion du selected  -->
                <i *ngIf="toggledStates[q.option1]" class="ms-2 text-choiced fs-5 bi bi-check-lg"></i>
            </button>
            <div *ngIf="responsesMedias && responsesMedias.length!==0">
                <div *ngFor="let item of responsesMedias">
                    <img *ngIf="item.includes(q.id) && item.includes('Option1')" class="img-fluid rounded my-3"
                        [src]="item">
                </div>
            </div>
            <!-- si pas d'images -->
        </div>
        <div class="col-sm-6 rounded text-center choice mb-3" (click)="toggle(q.option2, q.optScoring2)">
            <button [ngClass]="{'bg-test':q.optScoring2==true, 'text-choiced':toggledStates[q.option2]}"
                class="btn btn-transparent border-0 text-center fs-5 bg-light">R2: {{q.option2}}
                <!-- pour illusion du selected  -->
                <i *ngIf="toggledStates[q.option2]" class="ms-2 text-choiced fs-5 bi bi-check-lg"></i>
            </button>
            <div *ngIf="responsesMedias">
                <div *ngFor="let item of responsesMedias">
                    <img *ngIf="item.includes(q.id) && item.includes('Option2')" class="img-fluid rounded my-3"
                        [src]="item">
                </div>
            </div>
        </div>
        <!-- à partir d'ici, les options Réponse 3 et Réponse 4 n'étant pas obligatoires, faut qu'on s'assure qu'elles existent -->
        <div class="col-sm-6 rounded text-center choice mb-3" (click)="toggle(q.option3, q.optScoring3)">
            <button *ngIf="q.option3" [ngClass]="{'bg-test':q.optScoring3==true, 'text-choiced':toggledStates[q.option3]}"
                class="btn btn-transparent text-center fs-5 bg-light align-self-center">R3: {{q.option3}}
                <!-- pour illusion du selected  -->
                <i *ngIf="toggledStates[q.option3]" class="ms-2 text-choiced fs-5 bi bi-check-lg"></i>
            </button>

            <div *ngIf="responsesMedias">
                <div *ngFor="let item of responsesMedias">
                    <img *ngIf="item.includes(q.id) && item.includes('Option3')" class="img-fluid rounded my-3"
                        [src]="item">
                </div>
            </div>
        </div>
        <!-- <div class="col-sm-6 rounded text-center choice mb-3" *ngIf="q.option4" (click)="choice(q.optScoring4)"> -->
        <!-- si je fais du toggle...  -->
        <div class="col-sm-6 rounded text-center choice mb-3" *ngIf="q.option4" (click)="toggle(q.option4, q.optScoring4)">
            <button [ngClass]="{'bg-test':q.optScoring4==true, 'text-choiced':toggledStates[q.option4]}"
                class="btn btn-transparent text-center fs-5 bg-light">R4: {{q.option4}}
                <!-- pour illusion du selected  -->
                <i *ngIf="toggledStates[q.option4]" class="ms-2 text-choiced fs-5 bi bi-check-lg"></i>
            </button>
            <div *ngIf="responsesMedias">
                <div *ngFor="let item of responsesMedias">
                    <img *ngIf="item.includes(q.id) && item.includes('Option4')" class="img-fluid rounded my-3"
                        [src]="item">
                </div>
            </div>
        </div>

    </div>
    <!-- fin des réponses -->
</div>

<!-- <button class="btn btn-success" (click)="next()">Suivant</button> -->