<div class="container py-5">

  <h3 class="mb-3">Ajout d'un centre de formation</h3>
  <!-- <app-feedback-messages [feedbackMessages]="feedbackMessages"
    [isSuccessMessage]="isSuccessMessage"></app-feedback-messages> -->
  <form #centersForm="ngForm" class="mt-4" (submit)="addCenters(centersForm)" class="was-validated">

    <div class="form-group">
      <label for="name" class="form-label mt-3">Nom</label>
      <input id="name" type="text" name="name" [(ngModel)]=centerName #name="ngModel" class="form-control"
        placeholder="Centre de formation...">
      <!-- <div *ngIf="name.dirty || (name.touched && name.invalid)" class="invalid-feedback">
        Veuillez fournir un nom valide.
      </div> -->
      <div *ngIf="name.valid" class="valid-feedback">
        Nom valide.
      </div>
      <!-- addresse -->
      <label class="form-label mt-3" for="address">Adresse</label>
      <textarea class="form-control" name="address" ngModel #address="ngModel"
        aria-label="Veuillez fournir une adresse complète" placeholder="Renseigner l'adresse"></textarea>
      <div *ngIf="address.dirty || (address.touched && address.invalid)" class="invalid-feedback">
        Veuillez fournir un nom valide.
      </div>
      <div *ngIf="name.valid" class="valid-feedback">
        Adresse valide.
      </div>
      <!-- cp -->
      <label for="cp" class="form-label mt-3">CP</label>
      <!-- <input type="text" required name="cp" ngModel #cp="ngModel" class="form-control" pattern="^\d{5}$"
        title="Le code postal doit comporter exactement 5 chiffres" placeholder="Code postal à renseigner"
         (input)="onPostalCodeChange($event)" 
         > -->
      <input type="text" required name="cp" [(ngModel)]="postalCode" #cp="ngModel" class="form-control"
        pattern="^\d{5}$" title="Le code postal doit comporter exactement 5 chiffres"
        placeholder="Code postal à renseigner" (ngModelChange)="onPostalCodeChange($event)">
      <!-- <div *ngIf="cp.dirty || (cp.touched && cp.invalid)" class="invalid-feedback">
        Veuillez fournir un code à 5 chiffres.
      </div> -->
      <div *ngIf="cp.valid" class="valid-feedback">
        Code Postal OK </div>
      <!-- option pour status -->
      <div class="form-check form-switch mt-3">
        <label for="status" class="form-check-label">Status</label>
        <input class="form-check-input" type="checkbox" name="status" [(ngModel)]="status"
          aria-label="Activer ou désactiver l'état">
      </div>
      <!-- ville -->
      <!-- {{cities.length}} -->
      <div class="form-control" *ngIf="cities.length === 1">
        <label for="city" class="form-label mt-3">Ville</label>
        <input type="text" id="city" name="city" [(ngModel)]="selectedCity" class="form-control" [value]="selectedCity"
          readonly>
      </div>
      <!-- alternative 2 avec mise à jour au select de la valeur par retour de cp et de name -->
      <div *ngIf="cities.length > 1" class="form-group mt-3">
        <label for="citySelect" class="form-label">Sélectionnez une ville</label>
        <select id="citySelect" name="city" [(ngModel)]="selectedCity" class="form-control"
          (change)="onSelectCity($event)">
          <option *ngFor="let city of cities" [value]="city.label">{{ city.label }}</option>
        </select>
      </div>
    </div>

    <!-- avec le rattachement des sigles aux centres de formaiton -->
    <label for="sigles" class="form-label mt-3">Affectation métier(s) :</label>
    <select class="form-select" name="sigles" id="sigles" ngModel required #sigles="ngModel" multiple>
      <option>Selectionner le métier</option>
      <option *ngFor="let s of tradesData" [value]=s.sigle>{{s.denomination}}</option>
    </select>


    <button type="submit" class="btn btn-primary mt-4" [disabled]=centersForm.invalid>Ajouter</button>
  </form>




  <hr>


</div>