<p class="alert mb-3 alert-light">
    <strong>
        Lisez le texte sur le parc éolien d'Aumelas et répondez aux questions qui suivent
        en cochant l'option correcte a, b ou c.
    </strong>
</p>


<div class="alert bg-info document-eolien text-white">

    <h5>
        Pour protéger les oiseaux, la justice met à l'arrêt un deuxième parc éolien en trois jours
    </h5>

    <hr>

    <!-- Image à remplacer / ajouter -->
    <img
        src="assets/img/unit3/parc-eolienne.webp"
        alt="Parc éolien"
        class="document-image"
        loading="lazy">

    <p>
        Dans une première sur le plan pénal, un tribunal avait ordonné le 7 avril
        l'arrêt pour quatre mois des 31 éoliennes du parc d'Aumelas.
        Deux jours plus tard, une décision similaire a été rendue.
    </p>

    <div class="fw-bold border border-1 p-2 rounded overflow-hidden my-3">
        Des éoliennes du parc d'Aumelas, le 12 mars 2025 dans l'Hérault <br>
        AFP/Archives - GABRIEL BOUYS.
    </div>

    <p>
        Le 7 avril le tribunal correctionnel de Montpellier a ordonné
        <strong>l'arrêt pour quatre mois des 31 éoliennes du parc d'Aumelas</strong>,
        dans le centre de l'Hérault, soit la période de présence sur le site du
        faucon crécerellette, et infligé de lourdes amendes à la société
        EDF Renouvelables, son ex-PDG et neuf de ses filiales, jugés responsables
        de la mort de <strong>160 oiseaux d'espèces protégées</strong>.
    </p>

    <p>
        Rebelote le 9 avril : une autre chambre correctionnelle du même tribunal
        a ordonné <strong>l'arrêt pour un an du parc éolien de Bernagues</strong>,
        dans le nord du même département, jugeant ses exploitants responsables
        de la mort d'un aigle royal.
    </p>


    <h5 class="mt-3">
        « Dysfonctionnement du système de détection des oiseaux »
    </h5>

    <p>
        La société Energie Renouvelable du Languedoc (ERL), filiale du groupe Valeco,
        qui exploite ces sept éoliennes sur le massif de l'Escandorgue,
        sur les contreforts du Massif central, a aussi été condamnée à
        <strong>200.000 euros d'amende</strong>, dont 100.000 avec sursis,
        son dirigeant, François Daumard, écopant d'une amende de
        <strong>40.000 euros</strong>, dont 20.000 avec sursis.
    </p>

    <p>
        Le 10 janvier 2023, un aigle royal muni d'un GPS et volant à
        <strong>50 km/h</strong> avait percuté une pale d'une éolienne de Bernagues,
        selon l'enquête sur cet incident de l'Office français de la biodiversité (OFB).
        L'OFB avait mis en évidence un « dysfonctionnement du système de détection
        des oiseaux » lors de l'approche de l'aigle, qui avait, après avoir été
        percuté, « chuté lourdement » au pied de l'éolienne, où il sera retrouvé
        six jours plus tard.
    </p>

    <p>
        L'oiseau, espèce protégée, était le mâle reproducteur d'un couple ayant
        installé son nid dès 2008 à trois kilomètres du lieu où ERL a construit
        ses éoliennes en 2016, selon France Nature Environnement (FNE),
        l'une des six associations parties civiles dans cette affaire.
    </p>


    <h5 class="mt-3">
        Démolition
    </h5>

    <p>
        Le tribunal a condamné ERL et son dirigeant à verser un total de
        <strong>35.000 euros</strong> à ces six associations au titre de dommages
        et intérêts, ainsi que <strong>3.000 euros</strong> au titre du préjudice
        écologique et <strong>1.000 à chacune</strong> pour les frais de justice.
    </p>

    <p>
        Lors de l'audience en janvier, le parquet avait réclamé
        <strong>750.000 euros d'amende</strong>, dont 500.000 avec sursis,
        contre ERL, assortie d'une suspension d'activité avec exécution provisoire,
        ainsi que <strong>150.000 euros d'amende</strong>
        (dont 100.000 avec sursis) contre le gérant.
    </p>

    <p>
        « La justice vient de rappeler qu'aucun projet ne peut s'exonérer du respect
        du vivant. Les énergies renouvelables sont un outil essentiel de la transition
        énergétique mais leur déploiement doit s'effectuer sans précipitation et avec
        précaution », a renchéri Allain Bougrain Dubourg, président de la Ligue pour
        la protection des oiseaux.
    </p>

</div>