.cookie-consent-banner {
  /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;  */
  background-color: #fff;
  opacity: 95%;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  /* Ajustez la largeur selon vos besoins */
}

.cookie-consent-banner-fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  /* Valeur supérieure à la valeur du z-index de la modale Bootstrap par défaut */
}

@media screen and (max-width: 575px) {
  .cookie-consent-banner-fixed {
    position: fixed;
    bottom: 0;
    left: 50%; /* Réinitialiser la position gauche */
    transform: translateX(-50%); /* Réinitialiser la transformation */
    width: 100%;
    z-index: 1050;
    /* Valeur supérieure à la valeur du z-index de la modale Bootstrap par défaut */
    top: auto; /* Annuler la règle top */
    margin-bottom: 0;
  }
  .cookie-consent-banner-fixed p,  .cookie-consent-banner {
    font-size: 0.5em;
    
  }
}