<!-- si on souhaite que l'utilisateur puisse fermer la bannière quel que soit l'état de userConsent -->
<ng-container *ngIf="showBanner || (integratedBanner && showBanner)">
    <!-- <div class="cookie-consent-banner container-fluid" [ngClass]="{'fixed-bottom w-100 mb-0': consentService.hasRefusedConsent()==false}"> -->
    <div class="cookie-consent-banner" [ngClass]="{'fixed-bottom mb-0': consentService.hasRefusedConsent()==false}">
        <!-- <div class="container p-2"> -->
        <div class="py-2 container m-auto">
            <p>Nous utilisons des cookies à des fins d'analyses. Ces cookies nous permettent de suivre et améliorer l'expérience utilisateur. 
                <!-- <span class="fw-bold">Acceptez-vous leur utilisation ?</span> -->
            </p>

            <button (click)="acceptCookies()" class="btn btn-primary">Accepter</button>
            <button (click)="rejectCookies()" class="btn btn-secondary ms-2">Refuser</button>
        </div>
    </div>
</ng-container>