<div class="container py-5" *ngIf="trade">

  <!-- <h3 class="mb-3">Mise à jour des Paramètres de l'application</h3> -->
  <!-- <h3 class="mb-3" *ngIf="userRouterLinks && userRouterLinks.user=='admin'">Modification des métiers (sigles) et leurs
    compétences (AT)</h3> -->
  <h3 class="mb-3" *ngIf="userRouterLinks && userRouterLinks.user=='admin'">Modification des métiers et leurs
    compétences</h3>
  <h3 class="mb-3" *ngIf="userRouterLinks && userRouterLinks.user=='editor'">Edition métiers</h3>
  <!-- <h2 class="alert bg-info" *ngIf="userRouterLinks">userRouterLinks : {{userRouterLinks.user}}</h2> -->
  <app-feedback-messages [feedbackMessages]="feedbackMessages"
    [isSuccessMessage]="isSuccessMessage"></app-feedback-messages>

  <form #settingsForm="ngForm" class="mt-4" (submit)="updateSigles(settingsForm)" class="was-validated" novalidate>

    <label for="sigle" class="form-label mt-3">Ref <span *ngIf="userRouterLinks.user=='editor'"> (à ne surtout pas
        modifier)</span></label>
    <input type="text" name="sigle" [(ngModel)]="trade.sigle" #sigle="ngModel" class="form-control" required
      minlength="3" disabled>
    <div *ngIf="sigle.dirty || (sigle.touched && sigle.invalid)" class="invalid-feedback">
      Veuillez fournir un sigle valide.
    </div>
    <div class="form-group" *ngIf="userRouterLinks && userRouterLinks.user=='admin'">
      <label for="denomination" class="form-label mt-3">Dénomination</label>
      <input type="text" name="denomination" [(ngModel)]="trade.denomination" #denomination="ngModel"
        class="form-control" required minlength="3">
      <div *ngIf="denomination.dirty || (denomination.touched && denomination.invalid)" class="invalid-feedback">
        Veuillez fournir une dénomination valide.
      </div>
      <div *ngIf="sigle.valid" class="valid-feedback">
        Nom valide.
      </div>
      <!-- nouveaux champs du formulaire !!!!  -->
      <label for="rncp" class="form-label mt-3">Code RNCP ou RS (facultatif)</label>
      <input type="url" name="rncp" [(ngModel)]="trade.rncp" class="form-control" minlength="15" placeholder="renseigner url">

      <div class="form-check form-switch mt-3">
        <input class="form-check-input" type="checkbox" id="statusCheckbox" name="isQualifying" [(ngModel)]="trade.isQualifying">
        <label class="form-check-label" for="statusCheckbox">Formation qualifiante ?</label>
      </div>

      <div class="form-check form-switch mt-3">
        <input class="form-check-input" type="checkbox" id="statusCheckbox" name="status" [(ngModel)]="trade.status">
        <label class="form-check-label" for="statusCheckbox">Status Actif ?</label>
      </div>

      <!-- pour arrêter le nombre de compétences par métier -->
      <label for="totalCP" class="form-label mt-3">Nombre de compétences au référenciel métier</label>
      <input type="number" name="totalCP" [(ngModel)]="trade.totalCP" #totalCP="ngModel" class="form-control mb-1"
        required>
      <div *ngIf="totalCP.touched && totalCP.invalid" class="invalid-feedback">Veuillez fournir un nombre minimum de
        compétences.
      </div>
      <div *ngIf="totalCP.valid" class="valid-feedback">
        Champ OK.
      </div>


      <div *ngIf="total?.length != 0">
        <div *ngFor="let nb of total; let i = index">
          <label for="CP{{i+1}}" class="form-label mt-3">CP{{i+1}}</label>
          <input type="text" name="CP{{i+1}}" [ngModel]="total[i]" class="form-control">

          <label for="cost_CP{{i+1}}" class="form-label mt-3">Coût horaire de CP{{i+1}}</label>
          <input type="number" name="cost_CP{{i+1}}" [ngModel]="trade.costs['cost_CP' + (i+1)]" class="form-control"
            placeholder="prix horaire en entier">
          <hr>
          <label class="form-label mt-3">Estimation du nombre d'heures pour CP{{i+1}}</label>
          <div class="form-group w-75">
            <input type="number" name="level1_CP{{i+1}}"
              [ngModel]="trade.durations[sigleId + '_duration_CP' + (i+1)]['0']" class="form-control" minlength="1"
              placeholder="durée courte en heures">
            <input type="number" name="level2_CP{{i+1}}"
              [ngModel]="trade.durations[sigleId + '_duration_CP' + (i+1)]['1']" class="form-control" minlength="1"
              placeholder="durée moyenne en heures">
            <input type="number" name="level3_CP{{i+1}}"
              [ngModel]="trade.durations[sigleId + '_duration_CP' + (i+1)]['2']" class="form-control" minlength="1"
              placeholder="durée moyenne en heures">
          </div>
        </div>
      </div>


      <label for="totalNewCP" class="form-label mt-3">Ajout d'une compétence au référenciel métier</label>
      <input type="number" name="totalNewCP" ngModel #totalNewCP="ngModel" class="form-control mb-1"
        (change)="getNewTotal(totalNewCP)">

      <div *ngFor="let item of newTotal, let i = index">
        <label for="CP{{i+minValue}}" class="form-label mt-3">CP{{i+minValue}}</label>
        <input type="text" name="CP{{i+minValue}}" ngModel class="form-control" required minlength="7">
        <label for="cost_CP{{i+minValue}}" class="form-label mt-3">Coût horaire de CP{{i+minValue}}</label>
        <input type="number" name="cost_CP{{i+minValue}}" ngModel class="form-control"
          placeholder="renseigner le prix horaire en entier">
        <hr>
        <label for="level1_CP{{i+minValue}}" class="form-label mt-3">Estimation du nombre d'heures pour
          CP{{i+minValue}}</label>
        <div class="form-group w-75">
          <input type="number" name="level1_CP{{i+minValue}}" ngModel class="form-control" minlength="1"
            placeholder="durée courte en heures">
          <input type="number" name="level2_CP{{i+minValue}}" ngModel class="form-control" minlength="1"
            placeholder="durée moyenne en heures">
          <input type="number" name="level3_CP{{i+minValue}}" ngModel class="form-control" minlength="1"
            placeholder="durée longue en heures">
        </div>
      </div>

      <!-- essai boutons additionnels pour ajouter des compétences à l'unité -->
      <!-- <button (click)="addField('CP')">+</button> -->
    </div>

    <div class="fom-control">
      <!-- <div class="fom-control" *ngIf="userRouterLinks && userRouterLinks.user=='editor'"> -->
      <!-- <div [ngClass]="{'hidden-class': userRouterLinks && userRouterLinks.user === 'editor'}"> -->
      <!-- ajout partie édition du seul champ description qui sera accessible à un éditeur -->
      <label for="description" class="form-label my-3"
        [ngClass]="{'alert bg-warning p-3 mb-2':userRouterLinks.user=='admin'}">Description textuelle à la charge du
        contributeur</label>
      <editor apiKey="ahl0yg86w69zh9viflcvku8m2k333o942kc9fpttussom153"
        [init]="{  plugins: ['lists'], toolbar: 'undo redo | formatselect | bold italic | bullist numlist outdent indent | heading' }"
        [id]="'description'" [(ngModel)]="trade.description" name="description"></editor>

    </div>

    <button id="settingsForm" type="submit" class="btn btn-primary mt-4"
      [disabled]=settingsForm.invalid>Modifier</button>
  </form>



</div>