<div class="container py-5" *ngIf="tradeData">

    <!-- <h3>{{tradeData.denomination}}</h3> -->
    <div class="p-2 bg-primary text-white rounded row fade show mx-1">
        <div class="col-md-7">
            <h1>{{tradeData.denomination}}</h1>
            <p class="fs-5 mt-3">
                Réf.: {{tradeData.sigle}}.
                <br>Nombre de compétences à valider: {{tradeData.competences.length}}.
                <br>Durée maximale: {{firstValuesSum}} heures.
                <!-- <br><span *ngIf="tradeData.rncp">Code RNCP : {{tradeData.rncp}}.</span> -->
                <span class="d-block" *ngIf="tradeData.rncp"><a class="text-light" href="{{tradeData.rncp}}" target="_blank">Code RNCP (ou
                        RS)</a></span>
                <span class="d-block" *ngIf="tradeData.isQualifying && tradeData.isQualifying==true">Formation Qualifiante !</span>
                <br *ngIf="tradeData.requirements">
                <span *ngIf="tradeData.requirements && tradeData.requirements!==''" class="text-light">Prérequis : {{tradeData.requirements}}</span>

                <!-- <p class="rounded bg-dark p-2 mt-2 small">Pour vérification du rôle récupéré : {{userRole}}</p> -->
                <br>
                <span class="d-block mt-2" (click)="backToPrevious()">
                    <i class="bi bi-arrow-left"></i>
                </span>
            </p>
        </div>
        <!-- il faut différencier le cas d'un userRole=none...  -->
        <div *ngIf="userRole==='none' else switch" class="col-md-5 text-white mt-md-5 ">
            <p class="text-md-left fs-5">Afin de commencer un QCM, merci de <a [routerLink]="[
                '/login']" class="text-white fw-bold">vous authentifier</a> ou <a [routerLink]="[
                '/register']" class="text-white fw-bold">vous enregister</a></p>

        </div>
        <!-- ...des autres cas -->
        <ng-template #switch>
            <div class="col-md-5 fs-3 text-white mt-md-5">
                <a [routerLink]="[
                '/quizz/',
                this.tradeData.sigle,
                studentData?.['quizz_'+this.tradeData.sigle]?((studentData?.['quizz_'+this.tradeData.sigle]?.lastIndexQuestion) + 1 | number):0,
                ((studentData?.['quizz_'+this.tradeData.sigle]?.scoreCounter || 0 | number)),
                studentData?.['quizz_'+this.tradeData.sigle] ? true : false,
                studentData?.id ? studentId : ''
              ]" class="text-decoration-none text-dark">
                    <!-- ---------------- -->
                    <ng-container *ngIf="studentData && userRole!=='editor'">
                        <!-- ScoreCounter : {{ studentData['quizz_'+this.tradeData.sigle].scoreCounter | json }} -->
                        <!-- pour switcher d'un intitulé à un autre selon que studentData.tradeEvaluated && studentData.tradeEvaluated==trade.sigle -->
                        <div class="d-flex justify-content-md-end" *ngIf="hasStartedEvaluation==false, else none">
                            <button class="btn btn-transparent ps-0"><i class="bi bi-clock"></i>
                                Démarrer le questionnaire</button>
                        </div>
                        <ng-template #none>
                            <div class="d-flex justify-content-md-end"
                                *ngIf="!studentData['quizz_'+this.tradeData.sigle].fullResults"><button
                                    class="btn btn-transparent ps-0"><i class="bi bi-clock-history"></i>
                                    <!-- Reprendre à la question {{studentData.lastIndexQuestion+1}}</button></div> -->
                                    Poursuivre</button></div>

                            <!-- <div class="d-flex justify-content-md-end"
                                *ngIf="studentData['quizz_'+this.tradeData.sigle].fullResults"><button
                                    class="btn btn-transparent ps-0"><i class="bi bi-check-square-fill"></i>
                                    Votre évaluation est terminée</button>
                            </div> -->
                        </ng-template>

                    </ng-container>

                    <!-- ---------------- -->
                </a>
                <div class="d-flex justify-content-md-end" *ngIf="isEvaluationCompleted">
                    <div class="btn btn-transparent border-0 ps-0 text-light"><i class="bi bi-check-square-fill"></i>
                        Votre évaluation est terminée</div>
                </div>
            </div>
        </ng-template>

    </div>
    <!-- 
    {{tradeData | json}} -->
    <div class="mt-4 p-2">
        <!-- <img class="rounded img-fluid mb-2 border border-1 m-auto w-100" [src]="imageUrl" *ngIf="imageUrl"> -->
        <img class="rounded img-fluid mb-2 border border-1 m-auto w-100" [src]="imageUrl" srcset="{{ imageUrlReduced }} 575w, {{ imageUrl }} 1024w" sizes="(max-width: 575px) 575px, 1024px" alt="Votre image">

    </div>

    <!-- à faire -->
    <div id="accordion">
        <div class="card p-2 border-0">
    
            <div class="card-header bg-primary">
                <a (click)="toggleDescriptionCollapse()" class="btn text-light text-capitalize d-flex justify-content-between"  data-bs-toggle="collapse" href="#collapseDescription">
                    Description <i [ngClass]="{'bi-caret-down-fill': isDescriptionCollapsed, 'bi-caret-up-fill': !isDescriptionCollapsed}" class="bi fs-4 text-light"></i></a>
            </div>
    
            <div id="collapseDescription" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
    
                    <ng-container *ngIf="tradeData.description">
                        <div class="p-2 trade" [innerHTML]="sanitizer.bypassSecurityTrustHtml(tradeData.description)">
                        </div>
                        <!-- et pour avoir accès au lien d'édition -->
                        <div *ngIf="userRole=='editor'" class="d-flex justify-content-end text mt-3">
                            <button class="btn btn-primary">
                                <a class="text-white"
                                    [routerLink]="['/admin/updateDescription', tradeData.sigle]">
                                    <i class="bi bi-pencil-square"></i>
                                    Editer</a>
                            </button>
                            <button class="btn btn-primary ms-2 text-light" data-bs-toggle="modal"
                                data-bs-target="#myModal">
                                <i class="bi  bi-image"></i>Image
                            </button>
                            <div class="modal" id="myModal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title ms-auto">Image de couverture pour
                                                {{tradeData.sigle}}</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <app-cover-image class="modal-body"
                                            [tradeId]="tradeData.sigle"></app-cover-image>
                                    </div>
                                </div>
                            </div>
                            <!-- fin de l'option édition avec modale -->
    
                        </div>
                    </ng-container>
                    <!-- </div> -->
    
                </div>
            </div>
    
    
            <!-- 2 -->
    
            <div class="card-header bg-primary">
                <a (click)="toggleCPCollapse()" class="btn text-light text-capitalize d-flex justify-content-between" data-bs-toggle="collapse" href="#collapseCP">
                    Compétences <i [ngClass]="{'bi-caret-down-fill': !isCPCollapsed, 'bi-caret-up-fill': isCPCollapsed}" class="bi fs-4 text-light"></i></a>
            </div>
    
            <div id="collapseCP" class="collapse show" data-bs-parent="#accordion">
                <div class="card-body mt-4 p-4 bg-primary text-white rounded">
    
                    <!-- deuxième onglet -->
                    <!-- <div class="mt-4 p-5 bg-primary text-white rounded"> -->
                    <ng-container *ngIf="tradeData.competences">
                        <p *ngFor="let cp of tradeData.competences, let index=index">
                            <span class="fw-bold">CP{{index+1}} : </span> {{cp}}
                        </p>
                    </ng-container>
                    <!-- </div> -->
    
                </div>
            </div>
    
        </div>
    </div>
    



</div>