/* pour les cas où le bouton se retrouve en d-flex et puisque cette zone a un background de couleur */
.d-flex button {
  color: white;
  font-size: 1rem;
}

.d-flex button:hover {
  background-color: white;
  color: black;
}

/* pour les cas où le bouton est un btn-primary et puisque je veux tenter de l'assombrir au survolbub */


button.btn.btn-primary:hover {
  background-color: none;

}

/* button.btn.btn-primary:hover {
    filter: brightness(85%);
  } */


/* Appliquer un effet de foncement en ajustant les couleurs au survol */
.btn.btn-darken-on-hover:hover {
  background-color: darken(#007bff, 10%);
  /* Foncer la couleur d'arrière-plan */
  color: lighten(#fff, 10%);
  /* Éclaircir la couleur de texte */
}

.cover {
  height: 40vw;
  width: 100%;
  object-fit: cover;
}