<div class="container py-5">

    <div class="mt-4 p-5 bg-primary text-white rounded">
        <h1>{{tradeData.denomination}}</h1>

        <p>Sigle référence : {{tradeData.sigle}}.
            <br>Nombre de compétences à valider : {{tradeData.competences.length}}.
            <br>Durée max de la formation : {{firstValuesSum}} jours
        </p>
    </div>
    <!-- 
    {{tradeData | json}} -->

    <div class="mt-4 p-5 bg-primary text-white rounded">
        <ng-container *ngIf="tradeData.competences">
            <p *ngFor="let cp of tradeData.competences, let index=index">
                <span class="fw-bold">CP{{index+1}} : </span> {{cp}}
            </p>
        </ng-container>


    </div>