/* pour les cas où le bouton se retrouve en d-flex et puisque cette zone a un background de couleur */
.d-flex button {
  color: white;
  font-size: 1.08rem;
}

h1 {
  font-size: 2rem;
}

.d-flex button:hover {
  transform: scale(1.05);
}

/* pour les cas où le bouton est un btn-primary et puisque je veux tenter de l'assombrir au survolbub */

.btn.btn-transparent {
  font-size: 0.9rem ! important;

}

button.btn.btn-primary:hover {
  /* background-color: none; */
  transform: scale(1.05);

}

.secund{
  border-bottom: 0;
}

button.btn-primary:hover {
  background-color: #0152d4 !important;
  /* background-image: linear-gradient(to right, rgb(27, 9, 106),  #0062fe); */
}


/* button.btn.btn-primary:hover {
    filter: brightness(85%);
  } */


/* Appliquer un effet de foncement en ajustant les couleurs au survol */
/* .btn.btn-darken-on-hover:hover {
  background-color: darken(#007bff, 10%);
  color: lighten(#fff, 10%);
} */

.cover {
  height: 40vw;
  width: 100%;
  object-fit: cover;
}

.btn.btn-transparent {
  border: 1px solid white;
}

.btn.btn-transparent i {
  margin-left: 10px;
  margin-right: 10px;

}

.btn {
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  cursor: pointer;
}


.btn:hover {
  transform: scale(1.07);
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06); */
} 



@media only screen and (max-width:992px) {
  h1 {
    font-size: 1.8rem;
  }

  .btn.btn-transparent i {
    margin-left: 8px;
    margin-right: 8px;
  
  }
}

@media only screen and (max-width:575px) {




  .btn.btn-transparent.border-0 {
    border: 0;
  }

  .card-body p,
  .card-body span {
    font-size: 1rem !important;

  }

}