/* input[type=file]::file-selector-button {

}

input[type=file]::file-selector-button:hover {

} */



.was-validated .form-control:valid,
.form-control.is-valid,
.was-validated .form-select:valid {
  background-image: none;
  /* background-position:center center; */
  
}

select.disabled {
  border-color: lightgray !important;
  color: grey! important;
}

.form-check-input .danger:checked {
  background-color: red;
}

.form-check-input .danger input[type="checkbox"]:checked {
  background-color: red !important;
}

.form-check-input .danger:checked {
  background-color: red;
}

.form-check-input .danger input[type="checkbox"]:checked {
  background-color: red !important;
}

input[type="file"] {
  display: inline-block;
}

video {
  width: 100%;
  height: auto;
}