


<div class="p-3 p-md-5 d-flex flex-column justify-content-between align-items-center rounded mb-3">
    <p class="rounded bg-primary text-light px-3 py-2 h4 fw-normal text-center">Q{{q.number}} : {{q.question}}
    </p>
    <p class="fs-6 mb-0 text-center"><span class="fw-bold">Métier:</span> {{q.sigle}}. <span class="fw-bold">CP:</span>
        {{q.competence}}. <span class="fw-bold">PNTS:</span>
        +{{q.notation}}.</p>
    <p class="fs-6 text-center"><span class="fw-bold">Id:</span>
        {{q.id}} - <a class="fw-bold text-decoration-none" [routerLink]="['/admin/updateFull', q.id]">Modifier</a></p>

    <!-- questionMedia {{questionsMedias |json}} -->
    <div *ngIf="questionsMedias">
        <div class="bg-light rounded rounded mb-3" *ngFor="let item of questionsMedias">
            <!-- item : {{item}} -->
            <div class="w-100 bg-primary p-2 rounded">
                {{q.isVideo==true}}
                <!-- si fichier de type video / sinon utiliser le template pour l'image  -->
                <video *ngIf="q.isVideo==true; else image" class="video img-fluid" controls>
                    <source [src]="item" type="video/mp4">
                    Your browser does not support HTML video.
                </video>
                <ng-template #image><img class="img-fluid bg-light" [src]="item"></ng-template>
            </div>
        </div>
    </div>
    <!-- fin de la question -->

    <!-- début des réponses -->
    <div class="p-3 pt-sm-4 row justify-content-between align-items-start mb-3 rounded bg-light w-100 border-bottom border-top">
        <div class="pt-3 pt-sm-0 col-sm-6 rounded" [ngClass]="{'text-success':q.optScoring1===true}">
            <p class="text-center fs-5">R1 : {{q.option1}}</p>
            <div *ngIf="responsesMedias && responsesMedias.length!==0">
                <div *ngFor="let item of responsesMedias">
                    <img *ngIf="item.includes(q.id) && item.includes('Option1')" class="cover img-fluid rounded mb-3 img-thumbnail"
                        [src]="item">
                </div>
            </div>
            <!-- si pas d'images -->
        </div>
        <div class="col-sm-6 rounded" [ngClass]="{'text-success':q.optScoring2===true}">
            <p class="text-center fs-5">R2 : {{q.option2}}</p>
            <div *ngIf="responsesMedias">
                <div *ngFor="let item of responsesMedias">
                    <img *ngIf="item.includes(q.id) && item.includes('Option2')" class="cover img-fluid rounded mb-3 img-thumbnail"
                        [src]="item">
                </div>
            </div>
        </div>
        <!-- à partir d'ici, les options Réponse 3 et Réponse 4 n'étant pas obligatoires, faut qu'on s'assure qu'elles existent -->
        <div class="col-sm-6 rounded" *ngIf="q.option3" [ngClass]="{'text-success':q.optScoring3===true}">
            <p class="text-center fs-5">R3 : {{q.option3}}</p>
            <div *ngIf="responsesMedias">
                <div *ngFor="let item of responsesMedias">
                    <img *ngIf="item.includes(q.id) && item.includes('Option3')" class="cover img-fluid rounded mb-3 img-thumbnail"
                        [src]="item">
                </div>
            </div>
        </div>
        <div class="col-sm-6 rounded" *ngIf="q.option4" [ngClass]="{'text-success':q.optScoring4===true}">
            <p class="text-center fs-5">R4 : {{q.option4}}</p>
            <div *ngIf="responsesMedias">
                <div *ngFor="let item of responsesMedias">
                    <img *ngIf="item.includes(q.id) && item.includes('Option4')" class="cover img-fluid rounded mb-3 img-thumbnail"
                        [src]="item">
                </div>
            </div>
        </div>

    </div>
    <!-- fin des réponses -->
</div>

