@media only screen and (max-width: 575px) {
    .cover {
        /* border-color: brown; */
        height: 300px!important;
    }
}


.cover {
    height: 30vw;
    width: 100%;
    object-fit: cover;

}



