@media only screen and (max-width: 575px) {
    .cover {
        /* border-color: brown; */
        max-height: 300px!important;
    }

}

@media only screen and (min-width: 575px) {
    .cover {
        max-height: 330x!important;
    }
}

@media only screen and (min-width: 1500px) {
    .cover {
        max-height: 380px!important;
    }
}


.cover {
    height: 30vw;
    width: 100%;
    object-fit: cover;
}



