<div class="container py-5">

    <h3>Mes étudiants/apprenants</h3>
    <!-- <h4>Mon rôle pour test : {{role}}</h4> -->
    <!-- {{userRouterLinks}} -->
    <hr>
    <div *ngIf="(!myStudents)">
        ...loading
    </div>

    <ng-container  *ngIf="user && userStatus === true; else disabled">

        <div class="alert alert-light" *ngIf="userRouterLinks.user=='trainer'">
            <span class="fw-bold"><i class="bi bi-info-square-fill me-1"></i>Rappel contextuel</span> : Le candidat
            apprenant a finalisé son évaluation de positionnement, son inscription en formation a été validée par un
            conseiller projet, il a été notifié qu'un formateur lui a été attribué. Les formations en présentiel
            démarrent.
            Il vous faudra pouvoir procéder à des évaluations de suivi pédagogique. Evaluations individuelles, que
            l'utilisateur pourra consulter dans son compte personnel.
        </div>
        <div class="alert alert-light" *ngIf="userRouterLinks.user=='tutor'">
            <span class="fw-bold"><i class="bi bi-info-square-fill me-1"></i>Rappel contextuel</span> : Les formations
            en présentiel sont terminées.
            Le candidat apprenant vient de démarrer son stage en entreprise. Il vous faudra pouvoir procéder à des
            évaluations de suivi en entreprise. Evaluations individuelles, que
            l'utilisateur pourra consulter dans son compte personnel.
        </div>
        <div *ngIf="myStudents.length===0" class="alert alert-warning text-light"><i
                class="bi bi-exclamation-lg me-1"></i>
            Tant qu'aucun Conseiller Projet ne vous a attribué de candidats, votre liste de suivi restera vide.</div>
    </ng-container>

    <ng-template #disabled>
        <div class="alert alert-warning text-light">
            <span class="fw-bold"><i class="bi bi-info-square-fill me-1"></i>Rappel</span> : Votre compte formateur a
            été désactivé ! 
        </div>
    </ng-template>

    <div *ngIf="myStudents && userStatus===true" class="text-center">
        <!-- on introduit un champ de recherche -->
        <!-- <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search> -->
        <!-- <div class="row mt-5"> -->
        <div class="row mt-4 d-xs-none">
            <div class="col-sm-3 h5">Nom</div>
            <div class="col-sm-3 h5">Prénom</div>
            <div class="col-sm-3 h5">Détails</div>
            <div class="col-sm-3 h5">Nouvelle évaluation</div>
        </div>

        <div *ngFor="let student of myStudents">
            <!-- <div class="row mt-4 ps-5 ps-sm-0" *ngIf="searchText==='' || student.lastName.toLowerCase().includes(searchText) || student.firstName.toLowerCase().includes(searchText) "> -->
            <div class="row mt-4 ps-5 ps-sm-0">
                <div class="col-sm-3 col-6">{{student.lastName}}</div>
                <div class="col-sm-3 col-6 order-perso2">{{student.firstName}}</div>
                <div class="col-sm-3 col-6 order-perso4">
                    <button class="btn btn-primary">
                        <a *ngIf="userRouterLinks.user=='trainer'"
                            [routerLink]="['/admin/myStudentDetails', student.id]" class="text-white"><i
                                class="bi bi-person-lines-fill"></i>Détails</a>
                        <a *ngIf="userRouterLinks.user=='tutor'"
                            [routerLink]="['/admin/tutor/myStudentDetails', student.id]" class="text-white"><i
                                class="bi bi-person-lines-fill"></i>Détails</a>
                    </button>
                </div>
                <div class="col-sm-3 col-6">
                    <button class="btn btn-danger">
                        <a *ngIf="userRouterLinks.user=='tutor'"
                            [routerLink]="['/admin/addStudentTutorial', student.id]" class="text-white"
                            [queryParams]="{ trades: userTrades ? userTrades.join(',') : '' }"><i
                                class="bi bi-pen"></i>Ajouter un suivi tutorial</a>

                        <a *ngIf="userRouterLinks.user=='trainer'"
                            [routerLink]="['/admin/addStudentEvaluation', student.id]" class="text-white"
                            [queryParams]="{ trades: userTrades ? userTrades.join(',') : '' }"><i
                                class="bi bi-pen"></i>Ajouter une évaluation pédagogique</a>

                    </button>
                </div>
            </div>
        </div>
        <!-- il n'a pas à en ajouter !!! c'est son administrateur qui lui affecte les étudiants -->
        <!-- <div class="row my-5 justify-content-end ps-5 ps-sm-0">
            <div class="col-sm-3"><button class="btn btn-primary"><a [routerLink]="['/admin/addTrainer']" class="text-white"><i class="bi bi-person-plus-fill"></i>Ajouter</a></button></div>
        </div> -->
    </div>

</div>