/* styles.css */
/* styles.css */
/* styles.css */
.info-button {
    position: fixed;
    top: 65%; /* Milieu de l'écran verticalement */
    right: 2vw;
    letter-spacing: 0.1rem;
    transform: translateY(-65%) rotate(-90deg); /* Centrer verticalement et rotation à -45 degrés */
    transform-origin: bottom right; /* Point d'origine de la rotation */
    /* background-color: #007bff; */
    /* color: white; */
    border: none;
    /* padding: 10px 20px; */
    cursor: pointer;
    z-index: 1000;
  }

  
  .info-button:hover {
    background-color: #0056b3;
  }

  @media screen and (max-width:772px) {
    .info-button {
        display: none;
    }



}
  
  
