<div class="container py-5">
    <h3>Quizz à venir... pour métier {{trade}}</h3>
    <div class="alert alert-info mt-5 mb-4">
        <!-- {{uid}} -->
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat dolorem eveniet beatae culpa molestias numquam
        quis ex quidem animi fugit consequuntur voluptatibus quo corrupti nobis ab, laboriosam minima commodi nostrum?
    </div>
    <!-- partie visuelle similaire à la vue de détail des administrateurs (en mode aperçu) qui ici va devenir réactive -->
    <!-- {{questions[0] | json}} -->

    <!-- on veut juste la première de la liste initiale -->
    <div *ngIf="questions[indexQuestion]">
        <!-- <div *ngFor="let q of questions"> -->
        <div>
            <app-details [q]="questions[indexQuestion]" [questionsMedias]="questionsMedias" [responsesMedias]="responsesMedias" (hasBeenClicked)="answered($event)"></app-details>
        </div>
    </div>
    <!-- </div> -->

    <button class="btn btn-primary" [disabled]="isCompleted==false" (click)="next(indexQuestion)">Question suivante</button>

</div>