<div class="container py-5">
    <h3>Quizz à venir... pour métier {{trade}}</h3>
    <div class="alert alert-info my-5">
        <!-- {{uid}} -->
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat dolorem eveniet beatae culpa molestias numquam quis ex quidem animi fugit consequuntur voluptatibus quo corrupti nobis ab, laboriosam minima commodi nostrum?
    </div>
    <!-- partie visuelle similaire à la vue de détail des administrateurs (en mode aperçu) qui ici va devenir réactive -->
   
    <div *ngIf="questions">
        <!-- pour recracher autant de vues de détails qu'il y a de questions... -->
        <div *ngFor="let q of questions"> <!-- {{q | json}} -->
            <!-- ... et les filtrer si besoin -->
            <div>
                <app-details [q]="q"></app-details>
            </div>
        </div>
    </div>



</div>