.alert.bg-light {
    border: 1px #82BC00 solid;
    font-weight: 400;
    font-size: 1rem;
}

.bg-success {
    background-color: #82BC00;
}

button.btn.btn-primary:disabled {
    background-color: #0061febb;

    /* opacity: 60!important; */
}

.display-6 {
    font-size: 1.5rem;
}

.fw-bold {
    font-weight: 500;
}

.modal {
    background: rgba(0, 0, 0, 0.5);
    /* Opacité de fond, ajustez selon vos préférences */
}

/* 
.visible {
  visibility: visible !important;
} */

.invisible {
  visibility: hidden !important;
}