      <!-- DOCUMENT -->
      <!-- Visu with d-print-none -->
      <div class="alert row d-print-none g-2">
        <div class="col-lg-6 mb-2 mb-lg-0">
          <img src="assets/img/unit2/voisins_fete.webp" class="img-fluid w-100 rounded" alt="Bibliothèque">
        </div>
        <div class="col-lg-6 bg-warning alert mb-0">
          <h5 class="mb-3">Invitation</h5>
          <p>
            Chers voisins,
          </p>
          <p>Le printemps est là, et avec lui l'envie de partager un moment chaleureux
            entre habitants de notre immeuble ! Nous avons le plaisir de vous proposer
            une Fête des Voisins afin de mieux nous connaître et de passer un agréable
            moment ensemble.
          </p>
          <p>
            Rendez-vous dans le hall de l'immeuble le 21 juin à partir de 19 heures.
            Chacun est invité à apporter une petite contribution à partager :
            boisson, plat sucré ou salé.
          </p>
          <p>
            Ce sera l'occasion d'échanger, de rencontrer les nouveaux résidents
            et de renforcer la convivialité.
          </p>
          <p>
            Petits et grands sont les bienvenus.
          </p>
        </div>
      </div>

      <!-- INSTRUCTIONS -->
      <!-- <div class="alert alert-light"><i class="bi bi-info-circle me-2"></i>Pour répondre aux questions, cochez la bonne
        réponse</div> -->