<div class="container mb-5 mt-2">

  <h2 class="text-center mb-5 h2">Étapes clés du candidat</h2>

  <div class="row">

  <ul class="timeline list-unstyled col-md-6">

    <li class="mb-5">
      <div class="d-flex align-items-start">
        <div class="badge bg-primary rounded-circle me-3 p-3" >1</div>
        <div>
          <h5>Consulte les formations métiers</h5>
          <p class="text-muted">
            Peut librement identifier les métiers qui l'intéressent.
          </p>
        </div>
      </div>
    </li>

    <li class="mb-5">
      <div class="d-flex align-items-start">
        <div class="badge bg-primary rounded-circle me-3 p-3" aria-hidden="true">2</div>
        <div>
          <h5>Se teste à son rythme</h5>
          <p class="text-muted">
            Répond aux questionnaires pour évaluer ses compétences.
          </p>
        </div>
      </div>
    </li>

    <li class="mb-5">
      <div class="d-flex align-items-start">
        <div class="badge bg-primary rounded-circle me-3 p-3" aria-hidden="true">3</div>
        <div>
          <h5>Découvre ses résultats</h5>
          <p class="text-muted">
            Notes, préconisations de durée par compétence et par métier sont accessibles dans son compte en un clic.
          </p>
        </div>
      </div>
    </li>
    </ul>
    <ul class="timeline list-unstyled col-md-6">

    <li class="mb-5">
      <div class="d-flex align-items-start">
        <div class="badge bg-success rounded-circle me-3 p-3" aria-hidden="true">4</div>
        <div>
          <h5>Peut intégrer la formation de son choix</h5>
          <p class="text-muted">
            Fait sa demande d'inscription dans le centre de formation de son choix, en complétant un dossier en ligne.
          </p>
        </div>
      </div>
    </li>

    <li class="mb-5">
      <div class="d-flex align-items-start">
        <div class="badge bg-success rounded-circle me-3 p-3" aria-hidden="true">5</div>
        <div>
          <h5>Peut suivre sa progression</h5>
          <p class="text-muted">
            Ses évaluations pédagogiques et tutorales sont consultables directement dans son compte.
          </p>
        </div>
      </div>
    </li>

    <li>
      <div class="d-flex align-items-start">
        <div class="badge bg-success rounded-circle me-3 p-3" aria-hidden="true">6</div>
        <div>
          <h5>Peut se faire connaître des recruteurs</h5>
          <p class="text-muted">
            Son profil est mis à disposition de recruteurs s'il est rendu public.
          </p>
        </div>
      </div>
    </li>

  </ul>

  </div>

</div>

