<div class="container pt-3">
    <!-- <h2>Application BE-ON-TOP.io Informations Légales</h2> -->
<!-- <h2 class="h5"><i class="bi bi-info-square me-3"></i>Nous contacter</h2> -->
<p><i class="bi bi-info-square me-3"></i>Pensez à consulter notre FAQ ci-dessus, elle contient peut-être la réponse à votre question ! <br>
  Pour toute autre question, vous pouvez nous écrire à l'adresse suivante :  
  <a href="mailto:contact@be-on-top.io?subject=Question%20pour%20BE-ON-TOP">contact@be-on-top.io</a>.  
</p>

<p>
  Pour accéder rapidement à l'inventaire complet de toutes les formations :
  <a href="https://be-on-top.io/trainingsIndex">
    Voir l'inventaire complet des formations métiers
  </a>
</p>

<!-- <h2 class="h5"><i class="bi bi-lightbulb me-3"></i>Vos suggestions comptent !</h2> -->
<p><i class="bi bi-lightbulb me-3"></i>
  Vous souhaitez nous aider à faire évoluer l'application ? Partagez vos idées et suggestions à l'adresse suivante :  
  <a href="mailto:ameliorations@be-on-top.io?subject=Mes%20idées%20pour%20l'application%20BE-ON-TOP&body=Bonjour,%0A%0AJe%20vous%20contacte%20au%20sujet%20des%20améliorations%20que%20je%20souhaiterais%20proposer%20pour%20l'application%20:%0A%0A- ">ameliorations@be-on-top.io</a>
</p>


</div>