<div class="container py-5">

  <h3>Modification des curseurs personnalisés pour le calcul des 3 niveaux de résultat au terme du positionnement des
    candidats
  </h3>

  <!-- pour les curseurs -->

  <form #setCursorsForm="ngForm" class="mt-4" (submit)="updateLevelCursors(setCursorsForm)" class="was-validated">

    <div class="form-group">

      <label for="firstCursor" class="form-label mt-3">Curseur 1</label>
      <input type="number" name="firstCursor" [(ngModel)]="cursors.firstCursor" #firstCursor="ngModel"
        class="form-control" required>
      <!-- <div *ngIf="firstCursor.touched && firstCursor.invalid" class="invalid-feedback">
        Veuillez fournir un sigle valide.
      </div>
      <div *ngIf="secondCursor.valid" class="valid-feedback">
        Ok. Curseur pris en compte
      </div> -->
      <label for="secondCursor" class="form-label mt-3">Curseur 2</label>
      <input type="number" name="secondCursor" [(ngModel)]="cursors.secondCursor" #secondCursor="ngModel"
        class="form-control" required>
      <!-- <div *ngIf="secondCursor.touched && secondCursor.invalid" class="invalid-feedback">
        Veuillez fournir un nombre
      </div>
      <div *ngIf="secondCursor.valid" class="valid-feedback">
        Ok. Curseur pris en compte
      </div> -->

    </div>

    <button type="submit" class="btn btn-primary mt-4"
      [disabled]=setCursorsForm.invalid>Modifier</button>
  </form>

  <!-- pour la mise à jour des maximums -->

  <h3>Modification des maximums pour arrêter la fin des questionnaires
  </h3>

  <hr>

  <form #setMaxForm="ngForm" class="mt-4" (submit)="updateMaximums(setMaxForm)" class="was-validated">

    <div class="form-group">

      <label for="maxIndexQuestion" class="form-label mt-3">D'accroche</label>
      <input type="number" name="maxIndexQuestion" [(ngModel)]="maximums.maxIndexQuestion" #maxIndexQuestion="ngModel"
        class="form-control" required>
      <label for="maxPrior" class="form-label mt-3">De positionnement</label>
      <input type="number" name="maxPrior" [(ngModel)]="maximums.maxPrior" #maxPrior="ngModel"
        class="form-control" required>
      <!-- <div *ngIf="maxIndexQuestion.touched && maxIndexQuestion.invalid" class="invalid-feedback">
        Veuillez fournir un sigle valide.
      </div>
      <div *ngIf="maxIndexQuestion.valid" class="valid-feedback">
        Ok. Curseur pris en compte
      </div> -->
    </div>

    <button id="settingsForm" type="submit" class="btn btn-primary mt-4"
      [disabled]=setMaxForm.invalid>Modifier</button>
  </form>





</div>