<div class="container py-5">

  <h3>Modification des curseurs personnalisés pour le calcul des 3 niveaux de résultat au terme du positionnement des
    candidats
  </h3>

  <!-- pour les curseurs -->
  <hr>
  <form #setCursorsForm="ngForm" class="mt-4" (submit)="updateLevelCursors(setCursorsForm)" class="was-validated">

    <div class="form-group">

      <label for="firstCursor" class="form-label mt-3">Curseur 1</label>
      <input type="number" name="firstCursor" [(ngModel)]="cursors.firstCursor" #firstCursor="ngModel"
        class="form-control" required>
      <!-- <div *ngIf="firstCursor.touched && firstCursor.invalid" class="invalid-feedback">
        Veuillez fournir un sigle valide.
      </div>
      <div *ngIf="secondCursor.valid" class="valid-feedback">
        Ok. Curseur pris en compte
      </div> -->
      <label for="secondCursor" class="form-label mt-3">Curseur 2</label>
      <input type="number" name="secondCursor" [(ngModel)]="cursors.secondCursor" #secondCursor="ngModel"
        class="form-control" required>
      <!-- <div *ngIf="secondCursor.touched && secondCursor.invalid" class="invalid-feedback">
        Veuillez fournir un nombre
      </div>
      <div *ngIf="secondCursor.valid" class="valid-feedback">
        Ok. Curseur pris en compte
      </div> -->

    </div>

    <button id="settingsForm" type="submit" class="btn btn-primary mt-4"
      [disabled]=setCursorsForm.invalid>Ajouter</button>
  </form>



</div>