<div class="container py-5">
    <!-- {{user}} -->

    <h3>Login Utilisateur</h3>
    <ng-template #login>
        <app-feedback-messages [feedbackMessages]="feedbackMessages" [isSuccessMessage]="isSuccessMessage"></app-feedback-messages>
        <form class="form mx-auto" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label text-light">Email</label>
                <input type="text" class="form-control" formControlName="email">
            </div>
            <div class="mb-3">
                <label class="form-label text-light">Password</label>
                <input type="password" class="form-control" formControlName="password">
            </div>
            <input type="submit" class="btn btn-primary mt-4" value="Valider">
        </form>
        <button class="btn btn-primary mt-4" (click)="onClick()">S'identifier avec Google</button>
        <hr>
        <button class="btn btn-warning mt-4" (click)="reset(formLogin.value.email)">Réinitialiser son mot de passe</button>

    </ng-template>

    <hr>
    <div *ngIf="user, else login">
        <p class="alert bg-success my-3 p-3">Vous êtes déjà authentifié</p>

        <button class="btn btn-primary mt-3" (click)="onClick()"><a class="dropdown-item"
                (click)="logOut()">Logout</a></button>
    </div>

</div>