<div class="container py-5">

    
    <h3>questions-list works!</h3>
    <hr>
    
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor nulla, hic ab ea debitis repudiandae consectetur
        impedit laborum fugiat iste itaque deserunt quas facere ex quae rerum repellendus voluptas? Optio.</p>
    <div *ngIf="questions">
        <!-- header priors -->
        <div class="p-3 p-md-5 bg-light rounded d-flex flex-column justify-content-between gap-5 align-items-center rounded mb-3" *ngFor="let item of questions">
    
    
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores asperiores quasi atque illo possimus
                    neque
                    mollitia aut nostrum, ullam voluptas cupiditate eos consequuntur rem suscipit corporis voluptate at
                    harum
                    aperiam?</p>
            </div>
            <div class="w-100 bg-info p-2 rounded">
                <img class="img-fluid" [src]="item">
            </div>
    
    
        </div>
        <!-- end header priors -->
    
    </div>
</div>