/* video {
    width: 100%;
    height: auto;
  } */

  video{
    width: 100%;
    height: auto;
  }

  .opacity-0{
    opacity: 0;
    transition: all 2s;
    transition-delay: 1s ;
  }

  .opacity-100{
    opacity: 100;
    transition: all 2s;
    transition-delay: 1s ;
  }

  $form-select-indicator-color: #0E1CE6;