.text-custom{
    color: rgb(27, 9, 106);
    text-align: center;
}

.btn.btn-light.rounded-0:hover{
    background-image: linear-gradient(to right, rgb(27, 9, 106), rgb(24, 5, 74));
    color: whitesmoke;
}

/* Ajoutez une classe personnalisée au dropdown */
.custom-dropdown .dropdown-menu {
    z-index: 1000; /* ou toute valeur appropriée selon votre cas */
}

/* style CSS pour inverser la flèche du dropdown */
.dropdown-toggle::after {
    transform: rotate(180deg)!important;
    margin-left: 1rem;
}
