.text-custom{
    /* color: rgb(27, 9, 106); */
    text-align: center;
}

/* .btn.btn-light.rounded-0:hover{
    background-image: linear-gradient(to right, rgb(27, 9, 106), rgb(24, 5, 74));
    color: white
} */

/* Ajoutez une classe personnalisée au dropdown */
.custom-dropdown .dropdown-menu {
    z-index: 1000; /* ou toute valeur appropriée selon votre cas */
}

/* style CSS pour inverser la flèche du dropdown */
.dropdown-toggle::after {
    transform: rotate(180deg)!important;
    margin-left: 1rem;
}


footer {
    transition: height 0.3s ease;  /* Transition de la hauteur pour un effet fluide */
    padding-top: 1vh;
    padding-bottom: 1vh;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer span{
    font-size: 0.85rem;

}

/* Style du bouton de retour */
.back-to-top-btn {
    position: fixed;
    bottom: 120px; /* Positionné juste au-dessus du footer */
    right: 20px; /* Positionné à droite */
    z-index: 1000;
    /* display: none;  */
  }
  
  .back-to-top-btn.show {
    display: block; /* Affichage du bouton quand nécessaire */
  }
  
  /* Animation d'apparition du footer */
  .fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  



@media screen and (max-width:343px) {
    footer i{
        display: none;
    }

    
}


