<div class="container py-5">
    <!-- {{userRouterLinks}} -->

    <h3 *ngIf="userRouterLinks=='tutor', else evaluation">Ajouter un suivi tutorial (d'entreprise)</h3>
    <app-feedback-messages [feedbackMessages]="feedbackMessages"
        [isSuccessMessage]="isSuccessMessage"></app-feedback-messages>
    <ng-template #evaluation>
        <h3 *ngIf="userRouterLinks=='trainer', else evaluation">Ajouter une évaluation pédagogique</h3>
    </ng-template>
    <!-- <app-feedback-messages [feedbackMessages]="feedbackMessages" [isSuccessMessage]="isSuccessMessage"></app-feedback-messages> -->

    <!-- pour les messages de retour/validation des champs du formulaire ou form validation, on utilisera BOOTSTRAP plutôt que des directives structurelles -->
    <form class="form" #f="ngForm" (submit)="addFollowUp(studentId, f)" class="was-validated">

        <!-- attention à virer les fonctions pour l'exercice sur (change) et (input) !!!!!! -->

        <div class="row">
            <div class="form-group col-md-6">
                <label for="subject" class="form-label mt-3">Sujet *</label>
                <input type="text" ngModel name="subject" class="form-control" #subject="ngModel" required>
                <div class="valid-feedback" *ngIf="subject.valid">Champ correctement renseigné</div>
                <div class="invalid-feedback" *ngIf="subject.invalid">Merci de renseigner le sujet de l'évaluation.
                </div>
            </div>
            <div class="form-group  col-md-6">
                <label for="date" class="form-label mt-3">Date *</label>
                <input type="date" name="date" ngModel name="date" class="form-control" #date="ngModel"
                    placeholder="Saisissez l'évaluation reçue en présentiel" required>
                <div class="valid-feedback" *ngIf="date.valid">Champ correctement renseigné</div>
                <div class="invalid-feedback" *ngIf="date.invalid">Merci de renseigner la date</div>
            </div>
        </div>

        <div class="form-group">
            <label for="details" class="form-label mt-3">Details *</label>
            <!-- pour éditeur de text (?) -->
            <!-- <editor
                [init]="{ plugins: 'link image', toolbar: 'undo redo | bold italic | alignleft aligncenter alignright | link image' }">
                [id]="'details'"
            </editor> -->
            <!-- version sans TinyMCE -->
            <!-- <textarea name="details" id="details" cols="50" rows="30" ngModel name="details" class="form-control" #details="ngModel"
                placeholder="Saisissez l'évaluation reçue en présentiel" required></textarea> -->

            <editor apiKey="ahl0yg86w69zh9viflcvku8m2k333o942kc9fpttussom153"
                [init]="{ plugins: 'link image', toolbar: 'undo redo | bold italic | link image' }" [id]="'details'"
                ngModel name="details" #details="ngModel" placeholder="Saisissez l'évaluation" required>
            </editor>
            <div class="valid-feedback" *ngIf="details.valid">Evaluation correctement renseignée</div>
            <div class="invalid-feedback" *ngIf="details.invalid">Merci de saisir votre évaluation</div>
        </div>

        <button type="submit" id="submit" class="btn btn-primary mt-3"
            [ngClass]="{'disabled':f.invalid}">Ajouter</button>
    </form>
    


</div>