<div class="container py-5">
  <h3 class="mb-3">Modification du centre de formation</h3>

  <form #editForm="ngForm" (submit)="updateCenter(editForm)" class="mt-4">
    <div class="form-group">
      <label for="name" class="form-label">Nom</label>
      <input id="name" type="text" name="name" [(ngModel)]="center.name" class="form-control" required>

      <label for="address" class="form-label mt-3">Adresse</label>
      <textarea id="address" name="address" [(ngModel)]="center.address" class="form-control" required></textarea>

      <label for="cp" class="form-label mt-3">CP</label>
      <input id="cp" type="text" name="cp" [(ngModel)]="center.cp" class="form-control" pattern="^\d{5}$" required>

      <label for="city" class="form-label mt-3">Ville</label>
      <input id="city" type="text" name="city" [(ngModel)]="center.city" class="form-control" required>

      <label for="sigles" class="form-label mt-3">Affectation métier(s)</label>
      <select id="sigles" name="sigles" [(ngModel)]="center.sigles" class="form-control" multiple required>
        <option *ngFor="let trade of sigleIds" [value]="trade">{{trade}}</option>
      </select>

      <!-- pour pouvoir remonter mainCity : ville la plus proche -->
      <label for="mainCity" class="form-label mt-3">Ville la plus proche</label>
      <input type="text" id="mainCity" name="mainCity" [(ngModel)]="center.mainCity" class="form-control">

      <!-- pour pouvoir modifier la propriété partenaire -->
      <hr>
      <!-- très bien mais faut s'aligner avec l'ajout pour une liste alternative de types de centres -->
      <!-- <div class="form-check form-switch mt-3">
        <label class="form-check-label" for="partner">Est un simple partenaire ?</label>
        <input class="form-check-input" type="checkbox" id="partnerCheckbox" name="partner"
          [(ngModel)]="center.partner"> <span> {{center.partner ?"Oui":"Non"}}</span>
      </div> -->
      <div class="mt-3">
        <label class="form-label">Type de centre</label>
        <div class="form-check" *ngFor="let type of centerTypes">
          <input class="form-check-input" type="radio" name="centerType" [value]="type.value" [(ngModel)]="centerType">
          <label class="form-check-label">{{ type.label }}</label>
        </div>
      </div>



      <button type="submit" class="btn btn-primary mt-4" [disabled]="editForm.invalid">Mettre à jour</button>
    </div>
  </form>

  <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
  <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
</div>