<div class="alert bg-info document-batiment text-white">

    <h5>
        Activité du bâtiment : chute libre en 2024 et sombres perspectives pour 2025 selon la FFB
    </h5>

    <small class="d-block mb-2">
        Date : 17/12/2024
    </small>

    <img
        src="assets/img/unit3/batiment.webp"
        alt="Activité du secteur du bâtiment"
        class="document-image"
        loading="lazy">

    <p>
        L'année 2025 s'annonce très mauvaise selon le président de la FFB,
        Olivier Salleron qui a présenté un bilan de l'activité du bâtiment en 2024
        et les perspectives à venir.
        Le secteur a, en effet, poursuivi sa chute en 2024 notamment dans le neuf,
        et l'entretien-amélioration n'a pas tenu ses promesses.
    </p>

    <p>
        Les chiffres présentés par la FFB en cette fin d'année 2024 confirment bien
        la récession du secteur du bâtiment : <strong>- 6,6 % en volume</strong>.
        Le plongeon du logement neuf
        (<strong>- 21,9 % en 2024 versus - 24,9 % en 2023</strong>)
        et la chute des mises en chantier (<strong>- 14,2 %</strong>)
        expliquent notamment ce bilan négatif.
    </p>

    <p>
        Au total, quelque <strong>253 000 ouvertures de chantier</strong> ont été enregistrées,
        flirtant avec le niveau du marché de 1954, indique l'organisation patronale.
        Autre segment, le non résidentiel neuf est aussi à la peine avec
        <strong>- 7,4 % à prix constant</strong>.
        Seule l'amélioration-entretien progresse à <strong>+ 1,2 % en volume</strong>
        mais avec un rythme deux fois moindre qu'en 2023.
    </p>

    <p>
        En cause, « la réforme ratée de MaPrimeRénov sur les cinq premiers mois
        de 2024 », rappelle la FFB, mais aussi le nouveau recul des transactions
        de logements anciens qui génèrent des travaux immédiats, non réalisés de fait.
    </p>

    <h5 class="mt-3">
        2025 : une mauvaise année en perspective pour le bâtiment
    </h5>

    <p>
        Les perspectives dressées par la FFB tiennent compte de la situation
        politique figée à la mi-décembre, avec l'absence de PLF
        (Projet de loi de finances).
        Pour rappel, la motion de censure et le renversement du gouvernement se sont
        traduits par le gel de plusieurs mesures favorables au secteur dont le
        Prêt à taux zéro (PTZ) ouvert à tous les segments sur tout le territoire
        ou encore le remplacement du dispositif Pinel.
        « Mais on a réussi à sauver MaPrimeRénov », rappelle Olivier Salleron.
    </p>

    <p>
        Ainsi, en 2025, l'activité se contracterait encore de
        <strong>5,6 % en volume</strong>, avec la pénalisation du neuf.
        Le logement neuf chuterait de <strong>14,2 %</strong>, pour atterrir sur un
        plancher de <strong>239 000 unités</strong>, soit
        <strong>86 000 unités dans l'individuel (- 12,6 %)</strong> et
        <strong>153 000 constructions dans le collectif</strong>.
    </p>

    <p>
        Le non résidentiel neuf pâtirait de la baisse de l'investissement
        macroéconomique professionnel, à <strong>- 15 %</strong>.
        Enfin, le segment de l'amélioration-entretien souffrirait encore d'un
        tassement en 2025 avec <strong>+ 0,9 %</strong>.
    </p>

    <p>
        Sur le front de l'emploi, « Faute de PLF rapidement,
        <strong>100 000 emplois seraient détruits en 2025</strong> »,
        prévient Olivier Salleron.
        La FFB souligne que l'emploi n'a reculé que de <strong>2,2 % en 2024</strong>,
        ce qui représente <strong>30 000 postes salariés et intérimaires</strong> en
        équivalent-emplois à temps plein perdus.
    </p>

    <p>
        Les prochaines mesures prises par le nouveau gouvernement seront donc
        décisives pour relancer et stabiliser un secteur qui pèse
        <strong>215 milliards d'euros en France</strong> et compte
        <strong>1,6 million d'actifs</strong>, conclut Olivier Salleron.
    </p>

    <p class="mb-0">
        <strong>*FFB = Fédération Française du Bâtiment</strong>
    </p>

</div>