<div class="container pt-3">
    <!-- <h3 class="mb-4">Engagement RSE et Architecture Numérique Responsable</h3> -->


    <p>    <span class="h5"><i class="bi bi-globe2 me-2"></i>Déploiement éco-responsable :</span>
        L'application est hébergée sur Google Firebase, bénéficiant ainsi des <a href="https://sustainability.google/intl/fr_fr/#:~:text=Notre%20engagement%20pour%20un%20refroidissement,79%20d%27ici%202030" target="_blank" rel="noopener noreferrer"> engagements environnementaux de Google</a>. En choisissant une infrastructure qui utilise 100% d'énergie renouvelable et vise la <span class="fw-bold">neutralité carbone totale d'ici 2030 </span>, nous nous adossons à une démarche RSE de pointe, réduisant activement l'empreinte carbone de notre infrastructure applicative.
    </p>

    <hr>

 
    <p>   <span class="h5"><i class="bi bi-diagram-3 me-2"></i>Architecture optimisée :</span>
        Notre architecture est conçue selon un principe de <span class="fw-bold">modularité</span> et de <span class="fw-bold">centralisation</span> de l'expérience utilisateur. Ce parti-pris technique répond à deux objectifs RSE majeurs :    </p>
        <ul>
            <li><span class="fw-bold">Réduction de l'Empreinte Numérique :</span> L'approche modulaire minimise la charge des serveurs en déployant et mettant à jour les composants de manière indépendante. L'évitement des navigations complexes et superflues réduit l'utilisation des ressources et la consommation énergétique globale.</li>
            <li><span class="fw-bold">Bien-être Utilisateur (UX) :</span> L'accès centralisé aux données métiers et personnels favorise une meilleure efficacité de l'utilisateur, réduisant la frustration et le temps passé à interagir avec l'application.</li>
        </ul>
    
    <hr>

    <p>    <span class="h5"><i class="bi bi-lightning-charge me-2"></i>Performance et Sobriété des terminaux :</span>
        En tant qu'Application Web Progressive (PWA), l'application encourage une <span class="fw-bold">meilleure efficacité énergétique des appareils</span> de nos utilisateurs. Plus légère et optimisée, la PWA consomme moins de batterie et de bande passante que les applications natives traditionnelles, contribuant à la sobriété numérique du côté client.
    </p>

    <hr>


    <p>    <span class="h5"><i class="bi bi-people me-2"></i>Accessibilité et Inclusion (Pilier Social du RSE) :</span>
        L'accessibilité est au cœur de notre démarche. La conception de l'application est alignée sur les meilleures pratiques (WCAG) pour garantir l'<span class="fw-bold">inclusion</span> et le <span class="fw-bold">bien-être</span> de tous les utilisateurs, y compris les personnes en situation de handicap. Ce choix contribue directement au volet social de notre Responsabilité Sociétale.
    </p>

        <!-- <p class="mt-">Vous pouvez consulter notre <a href="https://be-on-top.io/accessibility">Déclaration d'accessibilité</a></p> -->
        <p class="mt-">Vous pouvez consulter notre  <a
    href="#accessibility"
    data-bs-toggle="modal"
  >Déclaration d'accessibilité</a></p>

  



  

</div>

<div class="modal fade" id="accessibility" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">

      <div class="modal-header">
        <h2 class="modal-title fs-5">Déclaration d'accessibilité</h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Fermer"
        ></button>
      </div>

      <div class="modal-body">
        <!-- ton contenu / composant Angular -->
        <app-accessibility-compliance-report></app-accessibility-compliance-report>
      </div>

    </div>
  </div>
</div>




