<div class="container pt-3">
    <!-- <h2>Application BE-ON-TOP.io Informations Légales</h2> -->
    <p>
        Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004, il est précisé aux utilisateurs de
        l'application BE-ON-TOP.io l'identité des différents intervenants dans le cadre de son développement et de son
        utilisation.
    </p>

    <h2 class="h5"><i class="bi bi-info-square me-3"></i>Société éditrice</h2>
    <p> L'application BE-ON-TOP.io est éditée par la S.A.S. RÉSEAU C&S, au capital de 149 444,44 € euros, immatriculée
        au Registre du commerce et des sociétés de Bordeaux sous le numéro 484 823 695 et dont le siège social est situé
        8 rue Jean Walton, ZAE Taillefer, 33450 MONTUSSAN (Siret n° 484 823 695 00099 et TVA intracommunautaire n°
        FR38484823695).</p>

    <h2 class="h5"><i class="bi bi-r-square me-3"></i>Marque déposée</h2>
    <p>La marque BE-ON-TOP.io et son logo sont la propriété de la SAS RÉSEAU C&S et sont déposées à l'INPI sous le
        numéro 4886397. <strong>Ce dépôt la protège des contrefaçons ou d'un usage de la marque qui ne serait pas conforme à la
            volonté de son créateur ou sa mission</strong></p>

    <h2 class="h5"><i class="bi bi-info-square me-3"></i>Fondateur</h2>
    <p>
        Monsieur Pascal PIERRE, Président de la SAS RÉSEAU C&S.
    </p>
    <h2 class="h5"><i class="bi bi-info-square me-3"></i>Hébergeur</h2>
    <p>L'application BE-ON-TOP.io est hébergée par Firebase Hosting.</p>


    <h2 class="h5"><i class="bi bi-code-square me-3"></i>Développement</h2>
    <p class="mt-">Application (Progressive Web Application) développée en interne par SAS RÉSEAU C&S, écrite en JavaScript (également du code TypeScript). Repose sur Cloud Firestore base de données
        conçue pour le développement mobile, Web et serveur à partir de Firebase et Google Cloud.</p>
 
        <h2 class="h5"><i class="bi bi-info-square me-3"></i>Application cofinancée par l'Etat</h2>
    <p class="mt-">Opération cofinancée par l'Etat dans le cadre de l'Action "Adaptation et qualification de la main d'œuvre". "Dispositifs France Formation Innovante Numérique (DEFFINUM) opéré par la Caisse des Dépôts" (Banque des Territoires)
    </p>

    <!-- <hr>
    <h2 class="h4">Contact</h2>
    <ul>
        <li>Par téléphone : 05 33 06 98 49</li>
        <li>Par mail : contact@reseau-cs.info</li>
        <li>Par courrier : S.A.S. RÉSEAU C&S, 8 rue Jean Walton, ZAE Taillefer, 33450 MONTUSSAN, France.</li>
    </ul> -->




</div>