/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"); */
/* @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */

@font-face {
    font-family: 'bootstrap-icons';
    src: url('/assets/fonts/bootstrap-icons.woff2') format('woff2'),
        url('/assets/fonts/bootstrap-icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* plus-jakarta-sans-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/fonts/plus-jakarta-sans-v11-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* plus-jakarta-sans-regular - latin */
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Plus Jakarta Sans Regular'),
        url('/assets/fonts/plus-jakarta-sans-v11-latin-regular.woff2') format('woff2');
    font-display: swap;
}


/* plus-jakarta-sans-italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Plus Jakarta Sans';
    font-style: italic;
    font-weight: 400;
    src: url('/assets/fonts/plus-jakarta-sans-v11-latin-italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* plus-jakarta-sans-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/plus-jakarta-sans-v11-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* plus-jakarta-sans-500italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Plus Jakarta Sans';
    font-style: italic;
    font-weight: 500;
    src: url('/assets/fonts/plus-jakarta-sans-v11-latin-500italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* plus-jakarta-sans-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/plus-jakarta-sans-v11-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* plus-jakarta-sans-600italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Plus Jakarta Sans';
    font-style: italic;
    font-weight: 600;
    src: url('/assets/fonts/plus-jakarta-sans-v11-latin-600italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


* {
    margin: 0;
    box-sizing: border-box;
}

:host {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
}

body,
html {
    overflow-x: hidden;
    /* Evite que certains container overflow cachent le fixed */
}

/* 1. On neutralise l'espace sur les éléments qui précèdent */
main,
router-outlet+* {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

:root {
    --primary-color: #0062fe;
    --text-primary: #0062fe;
    --text-primary-plus: #004ECD;
    --text-color: white;
    --text-dark: #0a1a2f;
    /* --bg-dark: #0a1a2f; */
    --bg-dark: #0a1a2f;
    --bg-light: #f8f9fa;
    --bs-light: #f8f9fa;
    --bs-light-rgb: #f8f9fa;
    --bg-sucess: #82BC00;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: var(--text-dark);
    z-index: 1040;
}

/* .h5 {
    font-weight:400;
} */


h1,
h2,
h3,
.h4 {
    font-weight: 400;
    /* text-align: center; */
}


.fw-bold {
    font-weight: 600 !important;
    /* text-align: center; */
}

h2,
.h5 {
    color: var(--text-dark) !important;
}


strong {
    font-weight: 400 !important;
}

.trade p,
.trade div {
    margin: 0;
    padding-bottom: 0.6rem;
    /* padding-top: 0.6rem; */
    padding-left: 0.6rem;
    font-size: 1rem;
    border-left: 2px #82BC00 solid
}

.trade h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.trade ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-left: 2px #82BC00 solid;
    font-size: 1rem;
}

.trade strong {
    font-weight: 600;
    /* font-size: 1.4rem; */
    /* letter-spacing: 0.15rem; */
    font-size: 1.05rem
}

/* Dans styles.css global, pas besoin de ::ng-deep, mais on cible précisément le conteneur */

.news-content ul {
  border-left: 2px #82BC00 solid;
  /* display: block; */
  /* 🎯 La solution magique */
  overflow: hidden !important;
  padding-left: 1rem;
}

.news-content ul li {
list-style: none;
padding-bottom: 0.5rem;
}


.news-content strong {
  font-weight: 700 !important; /* Ou 800 / bold */

}

/* 📝 Style personnalisé pour le bloc de mise en valeur (Blockquote) */
/* 💡 Le détournement magique de l'italique (balise em) */
.news-content em {
  font-style: italic !important;
  background-color: #f1f3f5 !important;       /* Un surlignage gris très très léger */
  margin: 0.2rem 0 !important;
  /* font-size: 1.08rem !important; */
}

/* Titre h3 avec soulignement sur 100% de la largeur */
h3 {
    position: relative;
    width: fit-content;
    margin: 0 auto 40px auto;
}

h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    /* Soulignement sur toute la largeur du titre */
    background-color: #82BC00 !important;
    opacity: 1 !important;
}

/* Soulignement des éléments de navigation (nav) sur 80% de la largeur */
li.nav-item.active>a::before,
li.nav-item.dropdown.active>a::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 80%;
    /* Soulignement limité à 80% de la largeur des éléments */
    background-color: #82BC00 !important;
    opacity: 1 !important;
}

/* Opacité des liens nav-item */
li.nav-item.dropdown>a {
    opacity: 0.8 !important;
}

li.nav-item.dropdown.active>a {
    opacity: 1 !important;
}

/* Assure que les nav-links dans .active ont l'opacité maximale */
li.nav-item.active>a,
li.nav-item.dropdown.active>a.nav-link {
    opacity: 1 !important;
}

/* Positionnement nécessaire pour le soulignement */
li.nav-item.active,
li.nav-item.dropdown.active {
    position: relative;
}

.bg-light,
.card-header,
.navbar-light,
.card-footer {
    background-color: var(--bg-light) !important;
    border: none !important;
    color: #0a1a2f !important;
}

nav {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}

.bg-primary,
.btn-primary {
    background-color: var(--primary-color) !important;
    color: var(--text-color) !important;
}

.text-primary {
    color: var(--text-primary) !important;
}

.fs-5 {
    font-size: 1.15rem !important;
    line-height: 1.25rem;
}

.fs-6,
.fs-6 span {
    font-size: 0.8rem !important;
}

.display-5 {
    font-size: 1.15rem;
}

.display-5 h1 {
    font-size: inherit;
}

.d-inline,
.alert {
    font-weight: 300;
}

.btn a {
    text-decoration: none;
}

.btn i {
    margin-right: 1rem;
}

.btn.btn-danger {
    background-color: #E21937;
    color: white;
}

.btn.btn-success {
    border: 2px solid white;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    background: linear-gradient(to bottom, #82BC00, #74A800);
}

.btn.btn-success:hover {
    border: 2px solid #74A800;
    opacity: 1 !important;
}

/* en lieu et place des étoiles : devenu inutile */
/* .divider {
    width: 25%;
    height: 3px;
    background: var(--primary-color);
    margin: 0 auto;
    border-radius: 4px;
} */

#cta,
#account {
    border: 2px solid white;
    animation: zoomInOnce 0.8s ease-out, pulse 1.8s ease-in-out infinite 0.8s;
}

.custom-icon-10::before {
    content: "10";
    display: inline-block;
    width: 1.05rem;
    height: 1.05rem;
    line-height: 1rem;
    /* ✅ centrage vertical du texte */
    text-align: center;
    font-size: 0.7rem;
    border-radius: 0.15rem;
    background-color: var(--bs-primary);
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    vertical-align: middle;
    box-shadow: 0 0 0.05rem rgba(0, 0, 0, 0.2);
}


.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

@keyframes zoomInOnce {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    50% {
        transform: scale(0.95);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }
}

.bg-success,
.btn-success,
.success {
    background-color: #82BC00 !important;
    opacity: 1 !important;
    transition: .5s ease;
}

.alert-light {
    border: 1px #82BC00 solid;
    font-weight: 400;
    background-color: var(--bg-light);
    cursor: pointer;
}

.text-success,
.text-success i,
span.checkmark-icon {
    color: #82BC00 !important;
}

.was-validated .form-control:valid,
.form-control.is-valid,
.was-validated .form-select:valid {
    background-image: none;
}

input:checked {
    background-color: var(--bg-sucess) !important;
    opacity: 1 !important;
}

.ng-valid {
    border-color: var(--bg-sucess) !important;
}

.valid-feedback {
    color: var(--bg-sucess) !important;
}

.valid-feedback,
.btn.btn-light.rounded-0:hover {
    background-color: white !important;
    color: var(--bg-sucess);
    border: none;
}

hr {
    opacity: 1 !important;
}

.border-success {
    border-color: #82BC00;
}

.modal .fw-bold,
.modal .text-success {
    color: #82BC00;
}

.bg-warning,
.btn-warning,
.alert-warning {
    background-color: #fcb311;
    border: 2px solid white !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

nav.navbar.navbar-light a {
    font-weight: 500 !important;
    opacity: 1;
}

.alert.bg-warning a {
    color: var(--text-dark);
    text-decoration: underline !important;
}

.navbar-light a,
.text-dark,
.card-header,
.card-body,
.alert-light,
.text-dark>* {
    color: #031C44;
}

.card-body button.btn-transparent a {
    color: #00358A;
}

.bg-dark,
.navbar-dark,
.badge.text-bg-dark {
    background-color: #002550 !important;
    /* background-color: var(--bg-dark); */
}

.bg-info {
    background-color: var(--primary-color) !important;
}

p.question {
    text-align: center;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
}

.tooltip-container::after,
.tooltip-container::before {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
}

.tooltip-container:hover::after,
.tooltip-container:hover::before,
.tooltip-container:focus::after,
.tooltip-container:focus::before {
    opacity: 1;
    visibility: visible;
}

.tooltip-container::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0a1a2f;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 14px;
    z-index: 1000;
    white-space: normal;
}

.tooltip-container::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid transparent;
    border-top-color: #0a1a2f;
}

@keyframes fade-zoom-out {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.alert.bg-primary {
    position: relative;
    padding: 15px;
    border-radius: 5px;
    display: inline-block;
}

.alert.bg-primary::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--primary-color);
}

abbr {
    position: relative;
    cursor: help;
}

/* Tooltip de base : caché */
abbr::before {
    content: attr(title);
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--text-dark);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
}

/* Affiche au focus (mobile), hover (desktop) */
abbr:focus::before,
abbr:hover::before {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.underProgress {
    background-color: #f0f0f0;
    /* couleur de base */
    background-image: repeating-linear-gradient(45deg,
            /* angle des lignes */
            #cccccc,
            /* couleur des lignes */
            #cccccc 2px,
            /* largeur de la ligne */
            transparent 2px,
            /* espace transparent */
            transparent 6px
            /* espacement total entre lignes */
        )
}

.trainer-signature {
    font-style: italic;
    font-size: 0.8rem;
    color: var(--text-dark);
    pointer-events: none;
    /* empêche toute sélection */
    opacity: 0.7;
}

.dropdown-item.dropdown-toggle {
    padding-right: 1rem;
    /* réserve l'espace pour la flèche */
}


/* MOBILE FIRST - désactvité pour le moment pour contraindre dénominations métiers courtes */
/* .dropdown-menu .dropdown-item {
    white-space: normal !important;
    line-height: 1.3;
} */

.news-content img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* === Media queries === */
/* TABLETTE & + */
@media (min-width: 576px) {

    .fs-6,
    .fs-6 span {
        width: auto;
        font-size: 0.8rem !important;
    }

    h2.h5,
    h1 {
        font-size: 1.3rem;
    }

    .fs-5,
    p {
        font-size: 1rem !important;
    }

    .nav-link {
        font-size: 1rem;
    }

    .dropdown-item {
        padding: 10px;
    }

    .isLargeScreen {
        display: block;
        font-size: 1.4rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }
}

/* TABLETTE & + */



/* DESKTOP & + */
@media (min-width: 992px) {
    .news-content img {
        margin: 0 15px 10px 0;
        float: left;
        width: 50%;
    }

    .d-xs-none {
        display: none !important;
    }

    .btn.btn-transparent.text-center.fs-5 {
        font-size: 1rem !important;
    }


    /* désactivé pour le moment pour contraindre à saisir des dénominations métiers courtes */
    .dropdown-menu .dropdown-item {
        white-space: nowrap !important;
    }

    .dropdown-item.dropdown-toggle {
        padding-right: 2rem;
        /* réserve l'espace pour la flèche */
    }




}