<div class="container my-4">

  <h2 class="my-4" *ngIf="!id">Création d'un article</h2>
  <h2 class="my-4" *ngIf="id">Modification de l'article</h2>

  <div class="alert alert-danger">Pour l'image du haut (Héros) : privilégier un format "très allongé" (ratio 21/9).

<br>Si vous ajoutez une image dans le texte : choisir un format "Portrait" ou "Carré" pour que le texte s'enroule proprement autour.</div>

  <form #f="ngForm" (ngSubmit)="save(f)">

    <div class="mb-3">
      <label class="form-label">Titre</label>
      <input class="form-control" name="title" [(ngModel)]="news.title" required placeholder="Titre">
    </div>

    <!-- <div class="mb-3">
      <label class="form-label">Image (URL optionnelle)</label>
      <input
        class="form-control"
        name="heroImage"
        [(ngModel)]="news.heroImage"
        placeholder="https://...">
    </div> -->
    <div class="mb-3">
      <label class="form-label">Image du haut (upload)</label>

      <input type="file" class="form-control" (change)="onFileSelected($event)">
    </div>

    <!-- preview -->
    <img *ngIf="news.heroImage" [src]="news.heroImage" class="img-fluid mt-2">

    <div class="mb-3">
      <label class="form-label">Contenu</label>

      <!-- <editor
        name="content"
        [(ngModel)]="news.content">
      </editor> -->
      <!-- <editor apiKey="ahl0yg86w69zh9viflcvku8m2k333o942kc9fpttussom153"
        [init]="{  plugins: ['lists'], toolbar: 'undo redo | formatselect | bold italic | bullist numlist outdent indent | heading' }"
        [id]="'description'" [(ngModel)]="news.content" name="description"></editor> -->
      <editor apiKey="ahl0yg86w69zh9viflcvku8m2k333o942kc9fpttussom153" [init]="editorConfig" id="description"
        [(ngModel)]="news.content" name="description">
      </editor>
    </div>



    <div class="mb-3">
      <label class="form-label">Statut</label>

      <select class="form-select" name="status" [(ngModel)]="news.status">

        <option value="draft">Brouillon</option>
        <option value="published">Publié</option>

      </select>
    </div>

    <button class="btn btn-success" type="submit" [disabled]="loading || f.invalid">
      Enregistrer
    </button>

    <button class="btn btn-secondary ms-2" routerLink="/admin/news">
      Annuler
    </button>

  </form>

</div>