img {
    width: 100%;
    /* or max-width: 100%; */
    height: auto;
    /* aspect-ratio: auto 600 / 250; */

}



a .btn.btn-transparent:hover {
    box-shadow: none !important;
    color: #82BC00;
    transform: scale(1.05);
}

/* a .btn.btn-transparent {
    border: 0;
    font-size: 1.5rem;
} */


button.btn-transparent {
    border: 0;
    font-size: 1rem !important;
}

.text-muted {
    font-size: 0.7rem;
}

.card {
    /* box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05); */
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: none;
}

.card-text a {
    font-size: 1rem !important;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

hr {
    color: #82BC00;
}

/* a button.btn.btn-transparent:hover {
    color: #B2BC00;
} */



/* 
.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
} */

/* .image-container::before {
    content: "";
    position: absolute;
    border-radius: 5px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(6, 6, 245);
    opacity: 0.4;
    z-index: 1;
} */

.image-container img {
    z-index: 2;
    /* Assurez-vous que l'image est au-dessus du pseudo-élément */
}


.loading {
    display: flex;
    /* background-color: black; */
    justify-content: center;
    align-items: center;
    height: 25vh;
    /* 25% de la hauteur de la fenêtre */
    width: 100%;
    /* Conserver le ratio 1:1 pour un cercle */
}


@media only screen and (max-width: 765px) {

    /* .image-container, .home{
        height: 40vw;
    } */
    .image-container img {
        width: 100%;
        object-fit: cover;
    }
}