a .btn.btn-transparent:hover {
    box-shadow: none !important;
    color: #82BC00;
}

a .btn.btn-transparent {
    border: 0;
}

.text-muted {
    font-size: 0.7rem;
}

.card {
    /* box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05); */
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

/* a button.btn.btn-transparent:hover {
    color: #B2BC00;
} */


.home {
    width: 100%;
    /* Ajuste automatiquement la largeur en fonction de la hauteur */
    height:20vw;
    /* Définit la hauteur en fonction de 30% de la largeur de la fenêtre */

    object-fit: cover;
    /* Tronque l'image pour qu'elle remplisse complètement le conteneur */
    object-position: center;
    /* Centre l'image dans le conteneur */
    /* filter: brightness(110%) saturate(100%); */
}

.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    /* Ajuste automatiquement la largeur en fonction de la hauteur */
    /* height: 20vw; */
    /* Définit la hauteur en fonction de 30% de la largeur de la fenêtre */
}

/* .image-container::before {
    content: "";
    position: absolute;
    border-radius: 5px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(6, 6, 245);
    opacity: 0.4;
    z-index: 1;
} */

.image-container img {
    z-index: 2;
    /* Assurez-vous que l'image est au-dessus du pseudo-élément */
}

@media only screen and (max-width: 750px) {

    .image-container, .home{
        height: 40vw;
    }
}