<div class="container pt-3">

    <!-- <h3>Home Page</h3> -->

    <!-- tests OK à voir pour campagnes notification -->
    <!-- <div class="alert bg-warning p-5" *ngIf="offline">Attention, vous êtes actuellement hor ligne</div>
    <div class="card my-3" *ngIf="newNotification">
        <div class="card-header">
            {{newNotification.title}}
        </div>
        <img class="card-img-top" src="{{newNotification.image}}" alt="{{newNotification.title}}">
        <div class="card-body">
            <p class="card-text">{{newNotification.body}}</p>
        </div>
    </div> -->
    <!-- fin tests de notification desktop -->



    <!-- test alert-dismissible for mission -->
    <ng-container *ngIf="!isOneQuizzAchieved; else yes">
        <div class="alert p-4 pe-5 bg-primary alert-dismissible text-white mb-4 fade show">
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"></button>
            <span class="d-inline h5">Testez-vous </span> grâce à des <h2 class="d-inline h5">questionnaires ciblés</h2>
            et<span class="d-inline h5"> commencez sans attendre</span> une <h1 class="d-inline h5">formation
                personnalisée</h1> pour <span class="d-inline h5">vous hisser aux portes</span> du métier de votre choix
        </div>
    </ng-container>
    <ng-template #yes>
        <div class="alert alert-light p-4 alert-dismissible mb-4 fade show">
            <!-- <button type="button" class="btn-close btn-close-light" data-bs-dismiss="alert"></button> -->
            <button type="button" class="btn-close btn-close" data-bs-dismiss="alert"></button>
            <!-- Vous pourrez aussi dès maintenant finaliser votre inscription administrative -->
            Retrouvez <span class="fw-bold">tous vos résultats</span> et <span class="fw-bold">vos estimations
                personnalisées</span> depuis <a [routerLink]="['/account']" class="text-decoration-none"> votre compte
                personnel</a>.
        </div>

    </ng-template>
    <!-- fin test alert-dismissible -->

    <!-- on introduit un champ de recherche -->
    <app-search *ngIf="tradesData && tradesData.length>4"
        (searchTextChanged)="onSearchTextEntered($event)"></app-search>

    <!-- Carousel -->
    <!-- <div id="demo" class="carousel slide mx-auto" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>

        <div class="carousel-inner mx-auto">
            <div class="carousel-item active">
                <div class="alert bg-primary text-white fade show text-center w-100 pb-5">
                    Mission : Text accroche 1 sur une ou deux lignes
                </div>
            </div>
            <div class="carousel-item">
                <div class="alert bg-primary text-white fade show text-center w-100 pb-5">
                    Mission : Text accroche 2 sur une ou deux lignes
                </div>
            </div>
            <div class="carousel-item">
                <div class="alert bg-primary text-white fade show text-center w-100 pb-5">
                    Mission : Text accroche 3 sur une ou deux lignes
                </div>
            </div>
        </div>
    </div> -->
    <!-- fin du caroussel -->


    <div *ngIf="tradesData" class="rounded row column-gap-1">

        <ng-container *ngFor="let trade of tradesData">

            <div class="col-md-6"
                *ngIf="searchText==='' || trade.denomination.includes(searchText) || removeAccents(trade.denomination).toLowerCase().includes(removeAccents(searchText).toLowerCase()) || trade.denomination.includes(searchText) || trade.denomination.toLowerCase().includes(searchText)">

                <!-- <a [routerLink]="['/quizz/',  trade.sigle, studentData && studentData['quizz_'+trade.sigle] && studentData['quizz_'+trade.sigle].lastIndexQuestion?(studentData['quizz_'+trade.sigle].lastIndexQuestion | number)+1:0, studentData && studentData['quizz_'+trade.sigle] && studentData['quizz_'+trade.sigle].scoreCounter?studentData['quizz_'+trade.sigle].scoreCounter:0, studentData && studentData['quizz_'+trade.sigle]?true:false, studentData && studentData.id?studentData.id:'']" class="text-decoration-none text-dark"> -->
                <div class="card my-3" (click)="selectTrade(trade.id)">
                    <div class="card-header text-capitalize">
                        <!-- essai à conserver !!! -->
                        <!-- <h2 class="h5 text-start ps-2" [innerHTML]="trade.denomination | firstWord"></h2> -->
                        <h2 class="h5 text-start ps-2" [innerHTML]="trade.denomination"></h2>
                    </div>

                    <div class="card-body">
                        <!-- <p class="card-text"><span class="fw-bold">Son sigle (référence métier) sur firestore : </span> : {{trade.sigle}}</p> -->
                        <!-- <img class="img-fluid rounded" [src]="trade.imageUrl" *ngIf="trade.imageUrl"> -->
                        <!-- <img class="img-fluid" [src]="trade.imageUrl || defaultImageUrl" *ngIf="trade.imageUrl"> -->

                        <!-- spinner essai -->
                        <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center mt-5">
                            <div class="spinner-border text-success" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <!-- fin spinner -->

                        <div class="image-container rounded mb-1 ">
                            <a [routerLink]="['/trade', trade.sigle]" class="text-decoration-none">
                                <img class="img-fluid rounded" [src]="trade.imageUrl" *ngIf="trade.imageUrl"
                                    loading="lazy" (load)="onImageLoad()">
                            </a>
                        </div>

                        <div class="card-text"><a [routerLink]="['/trade', trade.sigle]"
                                class="text-decoration-none fs-6">
                                {{(truncateText(trade.description, 230) )| stripHtml }} </a></div>

                        <!-- si on utilise l'éditeur de texte, pour récupérer le texte tronqué et brut -->
                        <!-- <div class="card-text"><a [routerLink]="['/trade', trade.sigle]" class="text-decoration-none" [innerHTML]="sanitizer.bypassSecurityTrustHtml((trade.description | slice:0:100) +'...')"></a></div> -->

                        <div *ngIf="isEditor" class="d-flex justify-content-end">
                            <hr>
                            <button class="btn btn-transparent"><i class="bi bi-pencil-square"></i>
                                Editer</button>
                        </div>

                        <!-- pour switcher d'un intitulé à un autre selon que studentData.tradeEvaluated && studentData.tradeEvaluated==trade.sigle -->

                        <ng-container *ngIf="studentData">
                            <hr>
                            <a [routerLink]="[
                    '/quizz/',
                    trade.sigle,studentData?.['quizz_'+trade.sigle]?((studentData?.['quizz_'+trade.sigle]?.lastIndexQuestion) + 1 | number):0,
                    ((studentData?.['quizz_'+trade.sigle]?.scoreCounter || 0 | number)),
                    studentData?.['quizz_'+trade.sigle] ? true : false,
                    studentData?.id ? studentData.id : ''
                  ]" class="text-decoration-none text-dark">

                                <div class="d-flex justify-content-end"
                                    *ngIf="(studentData && !studentData['quizz_'+trade.sigle])">
                                    <button class="btn btn-transparent"><i class="bi bi-clock-fill text-success"></i>
                                        Démarrer votre évaluation</button>
                                </div>


                                <div class="d-flex justify-content-end"
                                    *ngIf="studentData && studentData['quizz_'+trade.sigle] && !studentData['quizz_'+trade.sigle].fullResults">

                                    <button class="btn btn-transparent"><i class="bi bi-clock-history fw-bold"></i>
                                        <!-- Reprendre à la question {{studentData.lastIndexQuestion+1}}</button></div> -->
                                        Poursuivre</button>
                                </div>
                            </a>

                            <div class="d-flex justify-content-end" *ngIf="checkQuizzCondition(trade)">
                                <div class="btn btn-transparent border-0">
                                    <i class="bi bi-check-square-fill text-success"></i>
                                    Votre évaluation est terminée
                                </div>
                            </div>
                        </ng-container>

                    </div>
                    <div class="card-footer text-muted">Réf.: {{trade.sigle}}
                        <ng-container *ngIf="studentData && studentData['quizz_'+trade.sigle]">
                            - Score: {{ studentData['quizz_'+trade.sigle].scoreCounter | json }} PNTS
                        </ng-container>
                    </div>
                </div>
            </div>

        </ng-container>
    </div>
</div>