img {
    width: 100%;
    /* or max-width: 100%; */
    height: auto;
    /* aspect-ratio: auto 600 / 250; */

}

.h5 {
    width: -moz-fit-content;
    /* Pour les anciennes versions de Firefox */
    width: -webkit-fit-content;
    /* Préfixe pour d'autres anciens navigateurs WebKit */
    width: fit-content;
    /* Valeur standard pour les navigateurs modernes */
    font-size: 1.18rem;

}

h2 {
    padding-top: 5px;
    position: relative;

}

h2:before {
    position: absolute;
    content: "";
    background-color: #82BC00;
    /* background-color: #0062fe; */
    height: 1.5px;
    width: 0;
    /* Initial width */
    bottom: -7px;
    left: 5px;
    /* Align to the left */
    transition: width 0.3s ease-in-out;
    /* Transition effect */
}

.card:hover h2::before {
    width: 95%;
    /* Final width on hover of .card */
}


.card-header:hover {
    cursor: pointer !important;
}

a .btn.btn-transparent:hover {
    box-shadow: none !important;
    color: #82BC00;
    transform: scale(1.05);
}

/* pour éviter l'effet hover sur h3 dans l'hypothèse groupCat */
.card h3{
    text-align: left;
    margin-left: 0;
    padding-left: 0;
}
.card h3::before {
    height:0;
}
.card h3:hover {
    color: #82BC00;
    cursor:pointer;
}

/* a .btn.btn-transparent {
    border: 0;
    font-size: 1.5rem;
} */


button.btn-transparent {
    border: 0;
    font-size: 1rem !important;
}

.text-muted {
    font-size: 0.7rem;
}

.card {
    /* box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05); */
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: none;
}

.card.category:hover {
    transform: scale(1);
    box-shadow: 0;
}


.card-text a {
    font-size: 1rem !important;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.btn-primary:hover {
    
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

hr {
    color: #82BC00;
}

/* a button.btn.btn-transparent:hover {
    color: #B2BC00;
} */



/* 
.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
} */

/* .image-container::before {
    content: "";
    position: absolute;
    border-radius: 5px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(6, 6, 245);
    opacity: 0.4;
    z-index: 1;
} */

.image-container img {
    z-index: 2;
    /* Assurez-vous que l'image est au-dessus du pseudo-élément */
}

.loading {
    display: flex;
    /* background-color: black; */
    justify-content: center;
    align-items: center;
    height: 25vh;
    /* 25% de la hauteur de la fenêtre */
    width: 100%;
    /* Conserver le ratio 1:1 pour un cercle */
}








/* Pour les navigateurs modernes qui supportent le standard */
/* .card-text {

        display: block;                     
        overflow: hidden;                  
        text-overflow: ellipsis;           
        line-height: 1.2;                   
        max-height: calc(1.4em * 2);     
        overflow-wrap: break-word;          
        white-space: normal;               
        width: 100%;                        
    
    
 
} */
.card-text {
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Propriété spécifique à WebKit */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      
        /* Ajoute la version standard, en anticipation de la prise en charge future */
        line-clamp: 3; /* Propriété standard */
        
        /* Fallback pour les navigateurs non compatibles */
        max-height: 4.5em; /* Pour limiter le nombre de lignes visuellement */
        line-height: 1.4em; /* Ajustement selon la taille de la ligne */    
    
 
}

.card>div.card-body a{
    color: var(--text-primary-plus);
    
}


/* .marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.marquee-content {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 20s linear infinite;

}

.marquee-content span {
    display: inline-block;
    margin-right: 30px;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
} */

/* .alert.bg-warning a{
    color: black;
    text-decoration: underline!important;
  } */


@media only screen and (max-width: 765px) {

    .image-container img {
        width: 100%;
        object-fit: cover;
    }
}

