p.card-text {
    font-size: 1rem !important;
}

.perso {
    background-color: #82BC00 !important;
}


.text-success {
    color: #0062fe;
    opacity: 60 !important;

}

.text-primary.fs-6.p-0 {
    line-height: 0;
}

.form-check-input.level1{
    background-color: #E21937;
  }
  .form-check-input.level2{
    background-color: #fcb311;
  }
  .form-check-input.level3{
    background-color:#82BC00;
  }
  .form-check-input.level4{
    background-color: #0062fe;
  }
  .form-check-input:disabled{
    opacity: 80;
  }

.form-check-input:disabled {
    opacity: 80;
}

.level1,
.level2,
.level3,
.level4 {
    font-weight: 500 !important;
    font-size: 1rem;
    text-transform: capitalize;
}

.level1 {
    border-bottom: 1px solid #E21937;
  
  }
  
  .level2 {
    border-bottom: 1px solid #fcb311;
  }
  
  .level3 {
    border-bottom: 1px solid #82BC00;
  
  }
  
  .level4 {
    border-bottom: 1px solid #0062fe;
  }

button:disabled,
.btn.btn-success.disabled {
    margin-top: 2rem;
    border: 0;
    opacity: 50%!important;
}