<div class="container py-5">

    <h3>Votre compte BE-ON-TOP</h3>

    <p class="alert bg-primary text-light p-2 my-3 fs-4 fw-light ">Bonjour {{userData.firstName}}, ceci est votre compte
        BE-ON-TOP</p>

    <div class="p-2 fs-3">Les données ci-dessous ont été récupérées grâce à vos données d'authentification</div>

    <div *ngIf="user" class="alert bg-light p-2">
        Id Utilisateur authentifié sur firebase Auth : {{user | json}}
    </div>

    <!-- <p class="alert bg-light p-2"> authStatus!==0 : {{authStatus!==0}}</p> -->
    <!-- ne fonctionne pas, mais on s'en tape -->
    <div *ngIf="authStatus">{{authStatus}}</div>
    <!-- <p class="alert bg-success p-2"> user test OK : {{user | json}}</p> -->
    <!-- <p class="alert bg-success p-2"> userData test OK : {{userData | json}}</p> -->
    <!-- <div *ngIf="userData" class="rounded bg-light p-2">
        <ul class="list-group">
            <li class="list-group-item">Son id sur firestore : {{userData.id}}</li>
            <li class="list-group-item">Votre email sur firestore : {{userData.email}}</li>
            <li class="list-group-item">Votre status sur firestore : {{userData.status}}</li>
            <li class="list-group-item">Prénom sur firestore : {{userData.firstName}}</li>
            <li class="list-group-item">Nom sur firestore : {{userData.lastName}}</li>
            <li class="list-group-item">Date d'enregistrement sur firestore : {{userData.created | date:'dd/MM/yyyy' }}</li>
            <li *ngIf="userData.sigle" class="list-group-item">Sigle métier si existant: {{userData.sigle}}</li>
        </ul>
    </div> -->

    <!-- à faire -->
    <div id="accordion">

        <div class="card" *ngIf="userData">
            <div class="card-header bg-dark d-flex justify-content-between">
                <a class="btn text-light text-capitalize" data-bs-toggle="collapse" href="#collapseOne">
                    Vos données personnelles
                </a><i class="bi bi-person-fill fs-4 text-light"></i>
            </div>

            <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                <div class="card-body">
                    <div class="rounded p-2" id="actual" #actual>
                        <ul class="list-group">
                            <!-- <li class="list-group-item"><span class="fw-bolder">Son id sur firestore :</span>  {{userData.id}}</li> -->
                            <li class="list-group-item"><span class="fw-bolder">Votre email sur firestore :</span>
                                {{userData.email}}</li>
                            <!-- <li class="list-group-item"><span class="fw-bolder">Votre status sur firestore :</span> {{userData.status}}</li> -->
                            <li class="list-group-item"><span class="fw-bolder">Prénom sur firestore :</span>
                                {{userData.firstName}}</li>
                            <li class="list-group-item"><span class="fw-bolder">Nom sur firestore :</span>
                                {{userData.lastName}}</li>
                            <li class="list-group-item"><span class="fw-bolder">Date d'enregistrement sur firestore
                                    :</span> {{userData.created | date:'dd/MM/yyyy' }}</li>
                            <li *ngIf="userData.sigle" class="list-group-item">Sigle métier si existant:
                                {{userData.sigle}}</li>
                        </ul>

                        <!-- option avec déroulé -->
                        <div class="d-flex gap-1">
                            <button class="btn bg-dark mt-3 text-light" data-bs-toggle="collapse"
                                data-bs-target="#demo">
                                <i class="bi bi-pencil-square text-light p-0"></i><span
                                    (click)="toogleText()">{{editButtonLabel}}</span>
                            </button>
                            <!-- ajout d'un bouton supprimer -->
                            <button class="btn bg-danger mt-3 text-light" (click)="delete()">
                                Supprimer
                            </button>
                        </div>
                        <div id="demo" class="collapse">
                            <app-update-account [student]="userData"></app-update-account>
                        </div>

                        <!-- option édition avec modale -->
                        <!-- <button class="btn bg-dark mt-3 text-light" data-bs-toggle="modal" data-bs-target="#myModal">
                            <i class="bi bi-pencil-square text-light p-0"></i>Modifier
                        </button>
                        <div class="modal" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Modification</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <app-update-account class="modal-body" [student]="userData"></app-update-account>
                                </div>
                            </div>
                        </div> -->
                        <!-- fin de l'option édition avec modale -->
                    </div>

                </div>

            </div>
            <div class="card">
                <div class="card-header bg-dark d-flex justify-content-between">
                    <a class="collapsed btn text-light text-capitalize" data-bs-toggle="collapse" href="#collapseTwo">
                        Votre suivi pédagogique
                    </a><i class="bi bi-clipboard-data-fill fs-4 text-light"></i>
                </div>
                <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <div class="rounded p-2">
                            <ul class="list-group">
                                <!-- <li class="list-group-item"><span class="fw-bolder">Son id sur firestore :</span>  {{userData.id}}</li> -->
                                <li class="list-group-item"><span class="fw-bolder">Votre formateur référent
                                        :</span>
                                    {{userData.trainer}}</li>
                                <!-- si y a déjà des enregistrements datés des évaluations de suivi pédagogique, on bouclera dessus -->
                                <ng-container *ngIf="evaluations; else noEvaluation">
                                    <li class="list-group-item">
                                        <ng-container *ngFor="let evaluation of evaluations | keyvalue">
                                            <p><span class="fw-bold">Objet : </span>{{evaluation.value.subject}}</p>
                                            <p>{{evaluation.value.details}}</p>
                                            <p><span class="fw-bold">Date : </span>{{evaluation.value.date}}</p>
                                        </ng-container>
                                        <!-- {{userData.evaluations | json}} -->
                                    </li>
                                </ng-container>
                                <!-- si aucune évaluation de suivi jusqu'ici, on le mentionne -->
                                <ng-template #noEvaluation>
                                    <li class="list-group-item">
                                        <span class="fw-bolder">Pas de suivi consultable pour le moment</span>
                                    </li>
                                </ng-template>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-dark d-flex justify-content-between">
                    <a class="collapsed btn text-light text-capitalize" data-bs-toggle="collapse" href="#collapseThree">
                        Votre positionnement
                    </a><i class="bi bi-bar-chart-steps fs-4 text-light"></i>
                </div>
                <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">

                        <!-- {{tradesEvaluated}} -->

                        <!-- nouveauté pour multi quizz VERSION 2 -->

                        <div *ngIf="userData && tradesEvaluated.length>0; else none">
                            <!-- comme on ne questionnera plus tradeEvaluated mais tradesEvaluated [], on va devoir, avant d'inspecter la suite des ngIf, avoir une boucle ngFor pour voir métier après métier...  -->
                            <!-- attention, compte tenu de la manière dont tradesEvaluated a été généré, trade ici, c'est une chaine de caractère type quizz_sigle -->
                            <div *ngFor="let trade of tradesEvaluated, let last=last">
                                <!-- {{userData | json}} {{userData[trade].fullResults | json}} -->
                                <p class="card-text">Métier concerné : <span class="fw-bold">{{trade}}</span></p>
                                <!-- Partie 1 si QCM en cours -->
                                <!-- <div *ngIf="userData.lastIndexQuestions[trade]<2, else done"> -->
                                <div *ngIf="!userData[trade].fullResults, else done">
                                    <p class="card-text">Vous avez répondu à
                                        <span class="fw-bold">{{userData[trade].lastIndexQuestion +1 | number}}
                                            Questions</span>
                                    </p>

                                    <button class="btn bg-primary pe-5 d-flex align-items-center"><a class="text-light"
                                            [routerLink]="['/quizz/', trade.slice(6), userData[trade].lastIndexQuestion +1 | number, userData[trade].scoreCounter,true, user]"><i
                                                class="bi fs-5 bi-clock-history"></i>
                                            Poursuivre</a>
                                    </button>

                                </div>

                                <!-- Partie 2 si QCM terminé -->
                                <!-- Il semble que la directive keyvalue provoque des problèmes lorsqu'elle est utilisée dans une boucle *ngFor. 
                                    Pour contourner ce problème, on peut utiliser la fonction créée Object.entries() pour obtenir les clés et valeurs de result.value. -->
                                <ng-template #done class="mb-3">
                                    <p class="card-text fw-bold">QCM de positionnement terminé !</p>
                                    <p class="card-text fw-bold text-decoration-underline">Votre estimation personnalisée :</p>
                                    <!-- pour afficher les lignes du devis (contenu de fullResults) si et seulement si le QCM est terminé -->
                                    <div class="card-text mb-0"
                                        *ngFor="let result of userData[trade].fullResults | keyvalue, let lastResult=last">
                                        <ng-container *ngFor="let item of objectEntries(result.value)">
                                            <div class="d-flex align-items-center">
                                                <span class="fw-bold">{{ item[0] }}</span>
                                                <i class="bi fs-4 bi-arrow-right-short"></i>
                                                <span>{{ item[1].duration }} jours - Coût : {{ item[1].cost }} € - Pour une note de {{ item[1].notation | json | number:'1.1-1' }}/20</span>
                                            </div>
                                            <hr *ngIf="!lastResult">
                                        </ng-container>
                                    </div>
                                </ng-template>

                                <!-- Affichez le hr sauf dans la dernière itération -->
                                <hr *ngIf="!last">
                            </div>

                            <!-- fin boucle supplémentaire pour ngFor avec les options de multi-quizz -->

                        </div>

                        <ng-template #none> <span>Aucun QCM en cours</span>
                        </ng-template>
                    </div>
                </div>
            </div>

            <!-- bouton d'accès au formulaire de préinscription administrative -->
            <div class="card" *ngIf="isOneQuizzAchieved==true">
                <div class="card-header bg-dark d-flex justify-content-between">
                    <a class="collapsed btn text-light text-capitalize" data-bs-toggle="collapse" href="#collapseFor">
                        Inscription Formation
                    </a><i class="bi bi-info-square-fill fs-4 text-light"></i>
                </div>
                <div id="collapseFor" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <p class="card-text" *ngIf="userData.scoreCounter">Félicitation ! Vous êtes parvenu(e) à la fin
                            du questionnaire de positionnement.
                        </p>
                        <p class="card-text" *ngIf="userData.scoreCounter">Pour faciliter votre inscription et votre
                            prise en
                            charge, nous vous invitons à remplir le formulaire ci-dessous...
                        </p>
                        <button class="btn bg-primary"><a class="text-light" [routerLink]="['/socialregistration']">
                                Formulaire de pré-inscription</a>
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <!-- fin collapse -->
        <button type="submit" class="btn btn-primary mt-4" (click)="notifyMe()">Accepter les
            notifications</button>
    </div>