p.card-text{
    font-size: 1rem !important;
}

.perso{
    background-color: #82BC00 !important;
}

.cp{
    border-color: #82BC00 !important;
}

.text-success{
    color: #0062fe;
    opacity: 60!important;

}