<div class="container py-5">

    <!-- {{arrayFilesToUpdate | json}} -->
    {{allMediasResponses | json}}

    all mediaQuestions :{{allMediasQuestions | json}}

    <h3 *ngIf="result">Mise à jour de la question {{result.number}} <span class="d-block fs-6 mt-1">id : {{questionId}}</span> </h3>
    <hr>

    <form class="form" #f="ngForm" (submit)="updateForm(f)" class="was-validated">
        <div class="form-group row justify-content-between">
            <!-- rappel du numéro de question -->
            <!-- version initiale disabled pour éviter les problèmes en base  -->
            <!-- <div class="col-sm-2 mb-1">
                <select class="form-select disabled" id="number" name="number" [(ngModel)]="result.number"
                    #number="ngModel">
                    <option selected="selected" value="{{result.number}}" disabled>N°: {{result.number}}</option>
                </select>
            </div> -->
            <div class="col-md-2 mb-1">
                <select class="form-select" id="number" name="number" [(ngModel)]="result.number" required
                    #number="ngModel">
                    <option selected="selected" value="{{result.number}}">{{result.number}}</option>
                    <option *ngFor="let element of numbers" value="{{element}}">N°: {{element}}</option>
                </select>
            </div>

            <!-- rappel du nombre de point attribué ou score associé -->
            <div class="col-md-3 d-flex mb-1" *ngIf="result.notation">
                <select class="form-select" name="notation" id="notation" [(ngModel)]="result.notation" required
                    #notation="ngModel">
                    <option *ngFor="let notation of notations" value="{{notation}}">Points attribués: {{notation}}PNTS
                    </option>
                </select>
            </div>
            <!-- rappel du sigle métier -->
            <div class="col-md-3 mb-1">
                <select class="form-select disabled" id="sigle" name="sigle" [(ngModel)]="result.sigle"
                    #category="ngModel">
                    <option selected="selected" value="{{result.sigle}}" disabled>Métier: {{result.sigle}}
                    </option>
                </select>
            </div>
            <!-- rappel de la compétence associée -->
            <div class="col-md-4 mb-1">
                <select class="form-select disabled" id="competence" name="competence" [(ngModel)]="result.competence"
                    #competence="ngModel">
                    <option selected="selected" value="{{result.competence}}" disabled>CP {{result.competence}}
                    </option>
                </select>
            </div>
        </div>

        <!-- <div class="alert alert-danger">allMediasResponses : {{allMediasResponses | json}}</div> -->

        <label for="question" class="form-label mt-3">Question</label>
        <input type="text" id="question" [(ngModel)]="result.question" name="question" class="form-control"
            placeholder="Question" value="question" required #question="ngModel">
        <div class="valid-feedback" *ngIf="question.valid">Champ correctement renseigné</div>

        <div *ngIf="allMediasQuestions && allMediasQuestions.length!==0 || isActive===true"
            [ngClass]="{'d-none':isActive===false}">
            <!-- <p>modifier le média</p> -->
            <!-- {{allMediasQuestions | json}} -->
            <div class="bg-light rounded rounded mb-3" *ngFor="let item of allMediasQuestions">
                <!-- {{mediaQuestion | json}} -->
                <div class="w-100 bg-secondary p-2 rounded">
                    <!-- si fichier de type video / sinon utiliser le template pour l'image  -->
                    <video *ngIf="result.isVideo==true; else image" class="video">
                        <source [src]="item" type="video/mp4">
                        Your browser does not support HTML video.
                    </video>
                    <ng-template #image><img class="img-fluid mb-2 w-100" [ngClass]="{'d-none':isActive===false}"
                            [src]="item"></ng-template>

                    <!-- pour englober cas de modification et de reset sur question -->
                    <div class="alert alert-info">image : modification</div>
                    <div class="d-flex gap-2 justify-content-between">
                        <input type="text" [ngModel]="result.mediaQuestion"
                            name="mediaQuestion" class="disabled invisible" #mediaQuestion>
                        <input type="file" accept="image/*, video/*" 
                            class="form-control" 
                            (change)="detectFiles($event, mediaQuestion, item)">
                        <button type="button" class="btn btn-danger w-25"
                            (click)="resetFileInput('mediaQuestion', f, item)">Reset</button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!allMediasQuestions || allMediasQuestions.length===0 || isActive==false">
            <!-- pour englober cas d'ajout et de reset sur question -->
            <div class="alert alert-info">image : ajout</div>
            <div class="d-flex gap-2 justify-content-between">
                <input type="file" accept="image/*, video/*" id="mediaQuestion" ngModel name="mediaQuestion"
                    class="form-control" #mediaQuestion="ngModel" placeholder="Fichier média actuel"
                    (change)="detectNewFiles($event, mediaQuestion)">
                <button type="button" class="btn btn-danger w-25"
                    (click)="resetFileInput('mediaQuestion', f, '')">Reset</button>
            </div>
        </div>

        <!-- fin allMediasQuestions -->

        <hr>
        <!-- réponse 1 -->
        <label for="option1" class="form-label mt-3">Réponse 1 * </label>
        <input type="text" id="option1" name="option1" [(ngModel)]="result.option1" class="form-control"
            #option1="ngModel" placeholder="Option de réponse 1" required>
        <div class="valid-feedback" *ngIf="option1.valid">Champ correctement renseigné</div>
        <div class="alert alert-danger">result.mediaOption1: {{result.mediaOption1}}</div>
        <div
            *ngIf="allMediasResponses && allMediasResponses.length!==0 && lookForKeyContent(allMediasResponses, 'mediaOption1').length!==0 && isActive1===true, else createOption1">
            <div class="alert alert-info">image : modification</div>
            <div *ngFor="let item of allMediasResponses">
                <div *ngIf="item.includes('Option1')" class="w-100 bg-secondary p-2 rounded">
                    <img class="img-fluid mb-2 w-100" [src]="item">
                    <!-- <label class="form-label mt-3" for="mediaOption1">Fichier à modifier</label> -->
                    <!-- pour englober la modification et le reset -->
                    <div class="d-flex gap-2 justify-content-between">
                        <input type="text" [ngModel]="result.mediaOption1"
                        name="mediaOption1" class="disabled invisible" #mediaOption1>
                        <input type="file" class="form-control w-75" placeholder="Fichier média de votre choix"
                            (change)="detectFiles($event, mediaOption1, item)">
                        <button type="button" class="btn btn-danger w-25"
                            (click)="resetFileInput('mediaOption1', f, item)">Reset</button>
                    </div>
                    <div class="bg-light rounded p-3 fst-italic mt-2 smaller overflow-wrap">Nom du fichier en base à modifier:
                        {{item | decodeURIComponent}}</div>
                </div>
            </div>
        </div>
        <ng-template #createOption1>
            <div class="alert alert-info">image : ajout</div>
            <!-- pour englober l'ajout et le reset -->
            <div class="d-flex gap-2 justify-content-between">
                <input type="file" accept="image/*, video/*" id="mediaOption1" ngModel name="mediaOption1"
                    class="form-control w-75" #mediaOption1="ngModel" (change)="detectNewFiles($event, mediaOption1)">
                <button type="button" class="btn btn-danger w-25"
                    (click)="resetFileInput('mediaOption1', f, '')">Reset</button>
            </div>
        </ng-template>

        <label for="comment1" class="form-label mt-3">Commentaire</label>
        <textarea id="comment1" [(ngModel)]="result.comment1" name="comment1" class="form-control" #comment1="ngModel"
            placeholder="Commentaire si besoin" cols="30" rows="5"></textarea>
        <div class="form-group d-flex gap-5 mt-3">
            <div class="form-check">
                <input type="radio" class="form-check-input" name="optScoring1" [value]="true"
                    [(ngModel)]="result.optScoring1" [checked]="result.optScoring1" required>Vraie
                <!-- <label class="form-check-label" for="radio1"></label> -->
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" name="optScoring1" [value]="false"
                    [(ngModel)]="result.optScoring1" [checked]="result.optScoring1" required>Fausse
            </div>
        </div>

        <hr>
        <!-- réponse 2 -->
        <label for="option2" class="form-label mt-3">Réponse 2 * </label>
        <input type="text" id="option2" name="option2" [(ngModel)]="result.option2" class="form-control"
            #option2="ngModel" placeholder="Option de réponse 2" required>
        <div class="valid-feedback mb-2" *ngIf="option2.valid">Champ correctement renseigné</div>
        <div class="alert alert-danger">result.mediaOption2: {{result.mediaOption2}}</div>

        <div
            *ngIf="allMediasResponses && allMediasResponses.length!==0 && lookForKeyContent(allMediasResponses, 'mediaOption2').length!==0 && isActive2===true, else createOption2">
            <div class="alert alert-info">image : modification</div>

            <div *ngFor="let item of allMediasResponses">
                <div *ngIf="item.includes('Option2')" class="w-100 bg-secondary p-2 rounded">
                    <img class="img-fluid mb-2 w-100" [src]="item">
                    <!-- <label class="form-label mt-3" for="mediaOption2">Fichier à modifier</label> -->
                    <!-- pour englober la modification et le reset -->
                    <div class="d-flex gap-2 justify-content-between">
                        <input type="text" [ngModel]="result.mediaOption2"
                        name="mediaOption2" class="disabled invisible" #mediaOption2>                        
                        <input type="file"  class="form-control w-75" placeholder="Fichier média de votre choix"
                            (change)="detectFiles($event, mediaOption2, item)">
                        <button type="button" class="btn btn-danger w-25"
                            (click)="resetFileInput('mediaOption2', f, item)">Reset</button>
                    </div>
                    <div class="bg-light rounded p-3 fst-italic mt-2 smaller overflow-wrap">Nom du fichier en base à modifier:
                        {{item | decodeURIComponent}}</div>
                </div>
            </div>
        </div>

        <ng-template #createOption2>
            <div class="alert alert-info">image : ajout</div>
            <!-- pour englober l'ajout et le reset -->
            <div class="d-flex gap-2 justify-content-between">
                <input type="file" accept="image/*, video/*" id="mediaOption2" ngModel name="mediaOption2"
                    class="form-control w-75" #mediaOption2="ngModel" (change)="detectNewFiles($event, mediaOption2)">
                <button type="button" class="btn btn-danger w-25"
                    (click)="resetFileInput('mediaOption2', f, '')">Reset</button>
            </div>
        </ng-template>

        <label for="comment2" class="form-label mt-3">Commentaire</label>
        <textarea id="comment2" [(ngModel)]="result.comment2" name="comment2" class="form-control" #comment2="ngModel"
            placeholder="Commentaire si besoin" cols="30" rows="5"></textarea>
        <div class="form-group d-flex gap-5 mt-3">
            <div class="form-check">
                <input type="radio" class="form-check-input" name="optScoring2" [value]="true"
                    [(ngModel)]="result.optScoring2" [checked]="result.optScoring2" required>Vraie
                <!-- <label class="form-check-label" for="radio2"></label> -->
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" name="optScoring2" [value]="false"
                    [(ngModel)]="result.optScoring2" [checked]="result.optScoring2" required>Fausse
            </div>
        </div>
        <hr>
        <!-- réponse 3 -->
        <label for="option3" class="form-label mt-3">Réponse 3 * </label>
        <input type="text" id="option3" name="option3" [(ngModel)]="result.option3" class="form-control mb-3"
            #option3="ngModel" placeholder="Option de réponse 3" [required]="isRequiredOption3">
        <!-- <div class="valid-feedback" *ngIf="option3.valid">Champ correctement renseigné</div> -->
        <div class="alert alert-danger">result.mediaOption3: {{result.mediaOption3}}</div>

        <div
            *ngIf="allMediasResponses && allMediasResponses.length!==0 && lookForKeyContent(allMediasResponses, 'mediaOption3').length!==0 && isActive3===true,  else createOption3">
            <div class="alert alert-info">image : modification</div>
            <div *ngFor="let item of allMediasResponses">
                <div *ngIf="item.includes('Option3')" class="w-100 bg-secondary p-2 rounded">
                    <img class="img-fluid mb-2 w-100" [src]="item">
                    <!-- <label class="form-label mt-3" for="mediaOption3">Fichier à modifier</label> -->
                    <!-- pour englober la modification et le reset -->
                    <div class="d-flex gap-2 justify-content-between">
                        <input type="text" [ngModel]="result.mediaOption3"
                        name="mediaOption3" class="disabled invisible" #mediaOption3>   
                        <input type="file" class="form-control w-75" placeholder="Fichier média de votre choix"
                            (change)="detectFiles($event, mediaOption3, item)">
                        <button type="button" class="btn btn-danger w-25"
                            (click)="resetFileInput('mediaOption3', f, item)">Reset</button>
                    </div>
                    <div class="bg-light rounded p-3 fst-italic mt-2 smaller overflow-wrap">Nom du fichier en base à modifier:
                        {{item | decodeURIComponent}}</div>
                </div>
            </div>
        </div>

        <ng-template #createOption3>
            <div class="alert alert-info">image : ajout </div>
            <!-- pour englober l'ajout' et le reset -->
            <div class="d-flex gap-2 justify-content-between">
                <input type="file" accept="image/*, video/*" id="mediaOption3" ngModel name="mediaOption3"
                    class="form-control w-75" #mediaOption3="ngModel"
                    (change)="detectNewFiles($event, mediaOption3, 'mediaOption3')">
                <button type="button" class="btn btn-danger w-25"
                    (click)="resetFileInput('mediaOption3', f, '')">Reset</button>
            </div>
        </ng-template>

        <label for="comment3" class="form-label mt-3">Commentaire</label>
        <textarea id="comment3" [(ngModel)]="result.comment3" name="comment3" class="form-control" #comment3="ngModel"
            placeholder="Commentaire si besoin" cols="30" rows="5"></textarea>
        <div class="form-group d-flex gap-5 mt-3">
            <div class="form-check">
                <input type="radio" class="form-check-input" name="optScoring3" [value]="true" [(ngModel)]="optScoring3"
                    [checked]="result.optScoring3" [required]="f.value.option3!=''">Vraie
                <!-- <label class="form-check-label" for="radio3"></label> -->
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" name="optScoring3" [value]="false"
                    [(ngModel)]="optScoring3" [checked]="result.optScoring3" [required]="f.value.option3!=''">Fausse
            </div>
        </div>

        <hr>
        <!-- réponse 4 -->
        <label for="option4" class="form-label mt-3">Réponse 4 * </label>
        <input type="text" id="option4" name="option4" [(ngModel)]="result.option4" class="form-control mb-3"
            #option4="ngModel" [required]="isRequiredOption4" placeholder="Option de réponse 4">
        <!-- <div class="valid-feedback" *ngIf="option4.valid">Champ correctement renseigné</div> -->
        <!-- {{allMediasResponses | json}} -->
        <div class="alert alert-danger">result.mediaOption4 : {{result.mediaOption4}}</div>
        <div
            *ngIf="allMediasResponses && allMediasResponses.length!==0 && lookForKeyContent(allMediasResponses, 'mediaOption4').length!==0 && isActive4===true, else createOption4">
            <div class="alert alert-info">image : modification</div>
            <div *ngFor="let item of allMediasResponses">
                <div *ngIf="item.includes('Option4')" class="w-100 bg-secondary p-2 rounded">
                    <img class="img-fluid mb-2 w-100" [src]="item">
                    <!-- <label class="form-label mt-3" for="mediaOption4">Fichier à modifier</label> -->
                    <!-- pour englober la modifiction et le reset -->
                    <div class="d-flex gap-2 justify-content-between">
                        <input type="text" [ngModel]="result.mediaOption4"
                        name="mediaOption4" class="disabled invisible" #mediaOption4>   
                        <input type="file" class="form-control" placeholder="Fichier média de votre choix"
                            (change)="detectFiles($event, mediaOption4, item)">
                        <button type="button" class="btn btn-danger w-25"
                            (click)="resetFileInput('mediaOption4', f, item)">Reset</button>
                    </div>
                    <div class="bg-light rounded p-3 fst-italic mt-2 smaller overflow-wrap">Nom du fichier en base à modifier:
                        {{item | decodeURIComponent}}</div>
                </div>
            </div>
        </div>
        <ng-template #createOption4>
            <div class="alert alert-info">image : ajout</div>
            <!-- pour englober l'ajout et le reset -->
            <div class="d-flex gap-2 justify-content-between">
                <input type="file" accept="image/*, video/*" id="mediaOption4" ngModel name="mediaOption4"
                    class="form-control w-75" #mediaOption4="ngModel"
                    (change)="detectNewFiles($event, mediaOption4, 'mediaOption4')">
                <button type="button" class="btn btn-danger w-25"
                    (click)="resetFileInput('mediaOption4', f, '')">Reset</button>
            </div>
        </ng-template>

        <label for="comment4" class="form-label mt-3">Commentaire</label>
        <textarea id="comment4" [(ngModel)]="result.comment4" name="comment4" class="form-control" #comment4="ngModel"
            placeholder="Commentaire si besoin" cols="30" rows="5"></textarea>
        <div class="form-group d-flex gap-5 mt-3">
            <div class="form-check">
                <input type="radio" class="form-check-input" name="optScoring4" [value]="true" [(ngModel)]="optScoring4"
                    [checked]="result.optScoring4" [required]="f.value.option4!=''">Vraie
                <!-- <label class="form-check-label" for="radio4"></label> -->
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" name="optScoring4" [value]="false"
                    [(ngModel)]="optScoring4" [checked]="result.optScoring4" [required]="f.value.option4!=''">Fausse
            </div>
        </div>

        <hr>

        <button type="submit" id="submit" class="btn btn-primary mt-3"
            [ngClass]="{'disabled':f.invalid}">Valider</button>

    </form>


</div>