<div class="container py-5">

    <h3>Inscription Utilisateur</h3>

    <form #studentForm="ngForm" class="mt-4" (submit)="addStudent(studentForm)" class="was-validated">

        <div class="form-group">
          <label for="lastname">Nom de l'étudiant</label>
          <input type="text" id="lastname" name="lastname" ngModel #lastname="ngModel" class="form-control" 
            (keyup)="validateField(lastname)" required>
            <div
            *ngIf="lastname.dirty || (lastname.touched && lastname.invalid)"
            class="invalid-feedback">
            Veuillez fournir un nom valide.
          </div>
          <div *ngIf="lastname.valid" class="validfeedback">
            Nom valide.
          </div>
        </div>
  
        <div class="form-group">
          <label for="firstname">Prénom</label>
          <input type="text" id="firstname" name="firstname" ngModel class="form-control" #firstname="ngModel"
            (keyup)="validateField(firstname)" required>
          <div
            *ngIf="(firstname.invalid && firstname.dirty) || (firstname.touched && firstname.invalid)"
            class="invalid-feedback">
            Veuillez fournir un prénom valide.
          </div>
          <div *ngIf="firstname.valid" class="valid-feedback">
            Prénom valide.
          </div>
        </div>
  
        <div class="form-group">
          <label for="studentMail">Email</label>
          <input type="email" id="studentMail" name="email" ngModel class="form-control" #mail="ngModel"
            (keyup)="validateEmail(mail.value)" required>  
            <div *ngIf="mail.touched && mail.invalid" class="invalid-feedback">
              Veuillez fournir un E-mail valide.
          </div>  
          <div *ngIf="mail.dirty && validateEmail(mail.value)" class="valid-feedback">
            E-mail valide.
          </div>
        </div>
  
        <div class="form-group">
          <label for="studentPw">Password</label>
          <div class="input-group">
            <!-- Must be 6 to 15 characters, include at least one lowercase letter, one uppercase letter and at least one number. It should also contain no spaces. -->
            <!-- https://stackoverflow.com/questions/19048016/password-regex-validation-preventing-spaces -->

            <input type="{{ showPassword ? 'text' : 'password' }}" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)\S{6,15}$" id="studentPw" name="studentPw" ngModel
              class="form-control" minlength="6" #studentPw="ngModel" required>
            <i class="input-group-text bi-eye">Afficher</i>
          </div>
          <div *ngIf="studentPw.invalid && (studentPw.dirty || studentPw.touched)" class="invalid-feedback">
            Veuillez fournir un password valide.
          </div>
          <div *ngIf="studentPw.valid" class="valid-feedback">
            Password valide.
          </div>
        </div>
  
        <button type="submit" class="btn btn-primary mt-4">S'inscrire</button>
      </form>

</div>