.was-validated .form-control:valid, .form-control.is-valid {
    background-image: none;
  }

  .rounded-top-right-bottom {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

