<!-- <h2>Politique de Confidentialité et Charte RGPD</h2> -->
<div class="container pt-3">
    <p>Notre politique de confidentialité est conforme au Règlement Général sur la Protection des Données
        (RGPD) 2016/679 du 27 avril 2016 de l'Union européenne. Nous nous engageons à respecter les principes de transparence, de légitimité, de limitation des
        finalités, de minimisation des données, d'exactitude, de sécurité, d'intégrité et de responsabilité en ce qui
        concerne le traitement de vos données personnelles.</p>

    <p><span class="h5">Transparence des Informations :</span>Tout au long de vos intéractions, vous
        êtes
        tenus informé
        de la manière
        dont nous traitons vos données personnelles, et pour quels objectifs.</p>
    <p><span class="h5">Collecte de Données: </span>Nous collectons uniquement les données nécessaires
        à
        l'exploitation
        de nos services comme le suivi de vos parcours formation, vos évaluations et votre intégration sur le marché du
        travail. Ces données
        sont recueillies de manière transparente et dans le respect de la réglementation en vigueur.</p>

    <p><span class="h5">Politique d'utilisation des cookies:</span> Concernant les cookies Google
        Analytics, si vous les acceptez, ils seront utilisés comme données d'analyse, données anonymisées, pour
        travailler à améliorer votre parcours utilisateur...</p>

    <app-cookie-consent-banner *ngIf="integratedBanner" [integratedBanner]="integratedBanner"
        class="rgpd-banner"></app-cookie-consent-banner>

    <p><span class="h5">Droits des Utilisateurs: </span>Vous avez le droit d'accéder à vos données
        personnelles, de les
        rectifier et de
        les supprimer à tout moment depuis
        votre compte utilisateur. Si vous avez des questions sur la manière dont vos données sont traitées, n'hésitez
        pas à
        nous contacter.
    </p>
    <p><span class="h5">Conservation des Données: </span>Nous ne conservons vos données que le temps
        nécessaire à la
        réalisation des
        finalités pour lesquelles elles ont été collectées. Une fois ces finalités atteintes, vos données sont
        supprimées ou
        anonymisées.
    </p>
    <p><span class="h5">Sécurité des Données: </span>Nous utilisons Firebase Firestore comme système
        de
        stockage de données pour notre application. Firestore est une base de données NoSQL cloud, offrant une
        infrastructure robuste et évolutive pour stocker et gérer les données des utilisateurs.
    </p>
    <p>Pour toute question concernant vos données personnelles, merci de nous contacter à l'adresse suivante :
        S.A.S. RÉSEAU C&S, 8 rue Jean Walton, ZAE Taillefer, 33450 MONTUSSAN, France, ou par email à dpo@city-pro.i</p>
</div>