<!-- <h2>Politique de Confidentialité et Charte RGPD</h2> -->
<p class="fs-5">Notre politique de confidentialité est conforme au Règlement général sur la protection des données (RGPD) de l'Union
    européenne. Nous nous engageons à respecter les principes de transparence, de légitimité, de limitation des
    finalités, de minimisation des données, d'exactitude, de sécurité, d'intégrité et de responsabilité en ce qui
    concerne le traitement de vos données personnelles.</p>

<p class="fs-5"><span class="fw-bold">Transparence des Informations :</span>Tout au long de vos intéractions, vous êtes tenus informé
    de la manière
    dont nous traitons vos données personnelles, et pour quels objectifs.</p>
<p class="fs-5"><span class="fw-bold">Collecte de Données: </span>Nous collectons uniquement les données nécessaires à l'exploitation
    de nos services et au suivi de vos parcours de formation, vos évaluations et votre intégration sur le marché du travail. Ces données
    sont recueillies de manière transparente et dans le respect de la réglementation en vigueur.</p>

<app-cookie-consent-banner *ngIf="consentService.hasRefusedConsent()" class="rgpd-banner"></app-cookie-consent-banner>

<p class="fs-5"><span class="fw-bold">Droits des Utilisateurs: </span>Vous avez le droit d'accéder à vos données personnelles, de les
    rectifier et de
    les supprimer à tout moment depuis
    votre compte utilisateur. Si vous avez des questions sur la manière dont vos données sont traitées, n'hésitez pas à
    nous contacter.
</p>
<p class="fs-5"><span class="fw-bold">Conservation des Données: </span>Nous ne conservons vos données que le temps nécessaire à la
    réalisation des
    finalités pour lesquelles elles ont été collectées. Une fois ces finalités atteintes, vos données sont supprimées ou
    anonymisées.
</p>
<p class="fs-5"><span class="fw-bold">Sécurité des Données: </span>Nous utilisons Firebase Firestore comme système de stockage de données pour notre application. Firestore est une base de données NoSQL cloud, offrant une infrastructure robuste et évolutive pour stocker et gérer les données des utilisateurs.
</p>