<div class="container py-5">

    <h3>Mise à jour d'un évaluateur de la liste évaluateurs</h3>

    <form class="form" #f="ngForm" (submit)="updateEvaluator(f)">

        <label for="firstName" class="form-label mt-3">Prénom</label>
        <input type="text" id="evalFirstName" [(ngModel)]="evaluator.firstName" name="evalFirstName" class="form-control">
        <label for="lastName" class="form-label mt-3" required>Nom</label>
        <input type="text" id="evalLastName" [(ngModel)]="evaluator.lastName" name="evalLastName" class="form-control">
        <label for="email" class="form-label mt-3" required>Email</label>
        <input type="text" id="evalEmail" [(ngModel)]="evaluator.email" name="evalEmail" class="form-control">

        <textarea name="details" id="details" [(ngModel)]="evaluator.details" name="details" cols="100" rows="10"
            class="form-control mt-3">Détails / Remarques & Objectifs...</textarea>
        <button type="submit" id="submit" class="btn btn-primary mt-3">Valider</button>
    </form>
    
</div>
